Repository fleetyards/fleetyards: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run lint:js, yarn run lint:css, yarn run lint, rubocop

.lintstagedrc:

{
  "*.js": [
    "yarn run lint:js",
    "git add"
  ],
  "*.{css,scss}": [
    "yarn run lint:css",
    "git add"
  ],
  "*.vue": [
    "yarn run lint",
    "git add"
  ],
  "*.{rb,erb,haml,jbuilder}": [
    "rubocop",
    "git add"
  ]
}

fix(uploader): add base path for stage
  app/javascript/admin/lib/Router/index.js
  app/views/admin/images/index.html.erb
  app/views/admin/models/images.html.erb
  app/views/admin/stations/images.html.erb
  config/locales/en/headlines.yml
Due: yarn run lint:js, rubocop

fix(stage): update secrets
  config/secrets.yml
Due: none

fix(stage): update api path for image uploads
  app/javascript/admin/components/ImageUploader/index.vue
Due: yarn run lint

fix(image): update event name
  app/javascript/admin/components/ImageUploader/index.vue
Due: yarn run lint

chore(release): new Version v3.2.6 (ArcCorp) [ci skip]
  config/version.rb
Due: rubocop

fix(roadmap): filter release format changes
  app/javascript/frontend/pages/Roadmap/Changes/index.vue
  lib/rsi_roadmap_loader.rb
Due: yarn run lint, rubocop

chore(release): new Version v3.2.7 (ArcCorp) [ci skip]
  config/version.rb
Due: rubocop

feat(roadmap): update percentage label
  app/javascript/frontend/partials/Roadmap/RoadmapItem/index.vue
  app/javascript/translations/en.json
  lib/rsi_roadmap_loader.rb
Due: yarn run lint, rubocop

Delete LICENSE
  LICENSE
Due: none

Create LICENSE
  LICENSE
Due: none

chore(deps): update axios
  package.json
  yarn.lock
Due: none

chore(sentry): update secrets
  config/initializers/sentry.rb
  config/secrets.yml
Due: rubocop

chore(release): new Version v3.2.8 (ArcCorp) [ci skip]
  config/version.rb
Due: rubocop

chore(sentry): remove deprecated dsn
  app/views/frontend/index.html.erb
  config/secrets.yml
Due: rubocop

chore(release): new Version v3.2.9 (ArcCorp) [ci skip]
  config/version.rb
Due: rubocop

feat(compare): allow more than 2 ships to be compared
  Gemfile
  Gemfile.lock
  app/controllers/api/v1/models_controller.rb
  app/controllers/frontend/base_controller.rb
  app/javascript/frontend/components/Form/FilterGroup/index.vue
  app/javascript/frontend/components/Form/FilterGroup/styles/index.scss
  app/javascript/frontend/lib/Router/index.js
  app/javascript/frontend/lib/Store/index.js
  app/javascript/frontend/pages/Compare/Models/index.vue
  app/javascript/frontend/pages/Models/Show/Images/index.vue
  app/javascript/frontend/pages/Models/Show/Videos/index.vue
  app/javascript/frontend/pages/Models/Show/index.vue
  app/javascript/frontend/partials/Compare/Models/Base/index.vue
  app/javascript/frontend/partials/Compare/Models/Categories/index.vue
  app/javascript/frontend/partials/Compare/Models/Crew/index.vue
  app/javascript/frontend/partials/Compare/Models/Legend/index.vue
  app/javascript/frontend/partials/Compare/Models/Speed/index.vue
  app/javascript/frontend/partials/Vehicles/NewVehiclesModal/index.vue
  app/javascript/stylesheets/main.scss
  app/javascript/stylesheets/partials.scss
  app/javascript/stylesheets/partials/background.scss
  app/javascript/stylesheets/partials/compare-models.scss
  app/javascript/stylesheets/partials/hardpoints.scss
  app/javascript/translations/en.json
  app/views/api/v1/models/_complete.jbuilder
  config/locales/en/en.yml
  vendor/cache/image_processing-1.9.0.gem
  vendor/cache/ruby-vips-2.0.13.gem
Due: yarn run lint:js, yarn run lint:css, yarn run lint, rubocop

feat(compare): allow more than 2 ships to be compared (#631)
  Gemfile
  Gemfile.lock
  app/controllers/api/v1/models_controller.rb
  app/controllers/frontend/base_controller.rb
  app/javascript/frontend/components/Form/FilterGroup/index.vue
  app/javascript/frontend/components/Form/FilterGroup/styles/index.scss
  app/javascript/frontend/lib/Router/index.js
  app/javascript/frontend/lib/Store/index.js
  app/javascript/frontend/pages/Compare/Models/index.vue
  app/javascript/frontend/pages/Models/Show/Images/index.vue
  app/javascript/frontend/pages/Models/Show/Videos/index.vue
  app/javascript/frontend/pages/Models/Show/index.vue
  app/javascript/frontend/partials/Compare/Models/Base/index.vue
  app/javascript/frontend/partials/Compare/Models/Categories/index.vue
  app/javascript/frontend/partials/Compare/Models/Crew/index.vue
  app/javascript/frontend/partials/Compare/Models/Legend/index.vue
  app/javascript/frontend/partials/Compare/Models/Speed/index.vue
  app/javascript/frontend/partials/Vehicles/NewVehiclesModal/index.vue
  app/javascript/stylesheets/main.scss
  app/javascript/stylesheets/partials.scss
  app/javascript/stylesheets/partials/background.scss
  app/javascript/stylesheets/partials/compare-models.scss
  app/javascript/stylesheets/partials/hardpoints.scss
  app/javascript/translations/en.json
  app/views/api/v1/models/_complete.jbuilder
  config/locales/en/en.yml
  vendor/cache/image_processing-1.9.0.gem
  vendor/cache/ruby-vips-2.0.13.gem
Due: yarn run lint:js, yarn run lint:css, yarn run lint, rubocop

fix(compare): update image generation
  app/controllers/frontend/base_controller.rb
Due: rubocop

fix(model-loader): update production-status when empty
  lib/rsi_models_loader.rb
Due: rubocop

chore(release): new Version v3.2.10 (ArcCorp) [ci skip]
  config/version.rb
Due: rubocop

feat(compare): sort models
  app/javascript/frontend/pages/Compare/Models/index.vue
Due: yarn run lint

feat(compare): update styling
  app/javascript/stylesheets/partials/compare-models.scss
Due: yarn run lint:css

chore(release): new Version v3.2.11 (ArcCorp) [ci skip]
  config/version.rb
Due: rubocop

chore(eslint): add component name rule
  .eslintrc
  app/javascript/frontend/partials/FleetchartSlider/index.vue
  app/javascript/frontend/partials/Vehicles/GroupModal/index.vue
Due: yarn run lint

chore(eslint): add component name rule (#632)
  .eslintrc
  app/javascript/frontend/partials/FleetchartSlider/index.vue
  app/javascript/frontend/partials/Vehicles/GroupModal/index.vue
Due: yarn run lint

refactor(libs): update prefetch and cleanup
  app/javascript/frontend/lib/ApiClient/index.js
  app/javascript/frontend/lib/DataPrefetch/index.js
  app/javascript/frontend/lib/Store/index.js
  app/javascript/frontend/pages/Models/Show/index.vue
  app/javascript/packs/frontend.js
  app/javascript/translations/en.json
Due: yarn run lint:js, yarn run lint

fix(compare): add workaround for overscrolling
  app/javascript/stylesheets/partials/compare-models.scss
Due: yarn run lint:css

fix(compare): update uec label
  app/javascript/frontend/partials/Compare/Models/Base/index.vue
Due: yarn run lint

chore(release): new Version v3.2.12 (ArcCorp) [ci skip]
  config/version.rb
Due: rubocop

chore: update arccorp seeds
  app/javascript/stylesheets/main.scss
  db/seeds/01_stanton/02_hurston/01_hurston.rb
  db/seeds/01_stanton/03_arccorp/01_arccorp.rb
Due: yarn run lint:css, rubocop

chore(seeds): update hurston hangars
  app/javascript/frontend/lib/Helpers/index.js
  app/javascript/frontend/mixins/Helpers/index.js
  app/javascript/frontend/partials/Stations/Docks/index.vue
  app/javascript/frontend/partials/Stations/Panel/styles/index.scss
  app/javascript/packs/frontend.js
  app/javascript/stylesheets/main.scss
  db/seeds/01_stanton/02_hurston/01_hurston.rb
  test/controllers/api/v1/stations_controller_test.rb
Due: yarn run lint:js, yarn run lint:css, yarn run lint, rubocop

fix(compare): set overflow to auto
  app/javascript/stylesheets/partials/compare-models.scss
Due: yarn run lint:css

fix(compare): remove models correctly
  app/javascript/frontend/pages/Compare/Models/index.vue
Due: yarn run lint

chore(noty): dont post errors as desktop notifications
  app/javascript/frontend/lib/Noty/index.js
  app/javascript/frontend/partials/AppFooter/index.vue
  app/javascript/frontend/partials/AppFooter/styles/index.scss
Due: yarn run lint:js, yarn run lint:css, yarn run lint

chore(release): new Version v3.2.13 (ArcCorp) [ci skip]
  config/version.rb
Due: rubocop

fix(admin): update charts path
  app/helpers/application_helper.rb
  app/views/admin/base/_classification_chart_panel.slim
  app/views/admin/base/_components_chart_panel.slim
  app/views/admin/base/_manufacturers_chart_panel.slim
  app/views/admin/base/_models_chart_panel.slim
  app/views/admin/base/_production_status_chart_panel.slim
  app/views/admin/base/_size_chart_panel.slim
Due: rubocop

chore(admin): update dashboard urls
  app/assets/javascripts/app/dashboard.coffee
  app/views/admin/base/_quick_stats.slim
  app/views/admin/base/_users_panel.slim
  app/views/admin/base/_visits_panel.slim
Due: none

chore(release): new Version v3.2.14 (ArcCorp) [ci skip]
  config/version.rb
Due: rubocop

feat(roadmap): add Releases page
  app/controllers/api/v1/roadmap_controller.rb
  app/javascript/frontend/pages/Roadmap/Changes/index.vue
  app/javascript/frontend/pages/Roadmap/Releases/index.vue
  app/javascript/frontend/partials/Roadmap/RoadmapItem/index.vue
  app/javascript/frontend/routes.js
  app/javascript/stylesheets/partials/roadmap.scss
  app/javascript/translations/en.json
  config/locales/en/en.yml
  config/routes/frontend_routes.rb
  lib/rsi_roadmap_loader.rb
Due: yarn run lint:js, yarn run lint:css, yarn run lint, rubocop
