Repository fleetyards/fleetyards: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run lint:js, yarn run lint:css, yarn run lint, rubocop

.lintstagedrc:

{
  "*.js": [
    "yarn run lint:js",
    "git add"
  ],
  "*.{css,scss}": [
    "yarn run lint:css",
    "git add"
  ],
  "*.vue": [
    "yarn run lint",
    "git add"
  ],
  "*.{rb,erb,haml,jbuilder}": [
    "rubocop",
    "git add"
  ]
}

chore(deps): apply new linting rules
  app/javascript/admin/components/ImageUploader/index.vue
  app/javascript/embed/FleetyardsView.vue
  app/javascript/frontend/components/Chart/index.vue
  app/javascript/frontend/components/FilteredList/index.vue
  app/javascript/frontend/components/Form/FilterGroup/index.vue
  app/javascript/frontend/components/Gallery/index.vue
  app/javascript/frontend/lib/DataPrefetch/index.js
  app/javascript/frontend/lib/I18n/index.js
  app/javascript/frontend/lib/Store/index.js
  app/javascript/frontend/mixins/Filters/index.js
  app/javascript/frontend/notFound.js
  app/javascript/frontend/pages/Compare/Models/index.vue
  app/javascript/frontend/pages/Hangar/Import/index.vue
  app/javascript/frontend/pages/Hangar/index.vue
  app/javascript/frontend/pages/Roadmap/Changes/index.vue
  app/javascript/frontend/pages/Roadmap/Releases/index.vue
  app/javascript/frontend/pages/Roadmap/index.vue
  app/javascript/frontend/pages/Signup/index.vue
  app/javascript/frontend/partials/Compare/Models/Categories/index.vue
  app/javascript/frontend/partials/Models/AddToHangar/index.vue
  app/javascript/frontend/partials/Models/ClassLabels/index.vue
  app/javascript/frontend/partials/Models/Hardpoints/index.vue
  app/javascript/frontend/partials/Models/TopMetrics/index.vue
  app/javascript/frontend/partials/Roadmap/RoadmapItem/index.vue
  app/javascript/frontend/partials/Stations/Docks/index.vue
  app/javascript/frontend/partials/Vehicles/AddonsModal/Addons/index.vue
  app/javascript/frontend/partials/Vehicles/AddonsModal/index.vue
  app/javascript/frontend/partials/Vehicles/GroupLabels/index.vue
  app/javascript/frontend/partials/Vehicles/Modal/index.vue
  app/javascript/packs/admin.js
  app/javascript/packs/embed.js
  app/javascript/packs/embed_v2.js
  app/javascript/packs/frontend.js
  test/javascript/e2e/support/commands.js
Due: yarn run lint:js, yarn run lint

feat(public-hangar): add avatar and link to rsi profile
  app/controllers/api/v1/users_controller.rb
  app/javascript/frontend/pages/Hangar/Public/index.scss
  app/javascript/frontend/pages/Hangar/Public/index.vue
  app/models/ability.rb
  app/models/user.rb
  app/views/api/v1/users/_base.jbuilder
  app/views/api/v1/users/_public.jbuilder
  app/views/api/v1/users/public.jbuilder
  config/routes/api_v1_routes.rb
Due: yarn run lint:css, yarn run lint, rubocop

feat(public-hangar): add avatar and link to rsi profile (#772)
  app/controllers/api/v1/users_controller.rb
  app/javascript/frontend/pages/Hangar/Public/index.scss
  app/javascript/frontend/pages/Hangar/Public/index.vue
  app/models/ability.rb
  app/models/user.rb
  app/views/api/v1/users/_base.jbuilder
  app/views/api/v1/users/_public.jbuilder
  app/views/api/v1/users/public.jbuilder
  config/routes/api_v1_routes.rb
Due: yarn run lint:css, yarn run lint, rubocop

chore(deps): downgrade puma
  Gemfile
  Gemfile.lock
  app/views/layouts/admin/_footer.haml
  vendor/cache/puma-4.0.1.gem
  vendor/cache/puma-4.1.0.gem
Due: rubocop

chore(release): new Version v3.18.0 (ArcCorp) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: rubocop

chore(seeds): add missing stores to arc-l1
  db/seeds/01_stanton/03_arccorp/04_arc_l1.rb
  db/seeds/images/stanton/arccorp/arc-l1/admin.jpg
  db/seeds/images/stanton/arccorp/arc-l1/casaba.jpg
  db/seeds/images/stanton/arccorp/arc-l1/platinum.jpg
  db/seeds/images/stanton/arccorp/arc-l1/weapons.jpg
Due: rubocop

fix(seeds): update image paths
  db/seeds/01_stanton/03_arccorp/04_arc_l1.rb
Due: rubocop

chore(release): new Version v3.18.1 (ArcCorp) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: rubocop

fix(admin): prefill selectize inputs
  app/assets/javascripts/app/shops.coffee
Due: none

chore(release): new Version v3.18.2 (ArcCorp) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: rubocop

chore(deps): rubocoptering
  app/models/commodity.rb
  app/models/component.rb
  app/models/dock.rb
  app/models/equipment.rb
  app/models/habitation.rb
  app/models/shop.rb
  app/models/station.rb
  app/models/video.rb
Due: rubocop

chore(deps): lint cypress files
  test/javascript/e2e/specs/Login.spec.js
  test/javascript/e2e/specs/Signup.spec.js
Due: yarn run lint:js

chore(routes): add trailing slashes
  app/javascript/frontend/lib/Router/index.js
  app/javascript/frontend/pages/Settings/routes.js
  app/javascript/frontend/pages/Stations/routes.js
  app/javascript/frontend/routes.js
Due: yarn run lint:js

fix(router): replace flat() with concat spread
  app/javascript/frontend/lib/Router/index.js
Due: yarn run lint:js

feat(filter): add searchable to will it fit
  app/javascript/frontend/partials/Models/FilterForm/index.vue
Due: yarn run lint

fix(routes): update settings child routes
  app/javascript/frontend/pages/Settings/routes.js
Due: yarn run lint:js

feat(shops): update labels
  app/javascript/frontend/pages/Stations/ShopList/index.scss
  app/javascript/frontend/pages/Stations/ShopList/index.vue
Due: yarn run lint:css, yarn run lint

fix(routes): for child routes
  app/javascript/frontend/lib/Router/index.js
Due: yarn run lint:js

chore(release): new Version v3.19.0 (ArcCorp) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: rubocop

feat(hangar): fix stats loading
  app/javascript/frontend/lib/Router/index.js
  app/javascript/frontend/pages/Hangar/Public/index.vue
Due: yarn run lint:js, yarn run lint

chore(release): new Version v3.20.0 (ArcCorp) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: rubocop

fix(modal): update mobile styles
  app/javascript/frontend/components/Modal/index.scss
  app/models/equipment.rb
  config/locales/en/activerecord.yml
Due: yarn run lint:css, rubocop

chore(release): new Version v3.20.1 (ArcCorp) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: rubocop

fix(verification): update process for rsi verification
  app/controllers/api/v1/stats_controller.rb
  app/controllers/api/v1/vehicles_controller.rb
  app/javascript/frontend/components/Panel/index.vue
  app/javascript/frontend/lib/Noty/index.js
  app/javascript/frontend/pages/Settings/Profile/index.vue
  app/javascript/frontend/pages/Settings/Verify/index.scss
  app/javascript/frontend/pages/Settings/Verify/index.vue
  app/javascript/stylesheets/partials/panel.scss
  app/javascript/translations/en/headlines.js
  app/javascript/translations/en/messages.js
  config/locales/en/messages.yml
  config/schedule.yml
Due: yarn run lint:js, yarn run lint:css, yarn run lint, rubocop

fix(verification): update workflow
  app/javascript/frontend/pages/Settings/Profile/index.vue
  app/javascript/frontend/pages/Settings/Verify/index.vue
  app/javascript/frontend/pages/Settings/index.vue
  app/javascript/translations/en/messages.js
  app/javascript/translations/en/nav.js
Due: yarn run lint:js, yarn run lint

chore(release): new Version v3.20.2 (ArcCorp) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: rubocop

fix(verification): update e2e tests
  test/javascript/e2e/specs/Signup.spec.js
Due: yarn run lint:js

chore(release): new Version v3.20.3 (ArcCorp) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: rubocop

feat(roadmap): remove inprogress for now
  app/javascript/frontend/pages/Roadmap/Releases/index.vue
  app/javascript/frontend/partials/Roadmap/RoadmapItem/index.vue
  app/javascript/translations/en/labels.js
  app/models/roadmap_item.rb
  app/views/api/v1/roadmap/_base.jbuilder
  test/controllers/api/v1/roadmap_controller_test.rb
  test/fixtures/roadmap_items.yml
Due: yarn run lint:js, yarn run lint, rubocop

chore(tests): use file storage for tests
  config/initializers/carrierwave.rb
Due: rubocop

chore(release): new Version v3.21.0 (ArcCorp) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: rubocop

chore(seeds): update hangars
  app/javascript/frontend/partials/Models/Hardpoints/Category/index.vue
  db/seeds/01_stanton/02_hurston/01_hurston.rb
  db/seeds/01_stanton/03_arccorp/01_arccorp.rb
Due: yarn run lint, rubocop

chore(release): new Version v3.21.1 (ArcCorp) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: rubocop

fix(stations): update dock sorting
  app/javascript/frontend/partials/Stations/Docks/Item/index.vue
Due: yarn run lint

chore(release): new Version v3.21.2 (ArcCorp) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: rubocop

fix(admin): update for latest carrierwave changes
  app/views/admin/models/_form.haml
Due: rubocop

chore(release): new Version v3.21.3 (ArcCorp) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: rubocop

fix(store-image): add background color
  app/javascript/frontend/pages/Models/Show/index.scss
  app/javascript/stylesheets/partials/noty.scss
Due: yarn run lint:css

chore(release): new Version v3.21.4 (ArcCorp) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: rubocop

chore(support): add patreon links
  app/javascript/frontend/partials/AppFooter/index.scss
  app/javascript/frontend/partials/AppFooter/index.vue
  app/javascript/frontend/partials/Support/index.vue
  app/javascript/translations/en/labels.js
Due: yarn run lint:js, yarn run lint:css, yarn run lint
