Repository fleetyards/fleetyards: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run lint:js, yarn run lint:css, yarn run lint, rubocop

fix(specs): update test labels
  app/javascript/frontend/pages/Signup/index.vue
  app/javascript/frontend/partials/Stations/Panel/index.scss
  app/javascript/frontend/partials/Stations/Panel/index.vue
  test/javascript/e2e/specs/Signup.spec.js
  test/javascript/e2e/specs/Stations.spec.js
Due: yarn run lint:js, yarn run lint:css, yarn run lint

chore(discord): add notifications for fleetyards.net discord
  Gemfile
  Gemfile.lock
  app/views/model_mailer/notify_new.html.inky
  app/views/vehicle_mailer/on_sale.html.inky
  app/workers/model_notification_worker.rb
  app/workers/roadmap_worker.rb
  app/workers/vehicles_worker.rb
  config/locales/en/discord.yml
  config/locales/en/en.yml
  config/secrets.yml
  lib/discord/new_ship.rb
  lib/discord/roadmap_update.rb
  lib/discord/ship_on_sale.rb
  lib/discord/webhook.rb
  vendor/cache/discordrb-webhooks-3.3.0.gem
  vendor/cache/domain_name-0.5.20190701.gem
  vendor/cache/http-accept-1.7.0.gem
  vendor/cache/http-cookie-1.0.3.gem
  vendor/cache/netrc-0.11.0.gem
  vendor/cache/rest-client-2.1.0.gem
  vendor/cache/unf-0.1.4.gem
  vendor/cache/unf_ext-0.0.7.6.gem
Due: rubocop

chore: rubocoptering
  .circleci/config.yml
  lib/discord/webhook.rb
Due: rubocop

chore(ci): update config
  .circleci/config.yml
Due: none

chore(cookies): update youtube videos
  app/javascript/frontend/App.vue
  app/javascript/frontend/pages/Models/Show/Videos/index.vue
  app/javascript/frontend/pages/PrivacyPolicy/index.vue
  app/javascript/frontend/partials/CookiesBanner/index.vue
  app/javascript/stylesheets/partials/media.scss
Due: yarn run lint:css, yarn run lint

chore(release): new Version v3.63.0 (ArcCorp) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: rubocop

fix(fleets): update memberships on user update
  app/models/user.rb
Due: rubocop

chore(release): new Version v3.63.1 (ArcCorp) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: rubocop

fix(fleets): update rsi icon
  app/javascript/images/rsi_logo.png
Due: none

chore(release): new Version v3.63.2 (ArcCorp) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: rubocop

chore(cookies): update privacy settings modal
  app/javascript/frontend/App.vue
  app/javascript/frontend/components/Modal/index.vue
  app/javascript/frontend/lib/Store/modules/session/state.js
  app/javascript/frontend/pages/PrivacyPolicy/index.vue
  app/javascript/frontend/partials/CookiesBanner/index.scss
  app/javascript/frontend/partials/CookiesBanner/index.vue
  app/javascript/frontend/partials/PrivacySettings/index.scss
  app/javascript/frontend/partials/PrivacySettings/index.vue
  app/javascript/packs/frontend.js
  app/javascript/translations/en.js
  app/javascript/translations/en/cookies.js
  app/javascript/translations/en/privacySettings.js
Due: yarn run lint:js, yarn run lint:css, yarn run lint

chore: linting
  app/javascript/frontend/App.vue
Due: yarn run lint

chore(specs): update e2e tests
  test/javascript/e2e/specs/Footer.spec.js
  test/javascript/e2e/specs/Hangar.spec.js
  test/javascript/e2e/specs/Home.spec.js
  test/javascript/e2e/specs/Images.spec.js
  test/javascript/e2e/specs/Login.spec.js
  test/javascript/e2e/specs/Roadmap.spec.js
  test/javascript/e2e/specs/Ship.spec.js
  test/javascript/e2e/specs/Ships.spec.js
  test/javascript/e2e/specs/Signup.spec.js
  test/javascript/e2e/specs/Stations.spec.js
  test/javascript/e2e/specs/Stats.spec.js
Due: yarn run lint:js

fix(e2e): update cookies helper
  test/javascript/e2e/support/commands.js
Due: yarn run lint:js

chore(e2e): fix fleet spec
  test/javascript/e2e/specs/Fleet.spec.js
Due: yarn run lint:js

chore(release): new Version v3.63.3 (ArcCorp) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: rubocop

chore: bump store version
  config/secrets.yml
Due: none

chore(release): new Version v3.63.4 (ArcCorp) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: rubocop

chore(cookies): update store module
  app/javascript/frontend/App.vue
  app/javascript/frontend/lib/Store/modules/cookies/actions.js
  app/javascript/frontend/lib/Store/modules/cookies/index.js
  app/javascript/frontend/lib/Store/modules/cookies/state.js
  app/javascript/frontend/lib/Store/modules/index.js
  app/javascript/frontend/lib/Store/modules/session/index.js
  app/javascript/frontend/lib/Store/modules/session/state.js
  app/javascript/frontend/lib/Store/plugins.js
  app/javascript/frontend/partials/PrivacySettings/index.vue
  config/secrets.yml
Due: yarn run lint:js, yarn run lint

chore(release): new Version v3.63.5 (ArcCorp) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: rubocop

chore(ts): initial setup
  .eslintrc
  .eslintrc.js
  .stylelintrc
  app/javascript/frontend/components/Box/index.vue
  app/javascript/frontend/components/BreadCrumbs/index.vue
  app/javascript/frontend/components/Form/Checkbox/index.vue
  app/javascript/frontend/components/Form/FilterGroup/index.vue
  app/javascript/frontend/components/Form/RadioList/index.vue
  app/javascript/frontend/components/LazyImage/index.scss
  app/javascript/frontend/components/LazyImage/index.vue
  app/javascript/frontend/components/Panel/index.vue
  app/javascript/frontend/lib/LazyLoad/index.ts
  app/javascript/frontend/pages/Impressum/index.vue
  app/javascript/frontend/partials/EmptyBox/index.scss
  app/javascript/frontend/partials/EmptyBox/index.vue
  app/javascript/packs/frontend.js
  app/javascript/stylesheets/partials.scss
  app/javascript/stylesheets/partials/box.scss
  app/javascript/stylesheets/partials/breadcrumbs.scss
  app/javascript/stylesheets/partials/form-checkbox.scss
  app/javascript/stylesheets/partials/form-filtergroup.scss
  app/javascript/stylesheets/partials/form-radio.scss
  app/javascript/stylesheets/partials/media.scss
  config/webpack/environment.js
  config/webpack/loaders/typescript.js
  config/webpacker.yml
  jest.config.js
  package.json
  stylelint.config.js
  tsconfig.json
  yarn.lock
Due: yarn run lint:js, yarn run lint:css, yarn run lint

chore(ci): update elasticsearch setup
  .circleci/config.yml
Due: none

chore(corejs): add missing imports
  app/javascript/packs/admin.js
  app/javascript/packs/embed.js
  app/javascript/packs/embed_v2.js
  app/javascript/packs/frontend.js
Due: yarn run lint:js

chore(ts): initial setup (#1143)
  .circleci/config.yml
  .eslintrc
  .eslintrc.js
  .stylelintrc
  app/javascript/frontend/components/Box/index.vue
  app/javascript/frontend/components/BreadCrumbs/index.vue
  app/javascript/frontend/components/Form/Checkbox/index.vue
  app/javascript/frontend/components/Form/FilterGroup/index.vue
  app/javascript/frontend/components/Form/RadioList/index.vue
  app/javascript/frontend/components/LazyImage/index.scss
  app/javascript/frontend/components/LazyImage/index.vue
  app/javascript/frontend/components/Panel/index.vue
  app/javascript/frontend/lib/LazyLoad/index.ts
  app/javascript/frontend/pages/Impressum/index.vue
  app/javascript/frontend/partials/EmptyBox/index.scss
  app/javascript/frontend/partials/EmptyBox/index.vue
  app/javascript/packs/admin.js
  app/javascript/packs/embed.js
  app/javascript/packs/embed_v2.js
  app/javascript/packs/frontend.js
  app/javascript/stylesheets/partials.scss
  app/javascript/stylesheets/partials/box.scss
  app/javascript/stylesheets/partials/breadcrumbs.scss
  app/javascript/stylesheets/partials/form-checkbox.scss
  app/javascript/stylesheets/partials/form-filtergroup.scss
  app/javascript/stylesheets/partials/form-radio.scss
  app/javascript/stylesheets/partials/media.scss
  config/webpack/environment.js
  config/webpack/loaders/typescript.js
  config/webpacker.yml
  jest.config.js
  package.json
  stylelint.config.js
  tsconfig.json
  yarn.lock
Due: yarn run lint:js, yarn run lint:css, yarn run lint

chore(corejs): remove imports
  app/javascript/packs/admin.js
  app/javascript/packs/embed.js
  app/javascript/packs/embed_v2.js
  app/javascript/packs/frontend.js
Due: yarn run lint:js

chore(webpacker): add more debugging
  config/webpacker.yml
Due: none

chore(ci): try to limit ram usage of node
  .circleci/config.yml
Due: none

fix(modal): update item align
  app/javascript/frontend/components/Modal/index.scss
  app/javascript/frontend/components/Modal/index.vue
Due: yarn run lint:css, yarn run lint

fix(modal): update position on desktop
  app/javascript/frontend/components/Modal/index.scss
Due: yarn run lint:css

chore(release): new Version v3.63.6 (ArcCorp) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: rubocop

refactor(ts): rewrite prop validation of panel component
  app/javascript/frontend/components/Panel/index.vue
Due: yarn run lint

Path conditions:
  yarn run lint:js: any of: *.js
  yarn run lint:css: any of: *.{css,scss}
  yarn run lint: any of: *.vue
  rubocop: any of: *.{rb,erb,haml,jbuilder}
