Repository fleetyards/fleetyards: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run lint:js, yarn run lint:css, yarn run lint, rubocop

.lintstagedrc:

{
  "*.js": [
    "yarn run lint:js",
    "git add"
  ],
  "*.{css,scss}": [
    "yarn run lint:css",
    "git add"
  ],
  "*.vue": [
    "yarn run lint",
    "git add"
  ],
  "*.{rb,erb,haml,jbuilder}": [
    "rubocop",
    "git add"
  ]
}

chore(search): disable global search feature for first release
  app/javascript/frontend/pages/Home/index.vue
  test/javascript/e2e/specs/Home.spec.js
Due: yarn run lint:js, yarn run lint

fix(search): update route
  app/javascript/frontend/pages/Home/index.vue
Due: yarn run lint

feat(search): update history list
  app/javascript/admin/components/ImageUploader/index.vue
  app/javascript/frontend/components/Form/FormInput/index.vue
  app/javascript/frontend/pages/Hangar/Import/index.vue
  app/javascript/frontend/pages/Hangar/index.vue
  app/javascript/frontend/pages/Models/index.vue
  app/javascript/frontend/pages/Roadmap/Changes/index.vue
  app/javascript/frontend/pages/Roadmap/Ships/index.vue
  app/javascript/frontend/pages/Roadmap/index.vue
  app/javascript/frontend/pages/Search/index.scss
  app/javascript/frontend/pages/Search/index.vue
  app/javascript/frontend/pages/Stations/ShopList/index.vue
  app/javascript/frontend/pages/Stations/index.vue
  app/javascript/frontend/pages/TradeRoutes/index.vue
  app/javascript/frontend/partials/EmptyBox/index.vue
  app/javascript/frontend/partials/Search/History/index.vue
  app/javascript/stylesheets/partials/panel.scss
Due: yarn run lint:css, yarn run lint

chore(hangar-preview): hide preview for users with account
  app/javascript/frontend/lib/Store/modules/hangar/actions.js
  app/javascript/frontend/lib/Store/modules/hangar/index.js
  app/javascript/frontend/lib/Store/modules/hangar/state.js
  app/javascript/frontend/lib/Store/plugins.js
  app/javascript/frontend/pages/Hangar/Preview/index.vue
  app/javascript/frontend/partials/Navigation/index.vue
Due: yarn run lint:js, yarn run lint

chore: eslinting
  app/javascript/frontend/pages/Hangar/Preview/index.vue
Due: yarn run lint

chore: eslintering
  .eslintrc
  test/javascript/unit/helpers/sanityTest.js
Due: yarn run lint:js

chore(tests): add pride :)
  test/test_helper.rb
Due: rubocop

chore(release): new Version v3.33.0 (ArcCorp) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: rubocop

chore(release): new Version v3.34.0 (ArcCorp) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: rubocop

chore: enable new search feature
  app/javascript/frontend/pages/Home/index.vue
Due: yarn run lint

fix: specs
  test/javascript/e2e/specs/Home.spec.js
Due: yarn run lint:js

chore(release): new Version v3.34.1 (ArcCorp) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: rubocop

fix: group labels alignment
  app/javascript/frontend/partials/Vehicles/GroupLabels/index.scss
  app/javascript/frontend/partials/Vehicles/GroupLabels/index.vue
Due: yarn run lint:css, yarn run lint

chore(roadmap): no longer update when roadmap is on maintenance
  lib/rsi_roadmap_loader.rb
Due: rubocop

chore(release): new Version v3.34.2 (ArcCorp) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: rubocop

chore: rubocoptering
  lib/rsi_roadmap_loader.rb
Due: rubocop

chore(release): new Version v3.34.3 (ArcCorp) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: rubocop

fix: routes
  app/javascript/frontend/routes.js
Due: yarn run lint:js

feat(import): readd buttons and update import page
  app/javascript/frontend/pages/Hangar/Import/index.vue
  app/javascript/frontend/pages/Hangar/index.vue
  app/models/vehicle.rb
Due: yarn run lint, rubocop

feat(search): update name matching
  app/controllers/api/v1/roadmap_controller.rb
  app/controllers/api/v1/search_controller.rb
  app/javascript/frontend/pages/Roadmap/Changes/index.vue
  app/javascript/translations/en/labels.js
  app/models/model.rb
  app/models/shop_commodity.rb
Due: yarn run lint:js, yarn run lint, rubocop

chore(release): new Version v3.35.0 (ArcCorp) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: rubocop

fix(search): add missing word_start settings for remaining models
  app/models/celestial_object.rb
  app/models/shop.rb
  app/models/starsystem.rb
  app/models/station.rb
Due: rubocop

chore(release): new Version v3.35.1 (ArcCorp) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: rubocop

feat(roadmap): update last versions for older weeks
  app/controllers/api/v1/roadmap_controller.rb
  app/models/roadmap_item.rb
  app/views/api/v1/roadmap/_minimal.jbuilder
Due: rubocop

chore(release): new Version v3.36.0 (ArcCorp) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: rubocop

fix: roadmap specs
  app/models/roadmap_item.rb
Due: rubocop

chore(release): new Version v3.36.1 (ArcCorp) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: rubocop

feat(roadmap): add more roadmap updates to select from
  app/controllers/api/v1/roadmap_controller.rb
  app/javascript/frontend/components/Form/FilterGroup/index.vue
  app/javascript/frontend/pages/Roadmap/Changes/index.vue
  app/javascript/translations/en/labels.js
  app/views/api/v1/roadmap/_week.jbuilder
  app/views/api/v1/roadmap/weeks.jbuilder
  config/routes/api_v1_routes.rb
Due: yarn run lint:js, yarn run lint, rubocop

feat(roadmap): rubocoptering
  app/views/api/v1/roadmap/_week.jbuilder
Due: rubocop

chore(release): new Version v3.37.0 (ArcCorp) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: rubocop

chore: fix audit issue with handlebars again
  package.json
  yarn.lock
Due: none

fix(weekly): remove fleets from mailer
  app/workers/admin_notifier_worker.rb
Due: rubocop

chore(release): new Version v3.37.1 (ArcCorp) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: rubocop

chore: update yarn.lock
  yarn.lock
Due: none

chore(deps): update handlebars version
  package.json
  yarn.lock
Due: none

chore: remove integrity check
  config/environments/development.rb
Due: rubocop
