Repository fleetyards/fleetyards: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run lint:js, yarn run lint:css, yarn run lint, rubocop

.lintstagedrc:

{
  "*.js": [
    "yarn run lint:js",
    "git add"
  ],
  "*.{css,scss}": [
    "yarn run lint:css",
    "git add"
  ],
  "*.vue": [
    "yarn run lint",
    "git add"
  ],
  "*.{rb,erb,haml,jbuilder}": [
    "rubocop",
    "git add"
  ]
}

fix(service-worker): correct controller name
  app/controllers/frontend/service_worker_controller.rb
  app/javascript/stylesheets/partials/panel.scss
Due: yarn run lint:css, rubocop

chore(release): new Version v3.5.2 (ArcCorp) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: rubocop

chore(models): allow override of names
  app/javascript/frontend/pages/Hangar/Stats/index.vue
  lib/rsi_models_loader.rb
Due: yarn run lint, rubocop

chore(release): new Version v3.5.3 (ArcCorp) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: rubocop

chore(seeds): update arccorp
  db/seeds/01_stanton/03_arccorp/01_arccorp.rb
  db/seeds/images/stanton/arccorp/area18-1.jpg
  db/seeds/images/stanton/arccorp/riker-memorial.jpg
Due: rubocop

fix(shop-commodities): update filter
  app/assets/stylesheets/partials/_table.scss
  app/controllers/api/v1/components_controller.rb
  app/controllers/api/v1/equipment_controller.rb
  app/controllers/api/v1/shops_controller.rb
  app/javascript/frontend/components/Form/FilterGroup/index.vue
  app/javascript/frontend/pages/Models/Show/index.vue
  app/javascript/frontend/partials/Models/BaseMetrics/index.vue
  app/javascript/frontend/partials/Shops/FilterForm/index.vue
  app/javascript/translations/en.js
  app/javascript/translations/en/labels.js
  app/models/ability.rb
  app/models/model.rb
  app/models/shop.rb
  app/models/station.rb
  app/views/api/v1/models/_complete.jbuilder
  app/views/api/v1/models/_shop.jbuilder
  app/views/api/v1/stations/_base.jbuilder
  config/locales/en/activerecord.yml
  config/routes/api_v1_routes.rb
  db/seeds/01_stanton/03_arccorp/01_arccorp.rb
  db/seeds/images/stanton/arccorp/Arccorp_Planet_01-1-Min.jpg
  db/seeds/images/stanton/arccorp/riker-memorial/admin.jpg
  test/controllers/api/v1/stations_controller_test.rb
  test/fixtures/shop_commodities.yml
  test/fixtures/stations.yml
Due: yarn run lint:js, yarn run lint:css, yarn run lint, rubocop

fix(shop-commodities): update filter (#725)
  app/assets/stylesheets/partials/_table.scss
  app/controllers/api/v1/components_controller.rb
  app/controllers/api/v1/equipment_controller.rb
  app/controllers/api/v1/shops_controller.rb
  app/javascript/frontend/components/Form/FilterGroup/index.vue
  app/javascript/frontend/pages/Models/Show/index.vue
  app/javascript/frontend/partials/Models/BaseMetrics/index.vue
  app/javascript/frontend/partials/Shops/FilterForm/index.vue
  app/javascript/translations/en.js
  app/javascript/translations/en/labels.js
  app/models/ability.rb
  app/models/model.rb
  app/models/shop.rb
  app/models/station.rb
  app/views/api/v1/models/_complete.jbuilder
  app/views/api/v1/models/_shop.jbuilder
  app/views/api/v1/stations/_base.jbuilder
  config/locales/en/activerecord.yml
  config/routes/api_v1_routes.rb
  db/seeds/01_stanton/03_arccorp/01_arccorp.rb
  db/seeds/images/stanton/arccorp/Arccorp_Planet_01-1-Min.jpg
  db/seeds/images/stanton/arccorp/riker-memorial/admin.jpg
  test/controllers/api/v1/stations_controller_test.rb
  test/fixtures/shop_commodities.yml
  test/fixtures/stations.yml
Due: yarn run lint:js, yarn run lint:css, yarn run lint, rubocop

chore(release): new Version v3.5.4 (ArcCorp) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: rubocop

chore(models): order slug list
  app/controllers/api/v1/models_controller.rb
Due: rubocop

refactor(image-upload): update dropbox
  app/javascript/admin/components/ImageUploader/index.vue
  app/javascript/admin/components/ImageUploader/styles/index.scss
Due: yarn run lint:css, yarn run lint

fix(equipment): add missing slots
  app/models/equipment.rb
  db/seeds/01_stanton/02_hurston/01_hurston.rb
Due: rubocop

fix(seeds): disable unfinished entry
  db/seeds/01_stanton/02_hurston/01_hurston.rb
Due: rubocop

chore(release): new Version v3.5.5 (ArcCorp) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: rubocop

chore(seeds): update cru-l1
  db/seeds/01_stanton/01_crusader/05_cru_l1.rb
  db/seeds/images/stanton/crusader/cru-l1/cru-l1-a.jpg
Due: rubocop

chore(release): new Version v3.5.6 (ArcCorp) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: rubocop

fix(equipment): update translations
  app/models/equipment.rb
  config/locales/en/activerecord.yml
Due: rubocop

chore(release): new Version v3.5.7 (ArcCorp) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: rubocop

fix(equipment): rename scopes
  app/models/equipment.rb
  app/models/station.rb
  config/locales/en/activerecord.yml
Due: rubocop

chore(release): new Version v3.5.8 (ArcCorp) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: rubocop

chore(admin): add copy function for equipment
  app/controllers/admin/equipment_controller.rb
  app/views/admin/equipment/_show.haml
  app/views/admin/equipment/_table.haml
  app/views/admin/shops/_form.haml
  config/locales/en/actions.yml
Due: rubocop

chore(release): new Version v3.5.9 (ArcCorp) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: rubocop

chore(seeds): update truckstops
  db/seeds/01_stanton/01_crusader/05_cru_l1.rb
  db/seeds/01_stanton/02_hurston/07_hur_l1.rb
  db/seeds/images/stanton/hurston/hur-l3/hur-l3-a.jpg
Due: rubocop

chore(seeds): update hur-l3
  db/seeds/01_stanton/02_hurston/07_hur_l1.rb
  db/seeds/01_stanton/02_hurston/09_hur_l3.rb
Due: rubocop

chore(seeds): update rest stops
  Gemfile
  Gemfile.lock
  app/assets/javascripts/app.coffee
  app/assets/javascripts/application.js
  app/assets/stylesheets/application.scss
  app/assets/stylesheets/partials/_form.scss
  app/views/shops/_shop_commodity_fields.haml
  db/seeds/01_stanton/01_crusader/06_cru_l2.rb
  db/seeds/01_stanton/01_crusader/07_cru_l3.rb
  db/seeds/01_stanton/01_crusader/08_cru_l4.rb
  db/seeds/01_stanton/02_hurston/11_hur_l5.rb
  db/seeds/01_stanton/03_arccorp/04_arc_l1.rb
  db/seeds/01_stanton/03_arccorp/05_arc_l2.rb
  db/seeds/01_stanton/03_arccorp/06_arc_l3.rb
  db/seeds/01_stanton/03_arccorp/07_arc_l4.rb
  db/seeds/01_stanton/03_arccorp/08_arc_l5.rb
  db/seeds/images/stanton/arccorp/arc-l1/arc-l1.jpg
  db/seeds/images/stanton/crusader/cru-l4/cru-l4-a.jpg
  db/seeds/images/stanton/hurston/hur-l5/hur-l5-a.jpg
  vendor/cache/select2-rails-4.0.3.gem
Due: yarn run lint:js, yarn run lint:css, rubocop

chore(seeds): add todos
  TODOs.md
  db/seeds/01_stanton/01_crusader/05_cru_l1.rb
  db/seeds/01_stanton/01_crusader/08_cru_l5.rb
  db/seeds/01_stanton/02_hurston/07_hur_l1.rb
  db/seeds/01_stanton/02_hurston/08_hur_l2.rb
  db/seeds/01_stanton/02_hurston/09_hur_l3.rb
  db/seeds/01_stanton/02_hurston/10_hur_l4.rb
  db/seeds/01_stanton/02_hurston/11_hur_l5.rb
Due: rubocop

chore(release): new Version v3.5.10 (ArcCorp) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: rubocop

chore(seeds): update rest stops
  TODOs.md
  app/assets/javascripts/app/shops.coffee
  app/controllers/admin/api/v1/equipment_controller.rb
  app/controllers/admin/shops_controller.rb
  app/views/admin/api/v1/equipment/_base.jbuilder
  app/views/admin/api/v1/equipment/_minimal.jbuilder
  app/views/admin/api/v1/equipment/attachments.jbuilder
  app/views/admin/api/v1/equipment/utilities.jbuilder
  app/views/admin/api/v1/equipment/weapons.jbuilder
  app/views/admin/equipment/_form.haml
  app/views/admin/models/index.haml
  app/views/admin/shops/_form.haml
  app/views/admin/shops/index.haml
  app/views/admin/stations/_form.haml
  app/views/admin/stations/index.haml
  config/locales/en/actions.yml
  config/locales/en/helpers.yml
  config/routes/admin_api_v1_routes.rb
  db/seeds/01_stanton/01_crusader/05_cru_l1.rb
  db/seeds/01_stanton/01_crusader/08_cru_l5.rb
  db/seeds/01_stanton/02_hurston/07_hur_l1.rb
  db/seeds/01_stanton/02_hurston/08_hur_l2.rb
  db/seeds/01_stanton/02_hurston/09_hur_l3.rb
  db/seeds/01_stanton/02_hurston/10_hur_l4.rb
  db/seeds/01_stanton/02_hurston/11_hur_l5.rb
  db/seeds/images/stanton/crusader/cru-l5/cru-l5-a.jpg
  db/seeds/images/stanton/hurston/hur-l1/hur-l1-a.jpg
  db/seeds/images/stanton/hurston/hur-l2/hur-l2-a.jpg
  db/seeds/images/stanton/hurston/hur-l4/hur-l4-a.jpg
Due: rubocop

chore(equipment): update data fields
  app/views/admin/equipment/_form.haml
  db/migrate/20190729224613_change_fields_on_equipment.rb
  db/schema.rb
Due: rubocop

chore(release): new Version v3.5.11 (ArcCorp) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: rubocop

chore(commodities): add commodity_type
  app/controllers/admin/commodities_controller.rb
  app/controllers/admin/components_controller.rb
  app/controllers/admin/equipment_controller.rb
  app/models/commodity.rb
  app/views/admin/commodities/_form.haml
  app/views/admin/components/_form.haml
  config/locales/en/activerecord.yml
  config/locales/en/helpers.yml
  db/migrate/20190730151855_add_commodity_type_to_commodities.rb
  db/schema.rb
Due: rubocop

chore(deps): update cypress
  package.json
  yarn.lock
Due: none

chore(commodities): add more types
  app/models/commodity.rb
  config/locales/en/activerecord.yml
Due: rubocop

chore(deps): remove storybook vue info addon
  .storybook/addons.js
  app/javascript/frontend/components/Box/__story__/index.js
  app/javascript/frontend/components/Btn/__story__/index.js
  app/javascript/frontend/components/Chart/__story__/index.js
  app/javascript/frontend/components/Loader/__story__/index.js
  app/javascript/frontend/components/Models/Panel/__story__/index.js
  app/javascript/frontend/components/Panel/__story__/index.js
  app/javascript/frontend/components/SmallLoader/__story__/index.js
  app/javascript/frontend/components/TeaserPanel/__story__/index.js
  package.json
  yarn.lock
Due: yarn run lint:js

chore(release): new Version v3.5.12 (ArcCorp) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: rubocop

chore(commodity): update type
  app/assets/images/fallback/commodity.png
  app/controllers/admin/commodities_controller.rb
  app/javascript/frontend/partials/Stations/Docks/index.vue
  app/models/commodity.rb
  app/models/station.rb
  app/uploaders/commodity_store_image_uploader.rb
  app/views/admin/commodities/_show.haml
  app/views/admin/commodities/_table.haml
  app/views/admin/commodities/index.haml
Due: yarn run lint, rubocop

chore(release): new Version v3.5.13 (ArcCorp) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: rubocop

chore(tests): update station tests
  test/controllers/api/v1/stations_controller_test.rb
  test/fixtures/docks.yml
Due: rubocop

chore(release): new Version v3.5.14 (ArcCorp) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: rubocop

chore(commodities): add type label
  app/controllers/admin/shops_controller.rb
  app/models/commodity.rb
  app/models/shop_commodity.rb
  app/uploaders/commodity_store_image_uploader.rb
  app/views/api/v1/commodities/_base.jbuilder
  app/views/api/v1/shop_commodities/_base.jbuilder
  app/views/shops/_shop_commodity_fields.haml
  config/locales/en/activerecord.yml
  db/migrate/20190731152757_add_price_per_unit_to_shop_commodities.rb
  db/schema.rb
Due: rubocop

chore(commodities): update tests
  test/controllers/api/v1/shop_commodities_controller_test.rb
Due: rubocop
