Repository fleetyards/fleetyards: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run lint:js, yarn run lint:css, yarn run lint, rubocop

.lintstagedrc:

{
  "*.js": [
    "yarn run lint:js",
    "git add"
  ],
  "*.{css,scss}": [
    "yarn run lint:css",
    "git add"
  ],
  "*.vue": [
    "yarn run lint",
    "git add"
  ],
  "*.{rb,erb,haml,jbuilder}": [
    "rubocop",
    "git add"
  ]
}

fix(model): add missing check for vehicle
  app/javascript/frontend/components/Models/Panel/index.vue
Due: yarn run lint

chore(release): new Version v3.39.0 (ArcCorp) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: rubocop

feat(hangar): update gold for flagship
  app/javascript/frontend/components/Models/Panel/index.scss
  app/javascript/stylesheets/partials/panel.scss
  app/javascript/stylesheets/variables.scss
Due: yarn run lint:css

chore(release): new Version v3.40.0 (ArcCorp) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: rubocop

fix(rsi): cache bust api requests
  lib/rsi_models_loader.rb
  lib/rsi_roadmap_loader.rb
Due: rubocop

chore(release): new Version v3.40.1 (ArcCorp) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: rubocop

chore: rubocoptering
  lib/rsi_roadmap_loader.rb
Due: rubocop

chore(release): new Version v3.40.2 (ArcCorp) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: rubocop

chore: disable csp report
  config/initializers/content_security_policy.rb
Due: rubocop

chore(release): new Version v3.40.3 (ArcCorp) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: rubocop

chore(audit): update serialize-javascript
  package.json
  yarn.lock
Due: none

chore(s3): disable cdn for now
  config/initializers/carrierwave.rb
Due: rubocop

chore(release): new Version v3.40.4 (ArcCorp) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: rubocop

fix(cors): add production s3 url
  config/initializers/content_security_policy.rb
Due: rubocop

chore(release): new Version v3.40.5 (ArcCorp) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: rubocop

chore(uploads): use local files
  config/initializers/carrierwave.rb
Due: rubocop

chore(release): new Version v3.40.6 (ArcCorp) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: rubocop

chore: rubocoptering
  config/initializers/carrierwave.rb
Due: rubocop

chore(release): new Version v3.40.7 (ArcCorp) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: rubocop

chore: link uploads
  config/deploy.rb
Due: rubocop

feat(stations): add shadow for info texts and headlines
  app/javascript/frontend/components/Stations/Panel/index.scss
  app/javascript/frontend/pages/Stations/ShopList/index.scss
Due: yarn run lint:css

chore(release): new Version v3.41.0 (ArcCorp) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: rubocop

feat(stations): add quick search
  Gemfile
  app/controllers/api/v1/celestial_objects_controller.rb
  app/controllers/api/v1/models_controller.rb
  app/controllers/api/v1/starsystems_controller.rb
  app/controllers/api/v1/stations_controller.rb
  app/javascript/frontend/components/Stations/Panel/index.scss
  app/javascript/frontend/partials/Models/FilterForm/index.vue
  app/javascript/frontend/partials/Stations/FilterForm/index.vue
  app/javascript/frontend/routes.js
  app/javascript/translations/en/placeholders.js
  app/models/celestial_object.rb
  app/models/model.rb
  app/models/starsystem.rb
  app/models/station.rb
Due: yarn run lint:js, yarn run lint:css, yarn run lint, rubocop

chore(release): new Version v3.42.0 (ArcCorp) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: rubocop

chore(release): new Version v3.42.1 (ArcCorp) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: rubocop

fix(seeds): update index
  Gemfile
  Gemfile.lock
  db/seeds.rb
  db/seeds/01_stanton/04_microtech/01a_porttressler.rb
  vendor/cache/excon-0.64.0.gem
  vendor/cache/excon-0.71.0.gem
Due: rubocop

chore: rubocoptering
  Gemfile
Due: none

chore(release): new Version v3.42.2 (ArcCorp) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: rubocop

chore(loader): add crusader to loader name cleaning
  lib/rsi_base_loader.rb
Due: rubocop

chore(release): new Version v3.42.3 (ArcCorp) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: rubocop

chore(release): new Version v3.42.4 (ArcCorp) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: rubocop

feat(hangar): add filter for public
  app/controllers/api/v1/vehicles_controller.rb
  app/javascript/frontend/partials/Vehicles/FilterForm/index.vue
  app/javascript/translations/en/labels.js
Due: yarn run lint:js, yarn run lint, rubocop

chore(release): new Version v3.43.0 (ArcCorp) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: rubocop

chore(seeds): update image
  db/seeds/images/stanton/arccorp/baijini/baijini.jpg
Due: none

chore(release): new Version v3.43.1 (ArcCorp) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: rubocop

chore(router): remove last route and previous route
  app/javascript/frontend/lib/Router/index.js
  app/javascript/frontend/lib/Store/index.js
  app/javascript/frontend/lib/Store/plugins.js
  app/javascript/frontend/lib/Store/state.js
  config/secrets.yml
Due: yarn run lint:js

fix: specs
  app/javascript/frontend/pages/Hangar/Import/index.vue
  app/javascript/frontend/pages/Models/Show/Videos/index.vue
  app/javascript/frontend/partials/Search/History/index.vue
  app/views/api/v1/celestial_objects/_base.jbuilder
  test/controllers/api/v1/celestial_objects_controller_test.rb
  test/controllers/api/v1/shops_controller_test.rb
  test/controllers/api/v1/starsystems_controller_test.rb
  test/controllers/api/v1/stations_controller_test.rb
Due: yarn run lint, rubocop
