Repository fleetyards/fleetyards: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run lint:js, yarn run lint:css, yarn run lint, rubocop

refactor(ts): update Modal component
  .eslintrc.js
  app/javascript/frontend/components/Gallery/index.vue
  app/javascript/frontend/components/Modal/index.vue
  app/javascript/frontend/components/Panel/index.vue
  app/javascript/frontend/lib/Store/modules/app/actions.js
  app/javascript/frontend/lib/Store/modules/app/index.js
  package.json
  yarn.lock
Due: yarn run lint:js, yarn run lint

chore(deps): update specs
  test/models/celestial_object_test.rb
  test/models/video_test.rb
Due: rubocop

fix(images): update require import
  app/assets/stylesheets/_partials.scss
  app/assets/stylesheets/application.scss
  app/assets/stylesheets/partials/_checkbox.scss
  app/javascript/frontend/App.vue
  app/javascript/frontend/pages/Fleets/Show/index.vue
  app/javascript/frontend/pages/Home/index.vue
  app/javascript/frontend/pages/Stations/Starsystems/index.vue
  app/javascript/frontend/partials/HangarGuide/index.vue
  app/javascript/frontend/partials/Models/Hardpoints/Category/index.vue
  app/javascript/frontend/partials/Navigation/NavFooter/index.vue
  app/javascript/frontend/partials/Navigation/UserNav/index.vue
  app/javascript/frontend/routes.js
  app/views/devise/sessions/new.html.haml
Due: yarn run lint:js, yarn run lint:css, yarn run lint, rubocop

chore(rails-6): update actioncable js lib
  app/javascript/frontend/lib/Subscriptions/index.js
  package.json
  yarn.lock
Due: yarn run lint:js

chore(rails-6): switch to zeitwerk autoloading
  app/controllers/admin/api/base_controller.rb
  app/controllers/api/base_controller.rb
  app/controllers/concerns/api_authorization.rb
  app/controllers/concerns/pagination.rb
  app/javascript/frontend/lib/Subscriptions/index.js
  config/application.rb
Due: yarn run lint:js, rubocop

fix(fleets): hide invite button on members list for normal members
  app/javascript/frontend/pages/Fleets/Members/index.vue
Due: yarn run lint

chore(release): new Version v3.63.7 (ArcCorp) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: rubocop

fix(youtube): update store reference
  app/javascript/frontend/pages/Models/Show/Videos/index.vue
Due: yarn run lint

chore(release): new Version v3.63.8 (ArcCorp) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: rubocop

feat(loaners): fetch and display loaners for each model
  app/controllers/api/v1/models_controller.rb
  app/javascript/frontend/pages/Models/Show/index.vue
  app/javascript/translations/en/labels.js
  app/mailers/admin_mailer.rb
  app/models/model.rb
  app/models/model_loaner.rb
  app/views/admin_mailer/missing_loaners.html.inky
  app/views/api/v1/models/loaners.jbuilder
  app/workers/loaner_worker.rb
  config/locales/en/en.yml
  config/routes/api_v1_routes.rb
  config/schedule.yml
  db/migrate/20200204230545_create_model_loaners.rb
  db/schema.rb
  lib/rsi/loaner_loader.rb
  test/fixtures/model_loaners.yml
  test/mailers/previews/admin_mailer_preview.rb
  test/models/model_loaner_test.rb
Due: yarn run lint:js, yarn run lint, rubocop

feat(loaners): fetch and display loaners for each model (#1151)
  app/controllers/api/v1/models_controller.rb
  app/javascript/frontend/pages/Models/Show/index.vue
  app/javascript/translations/en/labels.js
  app/mailers/admin_mailer.rb
  app/models/model.rb
  app/models/model_loaner.rb
  app/views/admin_mailer/missing_loaners.html.inky
  app/views/api/v1/models/loaners.jbuilder
  app/workers/loaner_worker.rb
  config/locales/en/en.yml
  config/routes/api_v1_routes.rb
  config/schedule.yml
  db/migrate/20200204230545_create_model_loaners.rb
  db/schema.rb
  lib/rsi/loaner_loader.rb
  test/fixtures/model_loaners.yml
  test/mailers/previews/admin_mailer_preview.rb
  test/models/model_loaner_test.rb
Due: yarn run lint:js, yarn run lint, rubocop

chore(release): new Version v3.64.0 (ArcCorp) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: rubocop

fix(loaner-loader): add queue to sidekiq config
  config/sidekiq.yml
Due: none

chore(release): new Version v3.64.1 (ArcCorp) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: rubocop

feat(loaner): add loaner to hangar
  .eslintrc.js
  app/controllers/api/v1/vehicles_controller.rb
  app/models/vehicle.rb
  app/workers/loaner_worker.rb
  app/workers/vehicle_loaner_worker.rb
  config/sidekiq.yml
  db/migrate/20200204230545_create_model_loaners.rb
  db/migrate/20200205215937_add_fields_to_vehicles.rb
  db/schema.rb
  lib/rsi/loaner_loader.rb
Due: yarn run lint:js, rubocop

chore(release): new Version v3.65.0 (ArcCorp) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: rubocop

feat(loaner): add filter for hangar
  app/controllers/api/v1/vehicles_controller.rb
  app/javascript/frontend/mixins/Filters/index.js
  app/javascript/frontend/partials/Vehicles/FilterForm/index.vue
  app/javascript/translations/en/labels.js
  app/models/vehicle.rb
Due: yarn run lint:js, yarn run lint, rubocop

feat(loaner): add label to identify loaners
  app/controllers/api/v1/vehicles_controller.rb
  app/javascript/frontend/components/Models/Panel/index.vue
  app/javascript/translations/en/labels.js
  app/models/vehicle.rb
  app/views/api/v1/vehicles/_base.jbuilder
  db/migrate/20200206224105_add_hidden_to_vehicles.rb
  db/schema.rb
Due: yarn run lint:js, yarn run lint, rubocop

chore(release): new Version v3.66.0 (ArcCorp) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: rubocop

fix(specs): update for new field
  test/controllers/api/v1/vehicles_controller_test.rb
Due: rubocop

chore(release): new Version v3.66.1 (ArcCorp) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: rubocop

fix(loaner): reload loaners
  app/models/vehicle.rb
Due: rubocop

chore(release): new Version v3.66.2 (ArcCorp) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: rubocop

fix(loaner): update worker
  app/models/vehicle.rb
  app/workers/loaner_worker.rb
  app/workers/vehicle_loaner_worker.rb
  config/sidekiq.yml
  lib/rsi/loaner_loader.rb
Due: rubocop

feat(loaner): allow to show only loaners
  app/controllers/api/v1/vehicles_controller.rb
  app/javascript/frontend/partials/Vehicles/FilterForm/index.vue
Due: yarn run lint, rubocop

chore(release): new Version v3.67.0 (ArcCorp) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: rubocop

fix(network-status): disable component for now
  app/javascript/frontend/App.vue
Due: yarn run lint

chore(release): new Version v3.67.1 (ArcCorp) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: rubocop

fix(loaner): hide loaners from hangar-items
  app/controllers/api/v1/vehicles_controller.rb
Due: rubocop

chore(release): new Version v3.67.2 (ArcCorp) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: rubocop

chore: refactor action cable
  app/channels/application_cable/connection.rb
  app/channels/hangar_channel.rb
  app/channels/on_sale_hangar_channel.rb
  app/javascript/frontend/components/Form/FormInput/index.vue
  app/javascript/frontend/lib/Subscriptions/index.js
  app/javascript/frontend/mixins/Updates/index.js
  app/javascript/frontend/pages/Hangar/index.vue
  app/javascript/frontend/pages/Roadmap/Changes/index.vue
  app/javascript/frontend/pages/Roadmap/Ships/index.vue
  app/javascript/frontend/pages/Roadmap/index.vue
  app/javascript/stylesheets/partials/form-input.scss
  app/models/hangar_group.rb
  app/models/vehicle.rb
  app/workers/vehicles_worker.rb
Due: yarn run lint:js, yarn run lint:css, yarn run lint, rubocop

chore: refactor action cable
  app/javascript/frontend/components/Form/FormInput/index.vue
  test/channels/application_cable/connection_test.rb
Due: yarn run lint, rubocop

fix: specs
  test/channels/application_cable/connection_test.rb
Due: rubocop

chore(release): new Version v3.67.3 (ArcCorp) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: rubocop

fix: refresh subscriptions only on authentication change
  app/javascript/frontend/mixins/Updates/index.js
Due: yarn run lint:js

chore(release): new Version v3.67.4 (ArcCorp) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: rubocop

chore: rubocoptering
  .rubocop.yml
  app/models/fleet_membership.rb
  app/models/vehicle.rb
Due: rubocop

Path conditions:
  yarn run lint:js: any of: *.js
  yarn run lint:css: any of: *.{css,scss}
  yarn run lint: any of: *.vue
  rubocop: any of: *.{rb,erb,haml,jbuilder}
