Repository fleetyards/fleetyards: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run lint:js, yarn run lint:css, yarn run lint, rubocop

.lintstagedrc:

{
  "*.js": [
    "yarn run lint:js",
    "git add"
  ],
  "*.{css,scss}": [
    "yarn run lint:css",
    "git add"
  ],
  "*.vue": [
    "yarn run lint",
    "git add"
  ],
  "*.{rb,erb,haml,jbuilder}": [
    "rubocop",
    "git add"
  ]
}

chore(e2e): deactivate test for now
  test/javascript/e2e/specs/Hangar.spec.js
Due: yarn run lint:js

chore(config): remove unused config
  config/environments/production.rb
Due: rubocop

chore(cache): fix vehicle model
  app/models/vehicle.rb
Due: rubocop

chore(cache): make setup explizit
  config/environments/production.rb
Due: rubocop

chore(e2e): reenable spec
  test/javascript/e2e/specs/Hangar.spec.js
Due: yarn run lint:js

feat(fleet): add e2e tests and rework FormInput
  app/controllers/api/v1/fleets_controller.rb
  app/controllers/api/v1/users_controller.rb
  app/javascript/frontend/components/Form/Checkbox/index.vue
  app/javascript/frontend/components/Form/FilterGroup/index.vue
  app/javascript/frontend/components/Form/FormInput/index.vue
  app/javascript/frontend/components/Models/Panel/index.vue
  app/javascript/frontend/lib/validations/FleetValidator/index.js
  app/javascript/frontend/lib/validations/UserValidator/index.js
  app/javascript/frontend/lib/validations/UsernameValidator/index.js
  app/javascript/frontend/pages/Fleets/Add/index.vue
  app/javascript/frontend/pages/Fleets/Settings/index.vue
  app/javascript/frontend/pages/Home/index.vue
  app/javascript/frontend/pages/Search/index.vue
  app/javascript/frontend/partials/Fleets/FilterForm/index.vue
  app/javascript/frontend/partials/Fleets/MembersFilterForm/index.vue
  app/javascript/frontend/partials/Models/FilterForm/index.vue
  app/javascript/frontend/partials/Navigation/NavItem/index.vue
  app/javascript/frontend/partials/Navigation/QuickSearch/index.vue
  app/javascript/frontend/partials/Shops/FilterForm/index.vue
  app/javascript/frontend/partials/Shops/ShopItemFilterForm/index.vue
  app/javascript/frontend/partials/Stations/FilterForm/index.vue
  app/javascript/frontend/partials/Vehicles/FilterForm/index.vue
  app/javascript/frontend/partials/Vehicles/GroupModal/index.vue
  app/javascript/frontend/partials/Vehicles/Modal/index.vue
  app/javascript/stylesheets/partials/form-input.scss
  app/javascript/translations/en/messages.js
  app/models/ability.rb
  app/models/fleet.rb
  config/locales/en/validation_error.yml
  config/routes/api_v1_routes.rb
  test/javascript/e2e/specs/Fleet.spec.js
  test/javascript/e2e/specs/Hangar.spec.js
  test/javascript/e2e/support/commands.js
Due: yarn run lint:js, yarn run lint:css, yarn run lint, rubocop

fix(specs): update default name for quicksearch
  app/javascript/frontend/partials/Navigation/QuickSearch/index.vue
Due: yarn run lint

fix(e2e): update helper usage
  test/javascript/e2e/specs/Hangar.spec.js
  test/javascript/e2e/specs/Images.spec.js
  test/javascript/e2e/specs/Login.spec.js
  test/javascript/e2e/specs/Roadmap.spec.js
  test/javascript/e2e/specs/Ships.spec.js
  test/javascript/e2e/specs/Signup.spec.js
  test/javascript/e2e/specs/Stations.spec.js
Due: yarn run lint:js

fix(e2e): update hangar nav
  test/javascript/e2e/specs/Hangar.spec.js
Due: yarn run lint:js

fix(e2e): update test labels
  app/javascript/frontend/partials/Navigation/index.vue
  test/javascript/e2e/specs/Hangar.spec.js
  test/javascript/e2e/specs/Roadmap.spec.js
  test/javascript/e2e/specs/Stations.spec.js
  test/javascript/e2e/specs/Stats.spec.js
Due: yarn run lint:js, yarn run lint

fix(e2e): update keys
  test/javascript/e2e/specs/Roadmap.spec.js
  test/javascript/e2e/specs/Signup.spec.js
Due: yarn run lint:js

chore(release): new Version v3.49.0 (ArcCorp) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: rubocop

chore(release): new Version v3.50.0 (ArcCorp) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: rubocop

feat(fleets): update invites call
  app/controllers/api/v1/fleets_controller.rb
  app/javascript/frontend/pages/Fleets/Invites/index.vue
  app/javascript/frontend/partials/Navigation/index.vue
  app/models/ability.rb
  app/views/api/v1/fleet_memberships/_base.jbuilder
  app/views/api/v1/fleet_memberships/_minimal.jbuilder
  app/views/api/v1/fleet_memberships/create.jbuilder
  app/views/api/v1/fleets/_invite.jbuilder
  app/views/api/v1/fleets/invites.jbuilder
  config/routes/api_v1_routes.rb
Due: yarn run lint, rubocop

chore(release): new Version v3.51.0 (ArcCorp) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: rubocop

feat(fleets): prevent people from viewing internal links
  app/javascript/frontend/pages/Fleets/Members/index.vue
  app/javascript/frontend/pages/Fleets/Settings/index.vue
  app/javascript/frontend/pages/Fleets/Show/index.vue
  app/javascript/frontend/partials/Navigation/index.vue
  app/views/api/v1/fleets/_base.jbuilder
  app/views/api/v1/users/_base.jbuilder
  app/views/api/v1/users/_fleet.jbuilder
Due: yarn run lint, rubocop

chore(release): new Version v3.52.0 (ArcCorp) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: rubocop

chore: rubocoptering
  app/views/api/v1/fleets/_base.jbuilder
Due: rubocop

chore(release): new Version v3.52.1 (ArcCorp) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: rubocop

feat(fleets): add stats to dashboard
  app/assets/javascripts/app/dashboard.coffee
  app/controllers/admin/stats_controller.rb
  app/views/admin/base/_quick_stats.slim
  app/views/admin_mailer/weekly.html.inky
  app/workers/admin_notifier_worker.rb
  config/locales/en/labels.yml
Due: rubocop

feat(fleets): hide leave button for non members
  app/javascript/frontend/pages/Fleets/Show/index.vue
Due: yarn run lint

chore(release): new Version v3.53.0 (ArcCorp) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: rubocop

feat(fleet): dont allow leaving of guild as admin
  app/controllers/api/v1/fleet_memberships_controller.rb
  app/javascript/frontend/pages/Fleets/Show/index.vue
  config/locales/en/validation_error.yml
Due: yarn run lint, rubocop

chore: rubocoptering
  app/workers/admin_notifier_worker.rb
Due: rubocop

chore(release): new Version v3.54.0 (ArcCorp) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: rubocop

fix(fleets): update invite template and fix member list abilities
  app/javascript/frontend/pages/Fleets/Members/index.vue
  app/views/api/v1/fleet_memberships/_minimal.jbuilder
Due: yarn run lint, rubocop

chore(release): new Version v3.54.1 (ArcCorp) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: rubocop

feat(fleet): update nav
  app/javascript/frontend/pages/Fleets/Members/index.vue
  app/javascript/frontend/partials/Navigation/index.vue
Due: yarn run lint

chore(release): new Version v3.55.0 (ArcCorp) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: rubocop

fix(fleets): member list
  app/javascript/frontend/pages/Fleets/Members/index.vue
  app/javascript/translations/en/messages.js
  app/models/ability.rb
  app/models/fleet_membership.rb
  app/views/api/v1/fleet_memberships/demote.jbuilder
  app/views/api/v1/fleet_memberships/promote.jbuilder
Due: yarn run lint:js, yarn run lint, rubocop

chore(release): new Version v3.55.1 (ArcCorp) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: rubocop

chore(refactor): update navigation
  app/javascript/frontend/mixins/Fleets/index.js
  app/javascript/frontend/mixins/Navigation/index.js
  app/javascript/frontend/pages/Fleets/Members/index.vue
  app/javascript/frontend/pages/Fleets/Settings/index.vue
  app/javascript/frontend/pages/Fleets/Show/index.vue
  app/javascript/frontend/partials/Navigation/FleetNav/index.vue
  app/javascript/frontend/partials/Navigation/FleetsNav/index.scss
  app/javascript/frontend/partials/Navigation/FleetsNav/index.vue
  app/javascript/frontend/partials/Navigation/FleetsNavItem/index.vue
  app/javascript/frontend/partials/Navigation/NavFooter/index.vue
  app/javascript/frontend/partials/Navigation/NavItem/NavItemInner/index.vue
  app/javascript/frontend/partials/Navigation/NavItem/index.vue
  app/javascript/frontend/partials/Navigation/RoadmapNav/index.vue
  app/javascript/frontend/partials/Navigation/StationsNav/index.vue
  app/javascript/frontend/partials/Navigation/UserNav/index.scss
  app/javascript/frontend/partials/Navigation/UserNav/index.vue
  app/javascript/frontend/partials/Navigation/UserNavItem/index.vue
  app/javascript/frontend/partials/Navigation/index.vue
  app/javascript/stylesheets/partials.scss
  app/javascript/stylesheets/partials/flex.scss
  app/javascript/stylesheets/partials/navigation.scss
Due: yarn run lint:js, yarn run lint:css, yarn run lint

chore(csp): update header defaults
  config/initializers/content_security_policy.rb
Due: rubocop

chore: linting
  app/javascript/frontend/pages/Fleets/Members/index.vue
  app/javascript/frontend/partials/Models/FilterForm/index.vue
  app/javascript/frontend/partials/Navigation/UserNav/index.vue
  app/javascript/frontend/partials/Navigation/index.vue
Due: yarn run lint

feat(fleets): update member list on mobile
  app/javascript/frontend/pages/Fleets/Members/index.vue
  app/javascript/frontend/partials/Navigation/index.scss
  app/javascript/frontend/partials/Navigation/index.vue
  app/javascript/stylesheets/partials.scss
  app/javascript/stylesheets/partials/flex.scss
Due: yarn run lint:css, yarn run lint

fix(e2e): update data test selector
  test/javascript/e2e/specs/Fleet.spec.js
Due: yarn run lint:js

chore(release): new Version v3.56.0 (ArcCorp) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: rubocop

feat(fleets): update members list
  app/javascript/stylesheets/partials/flex.scss
Due: yarn run lint:css
