Repository fleetyards/fleetyards: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run lint:js, yarn run lint:css, yarn run lint, rubocop

fix(embed): update for latest env changes
  app/assets/javascripts/embed.js.erb
  app/controllers/api/v1/models_controller.rb
  app/controllers/frontend/base_controller.rb
  app/javascript/packs/embed.js
  app/javascript/stylesheets/main.scss
  app/javascript/stylesheets/partials/panel.scss
  app/views/layouts/embed_test.html.erb
  babel.config.js
  config/routes/frontend_routes.rb
  config/webpack/development.js
  config/webpack/production.js
  config/webpack/test.js
Due: yarn run lint:js, yarn run lint:css, rubocop

fix(modal): update close button
  app/javascript/frontend/components/Modal/styles/index.scss
Due: yarn run lint:css

fix(embed): update fleetchart view
  app/javascript/embed/FleetyardsView.vue
  app/javascript/embed/lib/Store/index.js
  app/views/layouts/embed_test.html.erb
  docs/v1/embed.apib
  public/docs/v1.html
Due: yarn run lint:js, yarn run lint, rubocop

fix(embed): remove scale from persisted store
  app/javascript/embed/lib/Store/plugins.js
Due: yarn run lint:js

fix(embed): try to remove cache
  app/assets/javascripts/embed.js.erb
  app/javascript/frontend/partials/FleetchartSlider/index.vue
  app/javascript/stylesheets/embed.scss
  app/javascript/stylesheets/main.scss
  app/javascript/stylesheets/partials/slider.scss
  app/views/layouts/embed_test.html.erb
Due: yarn run lint:css, yarn run lint, rubocop

fix(embed): update model urls
  app/javascript/embed/partials/Models/FleetchartItem/index.vue
  app/javascript/embed/partials/Models/Panel/index.vue
Due: yarn run lint

chore(embed): readd scale info
  app/assets/javascripts/embed.js.erb
  app/javascript/embed/lib/Store/index.js
  app/javascript/embed/lib/Store/plugins.js
  config/deploy.rb
  docs/v1/embed.apib
  public/docs/v1.html
Due: yarn run lint:js, rubocop

fix(embed): update urls
  app/javascript/embed/partials/Models/FleetchartItem/index.vue
  app/javascript/embed/partials/Models/Panel/index.vue
Due: yarn run lint

fix(embed): move embed.js out of asset pipeline
  app/controllers/frontend/base_controller.rb
  app/views/frontend/embed.js.erb
  config/routes/frontend_routes.rb
Due: rubocop

fix(embed): reset store and track store versions
  app/javascript/embed/FleetyardsView.vue
  app/javascript/embed/lib/Store/actions.js
  app/javascript/embed/lib/Store/index.js
  app/javascript/embed/lib/Store/plugins.js
  app/javascript/embed/lib/Store/state.js
  app/javascript/frontend/lib/Store/index.js
  app/javascript/packs/embed.js
  app/views/frontend/embed.js.erb
  config/secrets.yml
Due: yarn run lint:js, yarn run lint, rubocop

fix(embed): set default for Scale
  app/javascript/embed/lib/Store/state.js
  app/javascript/packs/embed.js
Due: yarn run lint:js

fix(embed): add missing setStoreVersion mutation
  app/javascript/embed/lib/Store/index.js
Due: yarn run lint:js

fix(models): update panel actions
  app/javascript/admin/components/ImageUploader/ImageRow/index.vue
  app/javascript/admin/components/ImageUploader/index.vue
  app/javascript/frontend/components/Models/Panel/index.vue
  app/javascript/stylesheets/partials/flex.scss
Due: yarn run lint:css, yarn run lint

feat(panel): update actions
  app/javascript/frontend/components/Models/Panel/styles/index.scss
Due: yarn run lint:css

chore(release): new Version v3.2.0 (ArcCorp)
  config/version.rb
Due: rubocop

chore(deploy): dont force asset precompile
  config/deploy.rb
Due: rubocop

fix(panel): update headline
  app/javascript/frontend/components/Models/Panel/index.vue
Due: yarn run lint

chore(release): new Version v3.2.1 (ArcCorp)
  config/version.rb
Due: rubocop

fix(back-to-top): update proportions
  app/javascript/frontend/partials/BackToTop/styles/index.scss
Due: yarn run lint:css

refactor(mixins): fix specs
  test/javascript/unit/helpers/mountDefault.js
Due: yarn run lint:js

refactor(mixins): update helper usage
  app/javascript/frontend/components/Form/FilterGroup/index.vue
Due: yarn run lint

fix(admin): workaround to generate admin.css file
  app/javascript/admin/routes.js
Due: yarn run lint:js

chore(assets): remove webpacker:compile step before precompile
  config/deploy.rb
  lib/tasks/assets.thor
Due: rubocop

fix(ci): update precompile step
  .circleci/config.yml
Due: none

chore(form-input): place styles globally
  app/javascript/frontend/components/Form/FormInput/index.vue
  app/javascript/stylesheets/main.scss
  app/javascript/stylesheets/partials/form-input.scss
Due: yarn run lint:css, yarn run lint

chore(ci): update assets steps
  .circleci/config.yml
Due: none

chore(assets): cleanup precompile
  config/initializers/assets.rb
Due: rubocop

chore(ci): update deps
  package.json
Due: none

chore(ci): try to debug webpacker:compile
  .circleci/config.yml
Due: none

chore(heroku): update puma config
  .circleci/config.yml
  config/puma.rb
Due: rubocop

chore(ci): fix config
  .circleci/config.yml
Due: none

chore(precompile): use only rails tasks
  .circleci/config.yml
  config/deploy.rb
Due: rubocop

chore(deploy): reenable version broadcast
  config/deploy.rb
  lib/tasks/broadcast.thor
Due: rubocop

chore(precompile): try to debug startup error
  .circleci/config.yml
Due: none

Path conditions:
  yarn run lint:js: any of: *.js
  yarn run lint:css: any of: *.{css,scss}
  yarn run lint: any of: *.vue
  rubocop: any of: *.{rb,erb,haml,jbuilder}
