Repository fleetyards/fleetyards: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run lint:js, yarn run lint:css, yarn run lint, rubocop

.lintstagedrc:

{
  "*.js": [
    "yarn run lint:js",
    "git add"
  ],
  "*.{css,scss}": [
    "yarn run lint:css",
    "git add"
  ],
  "*.vue": [
    "yarn run lint",
    "git add"
  ],
  "*.{rb,erb,haml,jbuilder}": [
    "rubocop",
    "git add"
  ]
}

chore(no-scroll): update viewport
  app/javascript/frontend/components/Modal/index.scss
  app/javascript/frontend/partials/CookiesBanner/index.scss
  app/javascript/frontend/partials/CookiesBanner/index.vue
  app/javascript/stylesheets/frontend.scss
  app/views/layouts/application.html.erb
Due: yarn run lint:css, yarn run lint, rubocop

chore(no-scroll): fix graphic errors
  app/javascript/frontend/pages/Home/index.vue
  app/javascript/stylesheets/frontend.scss
  app/javascript/stylesheets/vendor/nprogress.scss
  app/views/layouts/application.html.erb
Due: yarn run lint:css, yarn run lint, rubocop

fix(home): update autofocus on mobile
  app/javascript/frontend/pages/Home/index.vue
Due: yarn run lint

chore(no-scroll): update modal
  app/javascript/frontend/components/Modal/index.scss
Due: yarn run lint:css

chore(release): new Version v3.46.5 (ArcCorp) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: rubocop

feat(embed): add option to use usernames for fleetview
  app/controllers/api/v1/vehicles_controller.rb
  app/controllers/frontend/embed_controller.rb
  app/javascript/embed/FleetyardsView.vue
  app/javascript/embed/partials/Models/Panel/index.scss
  app/javascript/embed/partials/Models/Panel/index.vue
  app/javascript/frontend/components/Models/Panel/index.vue
  app/javascript/packs/embed.js
  app/javascript/packs/embed_v2.js
  app/javascript/stylesheets/embed-v2.scss
  app/javascript/stylesheets/embed.scss
  app/javascript/stylesheets/frontend.scss
  app/views/layouts/embed_v2_username_test.html.erb
  config/routes/api_v1_routes.rb
  config/routes/frontend_routes.rb
  docs/v1/embed.apib
  docs/v1/main.apib
Due: yarn run lint:js, yarn run lint:css, yarn run lint, rubocop

chore(docs): update api documentation
  public/docs/v1.html
Due: none

chore(vuepress): transform api docs to vuepress #WIP
  docs/.vuepress/config.js
  docs/README.md
  docs/celestial-objects/index.apib
  docs/celestial-objects/show.apib
  docs/components/categories.apib
  docs/embed/README.md
  docs/images/index.apib
  docs/images/updates.apib
  docs/models/README.md
  docs/models/filters.apib
  docs/models/images.apib
  docs/models/index.apib
  docs/models/modules.apib
  docs/models/show.apib
  docs/models/slugs.apib
  docs/models/updates.apib
  docs/models/variants.apib
  docs/models/videos.apib
  docs/password/README.md
  docs/sessions/create.apib
  docs/sessions/destroy.apib
  docs/shop-commodities/index.apib
  docs/shops/index.apib
  docs/shops/show.apib
  docs/starsystems/index.apib
  docs/starsystems/show.apib
  docs/stations/index.apib
  docs/stations/show.apib
  docs/vehicles/create.apib
  docs/vehicles/destroy.apib
  docs/vehicles/private.apib
  docs/vehicles/public.apib
  docs/vehicles/update.apib
  package.json
  yarn.lock
Due: yarn run lint:js

feat(embed): remove on sale sign
  app/javascript/embed/partials/Models/Panel/index.scss
  app/javascript/embed/partials/Models/Panel/index.vue
Due: yarn run lint:css, yarn run lint

chore(release): new Version v3.47.0 (ArcCorp) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: rubocop

feat(navigation): new fixed navbar
  app/javascript/frontend/App.vue
  app/javascript/frontend/components/Models/Panel/index.vue
  app/javascript/frontend/lib/Store/modules/app/index.js
  app/javascript/frontend/lib/Store/modules/app/state.js
  app/javascript/frontend/lib/Store/plugins.js
  app/javascript/frontend/partials/Navigation/NavItem/index.scss
  app/javascript/frontend/partials/Navigation/NavItem/index.vue
  app/javascript/frontend/partials/Navigation/index.scss
  app/javascript/frontend/partials/Navigation/index.vue
  app/javascript/stylesheets/frontend.scss
  app/javascript/stylesheets/partials/transitions.scss
  app/javascript/translations/en/nav.js
Due: yarn run lint:js, yarn run lint:css, yarn run lint

feat(navigation): linting
  app/javascript/admin/components/ImageUploader/ImageRow/index.scss
  app/javascript/frontend/components/Stations/Panel/index.scss
  app/javascript/frontend/pages/Stations/ShopList/index.scss
  app/javascript/frontend/partials/Navigation/NavItem/index.scss
  app/javascript/frontend/partials/Navigation/index.scss
Due: yarn run lint:css

feat(navigation): update e2e
  test/javascript/e2e/specs/Login.spec.js
  test/javascript/e2e/specs/Roadmap.spec.js
  test/javascript/e2e/specs/Signup.spec.js
  test/javascript/e2e/support/commands.js
Due: yarn run lint:js

feat(navigation): update e2e
  app/javascript/frontend/partials/Navigation/index.scss
  app/views/frontend/service_worker.js.erb
  test/javascript/e2e/specs/Roadmap.spec.js
Due: yarn run lint:js, yarn run lint:css, rubocop

feat(navigation): update e2e
  test/javascript/e2e/specs/Stations.spec.js
Due: yarn run lint:js

feat(navigation): update e2e
  app/javascript/frontend/pages/Login/index.vue
  test/javascript/e2e/specs/Signup.spec.js
Due: yarn run lint:js, yarn run lint

feat(navigation): update hangar icons
  app/javascript/frontend/partials/Navigation/index.vue
Due: yarn run lint

feat(navigation): update e2e
  app/javascript/frontend/partials/Navigation/NavItem/index.vue
  app/javascript/frontend/partials/Navigation/index.vue
  test/javascript/e2e/specs/Roadmap.spec.js
  test/javascript/e2e/specs/Stations.spec.js
Due: yarn run lint:js, yarn run lint

chore(service-worker): update precache
  app/views/frontend/precache_manifest.js.erb
  app/views/frontend/service_worker.js.erb
Due: rubocop

chore(service-worker): remove map files from cache
  app/views/frontend/precache_manifest.js.erb
Due: rubocop

chore(service-worker): update precache
  app/views/frontend/service_worker.js.erb
Due: rubocop

chore(service-worker): update cache
  app/views/frontend/service_worker.js.erb
Due: rubocop

chore(service-worker): don't cache images
  app/views/frontend/service_worker.js.erb
Due: rubocop

chore(service-worker): disable excessive offline caching
  app/javascript/frontend/App.vue
  app/javascript/frontend/components/NetworkStatus/index.scss
  app/javascript/frontend/components/NetworkStatus/index.vue
  app/javascript/translations/en/labels.js
  app/views/frontend/precache_manifest.js.erb
  app/views/frontend/service_worker.js.erb
Due: yarn run lint:js, yarn run lint:css, yarn run lint, rubocop

chore(release): new Version v3.48.0 (ArcCorp) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: rubocop

feat(fleets): basic setup frontend
  app/javascript/admin/components/ImageUploader/styles/index.scss
  app/javascript/frontend/components/Avatar/index.scss
  app/javascript/frontend/components/Form/FilterGroup/index.scss
  app/javascript/frontend/components/Modal/index.scss
  app/javascript/frontend/components/Models/Panel/index.scss
  app/javascript/frontend/pages/Fleets/Add/index.vue
  app/javascript/frontend/pages/Fleets/Members/index.vue
  app/javascript/frontend/pages/Fleets/Settings/index.vue
  app/javascript/frontend/pages/Fleets/Show/index.vue
  app/javascript/frontend/pages/Fleets/index.vue
  app/javascript/frontend/pages/Fleets/routes.js
  app/javascript/frontend/pages/Stations/Show/index.vue
  app/javascript/frontend/pages/Stats/index.vue
  app/javascript/frontend/pages/TradeRoutes/index.scss
  app/javascript/frontend/partials/BackToTop/styles/index.scss
  app/javascript/frontend/partials/HangarGuide/index.scss
  app/javascript/frontend/partials/Navigation/FleetsNavItem/index.scss
  app/javascript/frontend/partials/Navigation/FleetsNavItem/index.vue
  app/javascript/frontend/partials/Navigation/NavItem/NavItemInner/index.scss
  app/javascript/frontend/partials/Navigation/NavItem/NavItemInner/index.vue
  app/javascript/frontend/partials/Navigation/NavItem/index.scss
  app/javascript/frontend/partials/Navigation/NavItem/index.vue
  app/javascript/frontend/partials/Navigation/index.vue
  app/javascript/frontend/partials/Vehicles/AddonsModal/Addons/index.scss
  app/javascript/frontend/partials/Vehicles/AddonsModal/index.vue
  app/javascript/frontend/partials/Vehicles/GroupModal/index.vue
  app/javascript/frontend/partials/Vehicles/Modal/index.vue
  app/javascript/frontend/partials/Vehicles/NewVehiclesModal/index.vue
  app/javascript/translations/en/headlines.js
  app/javascript/translations/en/labels.js
  app/views/layouts/application.html.erb
  config/initializers/content_security_policy.rb
  config/routes/frontend_routes.rb
Due: yarn run lint:js, yarn run lint:css, yarn run lint, rubocop

fix(add-to-hangar): update jbuilder views for action cable
  app/javascript/frontend/components/Models/Panel/index.vue
  app/javascript/frontend/pages/Fleets/Preview/index.vue
  app/javascript/frontend/pages/Hangar/Preview/index.vue
  app/javascript/frontend/partials/Models/AddToHangar/index.vue
  app/javascript/frontend/partials/Vehicles/Modal/index.vue
  app/models/fleet_membership.rb
  app/views/api/v1/models/_jbuilder.jbuilder
  app/views/api/v1/vehicles/_jbuilder.jbuilder
  db/seeds/01_stanton/03_arccorp/02_lyria.rb
  test/javascript/e2e/specs/Fleet.spec.js
  test/javascript/e2e/specs/Hangar.spec.js
  test/javascript/e2e/support/commands.js
Due: yarn run lint:js, yarn run lint, rubocop

chore: linting
  app/views/api/v1/models/_jbuilder.jbuilder
  test/javascript/e2e/specs/Hangar.spec.js
  test/javascript/e2e/specs/Starsystems.spec.js
  test/javascript/e2e/support/commands.js
Due: yarn run lint:js, rubocop

fix(e2e-specs): use correct data-test label
  test/javascript/e2e/support/commands.js
Due: yarn run lint:js

chore(e2e): wait for page to load
  test/javascript/e2e/specs/Hangar.spec.js
Due: yarn run lint:js

chore(loader): update hardpoints
  app/models/hardpoint.rb
  app/views/api/v1/models/_complete.jbuilder
  db/migrate/20200104200933_add_fields_to_hardpoints.rb
  db/schema.rb
  lib/rsi/models_loader.rb
Due: rubocop

chore(loader): update rsi_key
  lib/rsi/models_loader.rb
Due: rubocop

chore(cache): readd fragment caching for jbuilder views
  app/views/api/v1/models/_jbuilder.jbuilder
  app/views/api/v1/vehicles/_jbuilder.jbuilder
  test/javascript/e2e/specs/Hangar.spec.js
Due: yarn run lint:js, rubocop

chore(cache): activate memcache
  app/views/api/v1/models/_jbuilder.jbuilder
  config/environments/production.rb
Due: rubocop

chore: rubocoptering
  app/views/api/v1/vehicles/_jbuilder.jbuilder
Due: rubocop
