Repository fleetyards/fleetyards: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run lint:js, yarn run lint:css, yarn run lint, rubocop

chore(release): new Version v3.5.15 (ArcCorp) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: rubocop

chore(updates): deactivate update info
  app/javascript/frontend/partials/Navigation/index.vue
Due: yarn run lint

chore(release): new Version v3.5.16 (ArcCorp) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: rubocop

fix(uploader): update dropzone color
  app/javascript/admin/components/ImageUploader/index.vue
  app/javascript/admin/components/ImageUploader/styles/index.scss
  app/javascript/frontend/components/Panel/index.vue
  app/javascript/stylesheets/partials/panel.scss
Due: yarn run lint:css, yarn run lint

chore(release): new Version v3.5.17 (ArcCorp) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: rubocop

chore(select): replace select2
  Gemfile
  Gemfile.lock
  app/assets/javascripts/app.coffee
  app/assets/javascripts/application.js
  app/assets/stylesheets/application.scss
  app/assets/stylesheets/partials/_form.scss
  app/views/admin/equipment/_form.haml
  app/views/admin/models/index.haml
  app/views/admin/shops/_form.haml
  app/views/admin/shops/index.haml
  app/views/admin/stations/_form.haml
  app/views/admin/stations/index.haml
  app/views/shops/_shop_commodity_fields.haml
  vendor/cache/select2-rails-4.0.3.gem
  vendor/cache/selectize-rails-0.12.6.gem
Due: yarn run lint:js, yarn run lint:css, rubocop

chore(release): new Version v3.5.18 (ArcCorp) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: rubocop

chore(babel): add additional plugins
  babel.config.js
  package.json
  yarn.lock
Due: yarn run lint:js

chore(selectize): unload before turbolinks cache
  app/assets/javascripts/app.coffee
Due: none

chore(release): new Version v3.5.19 (ArcCorp) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: rubocop

fix(stations): add missing label
  config/locales/en/activerecord.yml
Due: none

chore(release): new Version v3.5.20 (ArcCorp) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: rubocop

chore(release): new Version v3.5.21 (ArcCorp) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: rubocop

fix(stations): reorder partials and fix stations list
  app/javascript/frontend/pages/Stations/CelestialObject/index.vue
  app/javascript/frontend/pages/Stations/Starsystem/index.vue
  app/javascript/frontend/pages/Stations/Starsystems/index.vue
  app/javascript/frontend/pages/Stations/index.vue
  app/javascript/frontend/partials/Navigation/index.scss
  app/javascript/frontend/partials/Navigation/index.vue
  app/javascript/frontend/partials/Planets/List/index.scss
  app/javascript/frontend/partials/Planets/List/index.vue
  app/javascript/frontend/partials/Planets/Panel/index.vue
  app/javascript/frontend/partials/Planets/Panel/styles/index.scss
  app/javascript/frontend/partials/Starsystems/List/index.scss
  app/javascript/frontend/partials/Starsystems/List/index.vue
  app/javascript/frontend/partials/Stations/List/index.scss
  app/javascript/frontend/partials/Stations/ListStats/index.vue
Due: yarn run lint:css, yarn run lint

feat(stations): remove empty info
  app/javascript/frontend/pages/Stations/CelestialObject/index.vue
  app/javascript/frontend/pages/Stations/Shop/index.vue
  app/javascript/frontend/pages/Stations/Show/index.vue
  app/javascript/frontend/pages/Stations/Starsystem/index.vue
  app/javascript/frontend/pages/Stations/Starsystems/index.vue
  db/seeds/01_stanton/03_arccorp/02_lyria.rb
  db/seeds/01_stanton/03_arccorp/03_wala.rb
  db/seeds/images/stanton/arccorp/lyria/lyria.jpg
  db/seeds/images/stanton/arccorp/wala/wala.jpg
Due: yarn run lint, rubocop

chore(release): new Version v3.6.0 (ArcCorp) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: rubocop

chore(stations): add pyro and starmap
  app/javascript/admin/components/ImageUploader/styles/index.scss
  app/javascript/frontend/pages/Stations/Starsystems/index.vue
  app/javascript/frontend/partials/EmptyBox/index.scss
  app/javascript/frontend/partials/EmptyBox/index.vue
  app/javascript/frontend/partials/Planets/Panel/index.scss
  app/javascript/frontend/partials/Planets/Panel/index.vue
  app/workers/locations_worker.rb
  db/seeds/01_systems.rb
  db/seeds/images/pyro/pyro.jpg
  lib/rsi_location_loader.rb
Due: yarn run lint:css, yarn run lint, rubocop

chore(release): new Version v3.6.1 (ArcCorp) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: rubocop

feat(station): add images and fix location worker
  app/controllers/api/v1/stations_controller.rb
  app/controllers/frontend/base_controller.rb
  app/javascript/frontend/pages/Stations/Shop/index.vue
  app/javascript/frontend/pages/Stations/Show/Images/index.vue
  app/javascript/frontend/pages/Stations/Show/index.vue
  app/javascript/frontend/pages/Stations/routes.js
  app/javascript/frontend/partials/Stations/ListStats/index.vue
  app/javascript/translations/en/headlines.js
  app/javascript/translations/en/title.js
  app/models/station.rb
  app/views/api/v1/stations/_base.jbuilder
  app/views/api/v1/stations/images.jbuilder
  app/workers/locations_worker.rb
  config/locales/en/en.yml
  config/routes/api_v1_routes.rb
  config/routes/frontend_routes.rb
  db/seeds/01_stanton/01_crusader/03_daymar.rb
  db/seeds/01_stanton/01_crusader/04_cellin.rb
  db/seeds/01_stanton/02_hurston/04_arial.rb
  db/seeds/01_stanton/02_hurston/05_aberdeen.rb
  db/seeds/02_nyx/01_delamar.rb
Due: yarn run lint:js, yarn run lint, rubocop

fix(stations): rubocoptering and update specs
  app/controllers/api/v1/stations_controller.rb
  app/javascript/frontend/partials/Roadmap/RoadmapItem/index.vue
  app/views/api/v1/roadmap/_minimal.jbuilder
  test/controllers/api/v1/roadmap_controller_test.rb
  test/controllers/api/v1/stations_controller_test.rb
  test/fixtures/roadmap_items.yml
Due: yarn run lint, rubocop

fix(roadmap): update specs
  app/views/api/v1/roadmap/_minimal.jbuilder
Due: rubocop

fix(roadmap): update specs
  app/models/roadmap_item.rb
  app/views/api/v1/roadmap/_minimal.jbuilder
  test/controllers/api/v1/roadmap_controller_test.rb
Due: rubocop

chore(release): new Version v3.7.0 (ArcCorp) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: rubocop

fix(location-worker): add missing attribute
  lib/rsi_location_loader.rb
Due: rubocop

chore(release): new Version v3.7.1 (ArcCorp) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: rubocop

fix(model): update price field after shop item is updated
  app/controllers/api/v1/vehicles_controller.rb
  app/models/model.rb
  app/models/shop_commodity.rb
  db/migrate/20190803103414_update_initial_prices_on_models.rb
  db/schema.rb
Due: rubocop

chore(release): new Version v3.7.2 (ArcCorp) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: rubocop

fix(roadmap): filter by last version created_at
  app/controllers/api/v1/roadmap_controller.rb
  app/javascript/frontend/pages/Roadmap/Changes/index.vue
  app/models/roadmap_item.rb
Due: yarn run lint, rubocop

fix(ships-compare): download s3 image before composing compare image
  app/controllers/frontend/base_controller.rb
Due: rubocop

chore(release): new Version v3.7.3 (ArcCorp) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: rubocop

fix(roadmap): show inprogress changes
  app/javascript/frontend/partials/Roadmap/RoadmapItem/index.vue
  app/javascript/translations/en/labels.js
Due: yarn run lint:js, yarn run lint

chore(release): new Version v3.7.4 (ArcCorp) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: rubocop

fix(roadmap): add released to versioning
  app/controllers/api/v1/roadmap_controller.rb
  app/javascript/frontend/pages/Roadmap/Changes/index.vue
  app/javascript/frontend/partials/Roadmap/RoadmapItem/index.vue
  app/javascript/translations/en/labels.js
  app/models/roadmap_item.rb
Due: yarn run lint:js, yarn run lint, rubocop

chore(store): bump version
  config/secrets.yml
Due: none

chore(release): new Version v3.8.0 (ArcCorp) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: rubocop

chore(cleanup): remove unused code
  app/javascript/frontend/lib/Store/modules/models/index.js
  app/javascript/frontend/lib/Store/modules/models/state.js
Due: yarn run lint:js

Path conditions:
  yarn run lint:js: any of: *.js
  yarn run lint:css: any of: *.{css,scss}
  yarn run lint: any of: *.vue
  rubocop: any of: *.{rb,erb,haml,jbuilder}
