Repository fleetyards/fleetyards: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run lint:js, yarn run lint:css, yarn run lint, rubocop

chore(release): new Version v3.68.15 (ArcCorp) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: rubocop

fix: roadmap release parsing
  lib/rsi/roadmap_loader.rb
Due: rubocop

chore(release): new Version v3.68.16 (ArcCorp) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: rubocop

fix(roadmap): filter readds on new item
  app/javascript/frontend/partials/Roadmap/RoadmapItem/index.vue
Due: yarn run lint

chore(release): new Version v3.68.17 (ArcCorp) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: rubocop

chore: fix acorn deps
  package.json
  yarn.lock
Due: none

fix: acorn deps
  package.json
  yarn.lock
Due: none

chore: set minimal version of minimist
  package.json
  yarn.lock
Due: none

fix: nav visible and modal scroll
  app/javascript/frontend/App.vue
  app/javascript/frontend/partials/Navigation/index.scss
  app/javascript/stylesheets/frontend.scss
Due: yarn run lint:css, yarn run lint

chore(release): new Version v3.68.18 (ArcCorp) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: rubocop

chore(release): new Version v3.68.19 (ArcCorp) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: rubocop

chore: add healthcheck
  .circleci/config.yml
Due: none

chore: update health-check
  .circleci/config.yml
Due: none

chore: fix health-check
  .circleci/config.yml
Due: none

chore: healthcheck docker image
  .circleci/config.yml
  docker/health/Dockerfile
  scripts/docker-push.sh
Due: none

chore: fix audit issues
  package.json
  yarn.lock
Due: none

chore: update ruby 2.6
  .circleci/config.yml
  .ruby-version
  docker/base/Dockerfile
Due: none

chore: update webpacker ruby dependency
  Gemfile
  Gemfile.lock
  vendor/cache/loofah-2.4.0.gem
  vendor/cache/loofah-2.5.0.gem
  vendor/cache/semantic_range-2.3.0.gem
  vendor/cache/tzinfo-1.2.6.gem
  vendor/cache/tzinfo-1.2.7.gem
  vendor/cache/webpacker-4.2.2.gem
  vendor/cache/webpacker-5.0.1.gem
Due: none

chore: update max ram on circle
  .circleci/config.yml
  scripts/docker-push.sh
Due: none

chore: try to fix memory issue on ci
  .circleci/config.yml
Due: none

chore: move stylesheet entry files
  app/javascript/packs/admin.js
  app/javascript/packs/admin.scss
  app/javascript/packs/embed-v2.scss
  app/javascript/packs/embed.js
  app/javascript/packs/embed.scss
  app/javascript/packs/embed_v2.js
  app/javascript/packs/frontend.js
  app/javascript/packs/frontend.scss
  app/javascript/stylesheets/partials/compare-models.scss
  config/webpacker.yml
Due: yarn run lint:js, yarn run lint:css

chore: update base imports
  app/javascript/packs/frontend.js
Due: yarn run lint:js

chore: update js deps
  package.json
  scripts/docker-push.sh
  yarn.lock
Due: none

chore: update js deps
  package.json
  yarn.lock
Due: none

fix: specs
  app/javascript/frontend/components/Box/__tests__/spec.js
Due: yarn run lint:js

chore: optimize images
  app/assets/images/admin/icon-384.png
  app/javascript/frontend/App.vue
  app/javascript/frontend/lib/Store/index.js
  app/javascript/frontend/lib/Store/plugins.js
  app/javascript/frontend/lib/Store/state.js
  app/javascript/frontend/pages/Fleets/Members/index.vue
  app/javascript/frontend/pages/Fleets/Show/index.vue
  app/javascript/frontend/pages/Fleets/routes.js
  app/javascript/frontend/pages/Home/index.vue
  app/javascript/frontend/pages/Models/Show/Images/index.vue
  app/javascript/frontend/pages/Models/Show/Videos/index.vue
  app/javascript/frontend/pages/Models/Show/index.vue
  app/javascript/frontend/pages/Stations/CelestialObject/index.vue
  app/javascript/frontend/pages/Stations/Show/Images/index.vue
  app/javascript/frontend/pages/Stations/Show/index.vue
  app/javascript/frontend/pages/Stations/Starsystem/index.vue
  app/javascript/frontend/partials/AppFooter/index.scss
  app/javascript/frontend/partials/AppFooter/index.vue
  app/javascript/frontend/partials/Navigation/NavFooter/index.vue
  app/javascript/frontend/routes.js
  app/javascript/images/community-logo.png
  app/javascript/stylesheets/partials/background.scss
Due: yarn run lint:js, yarn run lint:css, yarn run lint

chore: optimize images
  app/javascript/frontend/App.vue
  app/javascript/images/favicon-small.png
  app/javascript/images/logo-home.png
  app/javascript/stylesheets/partials/background.scss
  config/initializers/content_security_policy.rb
  config/webpacker.yml
Due: yarn run lint:css, yarn run lint, rubocop

chore: linting
  app/javascript/frontend/pages/Models/Show/index.vue
Due: yarn run lint

chore: optimize chunks
  app/javascript/frontend/routes.js
Due: yarn run lint:js

chore: update fontawesome
  app/views/layouts/application.html.erb
  config/webpack/loaders/typescript.js
  config/webpack/loaders/vue.js
Due: yarn run lint:js, rubocop

refactor: styles for pages
  app/javascript/frontend/components/TeaserPanel/index.vue
  app/javascript/frontend/pages/Home/index.vue
  app/javascript/frontend/routes.js
  app/javascript/stylesheets/frontend.scss
  app/javascript/stylesheets/pages.scss
  app/javascript/stylesheets/pages/home.scss
  app/javascript/stylesheets/partials.scss
  app/javascript/stylesheets/partials/teaser-panel.scss
Due: yarn run lint:js, yarn run lint:css, yarn run lint

refactor: move support styles to global styles
  app/javascript/frontend/partials/Support/index.vue
  app/javascript/stylesheets/partials.scss
  app/javascript/stylesheets/partials/support.scss
Due: yarn run lint:css, yarn run lint

chore: add preconnects
  app/views/layouts/application.html.erb
Due: rubocop

chore: test reduced home page
  app/javascript/frontend/pages/Home/index.vue
Due: yarn run lint

chore: disable latest ships/images on home
  app/javascript/frontend/pages/Home/index.vue
  app/javascript/stylesheets/partials/compare-models.scss
  app/javascript/stylesheets/partials/loader.scss
  app/javascript/stylesheets/partials/panel.scss
  test/javascript/e2e/specs/Home.spec.js
Due: yarn run lint:js, yarn run lint:css, yarn run lint

chore: cleanup packs
  app/javascript/frontend/components/Gallery/index.vue
  app/javascript/frontend/lib/CopyText/index.js
  app/javascript/frontend/pages/Home/index.vue
  app/javascript/frontend/pages/Models/Show/Videos/index.vue
  app/javascript/frontend/partials/AppFooter/index.vue
  app/javascript/frontend/partials/BackToTop/index.vue
  app/javascript/frontend/partials/Navigation/index.vue
  app/javascript/packs/frontend.js
  app/javascript/stylesheets/partials.scss
  app/javascript/stylesheets/partials/app-footer.scss
  app/javascript/stylesheets/partials/back-to-top.scss
  package.json
  yarn.lock
Due: yarn run lint:js, yarn run lint:css, yarn run lint

chore: update locales export
  app/javascript/translations/en.js
Due: yarn run lint:js

feat: add resend confirmation button to admin
  app/assets/stylesheets/_partials.scss
  app/assets/stylesheets/partials/_checkbox.scss
  app/controllers/admin/users_controller.rb
  app/views/admin/users/_show.haml
  app/views/admin/users/_table.haml
  app/views/layouts/admin/_head.slim
  config/locales/en/actions.yml
  config/locales/en/messages.yml
  config/routes/admin_routes.rb
Due: yarn run lint:css, rubocop

fix: audit issue
  app/controllers/api/base_controller.rb
  app/javascript/frontend/App.vue
  app/javascript/frontend/pages/Login/index.vue
  package.json
  yarn.lock
Due: yarn run lint, rubocop

Path conditions:
  yarn run lint:js: any of: *.js
  yarn run lint:css: any of: *.{css,scss}
  yarn run lint: any of: *.vue
  rubocop: any of: *.{rb,erb,haml,jbuilder}
