Repository fleetyards/fleetyards: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run lint:js, yarn run lint:css, yarn run lint, rubocop

chore(stylelint): fix script
  package.json
Due: none

fix(sentry): update integrations
  app/javascript/frontend/lib/Sentry/index.js
  package.json
  yarn.lock
Due: yarn run lint:js

feat(roadmap): fix query
  app/controllers/api/v1/roadmap_controller.rb
Due: rubocop

feat(roadmap): fix changes
  app/controllers/api/v1/roadmap_controller.rb
  app/javascript/frontend/pages/Roadmap/Changes/index.vue
Due: yarn run lint, rubocop

fix(roadmap): update roadmap worker
  app/workers/roadmap_worker.rb
Due: rubocop

refactor(quick-search): update nav and searchbar
  app/javascript/frontend/pages/Hangar/index.vue
  app/javascript/frontend/pages/Models/index.vue
  app/javascript/frontend/partials/AppFooter/styles/index.scss
  app/javascript/frontend/partials/Models/Panel/styles/index.scss
  app/javascript/frontend/partials/Models/Search/index.vue
  app/javascript/frontend/partials/Navigation/QuickSearch/__tests__/sanity.spec.js
  app/javascript/frontend/partials/Navigation/QuickSearch/index.vue
  app/javascript/frontend/partials/Navigation/index.vue
  app/javascript/frontend/partials/Navigation/styles/index.scss
  app/javascript/frontend/partials/Vehicles/Search/index.vue
  app/javascript/frontend/routes.js
  app/javascript/stylesheets/main.scss
  app/javascript/stylesheets/partials/form.scss
  app/javascript/stylesheets/partials/panel.scss
  app/javascript/translations/en.json
  test/javascript/unit/__mocks__/fileMock.js
  test/javascript/unit/__mocks__/style.js
  test/javascript/unit/helpers/sanityTest.js
  test/javascript/unit/setup.js
Due: yarn run lint:js, yarn run lint:css, yarn run lint

refactor(nav): remove touch events for now
  app/javascript/frontend/App.vue
  app/javascript/packs/frontend.js
  package.json
  yarn.lock
Due: yarn run lint:js, yarn run lint

fix(roadmap): update worker to notify not only by ship changes
  app/javascript/frontend/App.vue
  app/workers/roadmap_worker.rb
Due: yarn run lint, rubocop

chore(release): new Version v3.1.3 (ArcCorp)
  config/version.rb
Due: rubocop

fix(router): update previous route handling
  app/javascript/frontend/lib/Router/index.js
Due: yarn run lint:js

fix(roadmap): fix roadmapItem
  app/javascript/frontend/pages/Roadmap/index.vue
  app/javascript/frontend/partials/Roadmap/RoadmapItem/index.vue
Due: yarn run lint

feat(roadmap): add progress information for inprogress tasks
  app/javascript/frontend/partials/Roadmap/RoadmapItem/index.vue
  app/javascript/stylesheets/partials/roadmap.scss
  app/javascript/stylesheets/variables.scss
  app/javascript/translations/en.json
  app/models/roadmap_item.rb
Due: yarn run lint:css, yarn run lint, rubocop

feat(roadmap): update inprogress #2
  app/javascript/frontend/partials/Roadmap/RoadmapItem/index.vue
Due: yarn run lint

fix(roadmap): only send updates when changes accured
  app/workers/roadmap_worker.rb
Due: rubocop

chore(roadmap): switch to paper_trail
  .lintstagedrc
  Gemfile
  Gemfile.lock
  app/models/audit.rb
  app/models/roadmap_item.rb
  app/views/api/v1/roadmap/_minimal.jbuilder
  app/workers/roadmap_worker.rb
  config/initializers/audited.rb
  db/migrate/20190504100003_drop_audits.rb
  db/migrate/20190504100140_create_versions.rb
  db/migrate/20190504100141_add_object_changes_to_versions.rb
  db/schema.rb
  lib/rsi_roadmap_loader.rb
  vendor/cache/audited-4.8.0.gem
  vendor/cache/paper_trail-10.3.0.gem
Due: rubocop

chore(roadmap): switch to paper_trail (#591)
  .lintstagedrc
  Gemfile
  Gemfile.lock
  app/models/audit.rb
  app/models/roadmap_item.rb
  app/views/api/v1/roadmap/_minimal.jbuilder
  app/workers/roadmap_worker.rb
  config/initializers/audited.rb
  db/migrate/20190504100003_drop_audits.rb
  db/migrate/20190504100140_create_versions.rb
  db/migrate/20190504100141_add_object_changes_to_versions.rb
  db/schema.rb
  lib/rsi_roadmap_loader.rb
  vendor/cache/audited-4.8.0.gem
  vendor/cache/paper_trail-10.3.0.gem
Due: rubocop

fix(roadmap): fix mapping issues and add missing translation
  app/javascript/frontend/partials/Roadmap/RoadmapItem/index.vue
  app/javascript/translations/en.json
  lib/rsi_roadmap_loader.rb
Due: yarn run lint, rubocop

fix(roadmap): hide changes for initial
  app/javascript/frontend/partials/Roadmap/RoadmapItem/index.vue
Due: yarn run lint

fix: roadmap
  app/javascript/frontend/partials/Roadmap/RoadmapItem/index.vue
  app/javascript/translations/en.json
Due: yarn run lint

fix: roadmap
  app/javascript/frontend/partials/Roadmap/RoadmapItem/index.vue
Due: yarn run lint

feat(admin): round upload progress
  app/javascript/admin/components/ImageUploader/index.vue
Due: yarn run lint

fix(roadmap): revert changes to the loader and add active flag
  app/controllers/api/v1/roadmap_controller.rb
  app/models/roadmap_item.rb
  db/migrate/20190511193502_add_active_to_roadmap_items.rb
  db/schema.rb
  lib/rsi_roadmap_loader.rb
Due: rubocop

fix(roadmap): rubocoptering
  db/seeds.rb
  lib/rsi_roadmap_loader.rb
Due: rubocop

fix(roadmap): rubocoptering
  lib/rsi_roadmap_loader.rb
Due: rubocop

feat(uploader): update styling
  app/assets/stylesheets/application.scss
  app/javascript/admin/components/ImageUploader/ImageRow/index.vue
  app/javascript/admin/components/ImageUploader/ImageRow/styles/index.scss
  app/javascript/admin/components/ImageUploader/index.vue
  app/javascript/admin/components/ImageUploader/styles/index.scss
  app/javascript/stylesheets/partials/flex.scss
  app/javascript/stylesheets/partials/media.scss
  app/models/image.rb
  app/views/admin/api/v1/images/_base.jbuilder
  app/views/api/v1/images/_base.jbuilder
  app/views/layouts/admin/_head.slim
  config/deploy.rb
  config/environments/development.rb
  config/environments/test.rb
  config/initializers/clear_logs.rb
  config/secrets.yml
Due: yarn run lint:css, yarn run lint, rubocop

chore(ci): fix specs
  .circleci/config.yml
Due: none

fix: background
  app/javascript/stylesheets/partials/media.scss
Due: yarn run lint:css

refactor(store): #WIP
  app/javascript/frontend/App.vue
  app/javascript/frontend/lib/Router/index.js
  app/javascript/frontend/lib/Store/index.js
  app/javascript/frontend/lib/Store/modules/app/actions.js
  app/javascript/frontend/lib/Store/modules/app/index.js
  app/javascript/frontend/lib/Store/modules/hangar/index.js
  app/javascript/frontend/lib/Store/modules/index.js
  app/javascript/frontend/lib/Store/modules/models/index.js
  app/javascript/frontend/lib/Store/modules/session/index.js
  app/javascript/frontend/lib/Store/modules/stations/index.js
  app/javascript/frontend/mixins/CheckAppVersion/index.js
  app/javascript/frontend/pages/Roadmap/index.vue
  app/javascript/frontend/partials/AppFooter/index.vue
  app/javascript/frontend/partials/Navigation/index.vue
  app/javascript/packs/frontend.js
  package.json
  yarn.lock
Due: yarn run lint:js, yarn run lint

refactor(input-clear): use component for input fields
  app/javascript/frontend/components/Btn/index.vue
  app/javascript/frontend/components/Btn/styles/index.scss
  app/javascript/frontend/components/Form/FilterGroup/index.vue
  app/javascript/frontend/components/Form/FilterGroup/styles/index.scss
  app/javascript/frontend/components/Form/FormInput/index.vue
  app/javascript/frontend/components/Form/FormInput/styles/index.scss
  app/javascript/frontend/pages/Home/index.vue
  app/javascript/frontend/partials/Models/FilterForm/index.vue
  app/javascript/frontend/partials/Navigation/QuickSearch/index.vue
  app/javascript/frontend/partials/Shops/FilterForm/index.vue
  app/javascript/frontend/partials/Shops/ShopItemFilterForm/index.vue
  app/javascript/frontend/partials/Stations/FilterForm/index.vue
  app/javascript/frontend/partials/Vehicles/FilterForm/index.vue
  app/javascript/stylesheets/partials/buttons.scss
  app/javascript/stylesheets/partials/form.scss
Due: yarn run lint:css, yarn run lint

refactor(input): update clear styles
  .lintstagedrc
  app/javascript/frontend/components/Form/FormInput/index.vue
  app/javascript/frontend/components/Form/FormInput/styles/index.scss
  app/javascript/frontend/routes.js
  app/javascript/stylesheets/partials/buttons.scss
  app/javascript/stylesheets/partials/form.scss
Due: yarn run lint:js, yarn run lint:css, yarn run lint

refactor(input): remove bootstrap input dependency for FormInput
  app/javascript/frontend/components/Form/FormInput/index.vue
  app/javascript/frontend/components/Form/FormInput/styles/index.scss
  app/javascript/stylesheets/partials/buttons.scss
  app/javascript/stylesheets/partials/form.scss
Due: yarn run lint:css, yarn run lint

refactor(store): fix specs
  app/javascript/frontend/components/Btn/index.vue
  app/javascript/frontend/components/Models/Panel/__tests__/sanity.spec.js
  app/javascript/frontend/components/Models/Panel/__tests__/spec.js
  app/javascript/frontend/components/TeaserPanel/__tests__/sanity.spec.js
  app/javascript/frontend/components/TeaserPanel/index.vue
  app/javascript/frontend/pages/Home/index.vue
  test/javascript/e2e/specs/Home.spec.js
  test/javascript/e2e/support/commands.js
Due: yarn run lint:js, yarn run lint

chore(uploader): update for latest changes
  app/javascript/admin/App.vue
  app/javascript/admin/components/ImageUploader/ImageRow/index.vue
  app/javascript/admin/components/ImageUploader/ImageRow/styles/index.scss
  app/javascript/admin/components/ImageUploader/index.vue
  app/javascript/admin/components/ImageUploader/styles/index.scss
  app/javascript/frontend/components/TeaserPanel/styles/index.scss
  app/javascript/stylesheets/partials/flex.scss
Due: yarn run lint:css, yarn run lint

chore(admin): update dashboard
  app/javascript/stylesheets/partials/panel.scss
  app/views/admin/base/_classification_chart_panel.slim
  app/views/admin/base/_components_chart_panel.slim
  app/views/admin/base/_latest_components_panel.haml
  app/views/admin/base/_latest_manufacturers_panel.haml
  app/views/admin/base/_latest_models_panel.haml
  app/views/admin/base/_manufacturers_chart_panel.slim
  app/views/admin/base/_models_chart_panel.slim
  app/views/admin/base/_production_status_chart_panel.slim
  app/views/admin/base/_quick_stats.haml
  app/views/admin/base/_size_chart_panel.slim
  app/views/admin/base/_users_panel.slim
  app/views/admin/base/_visits_panel.slim
Due: yarn run lint:css, rubocop

Path conditions:
  yarn run lint:js: any of: *.js
  yarn run lint:css: any of: *.{css,scss}
  yarn run lint: any of: *.vue
  rubocop: any of: *.{rb,erb,haml,jbuilder}
