Repository fleetyards/fleetyards: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run lint:js, yarn run lint:css, yarn run lint, rubocop

.lintstagedrc:

{
  "*.js": [
    "yarn run lint:js",
    "git add"
  ],
  "*.{css,scss}": [
    "yarn run lint:css",
    "git add"
  ],
  "*.vue": [
    "yarn run lint",
    "git add"
  ],
  "*.{rb,erb,haml,jbuilder}": [
    "rubocop",
    "git add"
  ]
}

chore(release): new Version v3.21.5 (ArcCorp) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: rubocop

fix(support): update specs
  app/javascript/frontend/partials/AppFooter/__tests__/spec.js
Due: yarn run lint:js

chore(release): new Version v3.21.6 (ArcCorp) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: rubocop

feat(roadmap): add removals and fix empty labels
  app/controllers/api/v1/roadmap_controller.rb
  app/javascript/frontend/pages/Roadmap/Releases/index.vue
  app/javascript/frontend/pages/Roadmap/index.vue
  app/javascript/frontend/partials/Roadmap/RoadmapItem/index.vue
  app/javascript/translations/en/labels.js
  app/models/roadmap_item.rb
  lib/rsi_roadmap_loader.rb
Due: yarn run lint:js, yarn run lint, rubocop

chore(release): new Version v3.22.0 (ArcCorp) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: rubocop

fix(models): strip rsi name of whitespace
  lib/rsi_models_loader.rb
Due: rubocop

chore(release): new Version v3.22.1 (ArcCorp) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: rubocop

feat(roadmap): group changes by release
  app/javascript/frontend/pages/Roadmap/Changes/index.vue
  app/javascript/frontend/pages/Roadmap/Releases/index.vue
  app/javascript/frontend/pages/Roadmap/index.vue
  app/javascript/stylesheets/partials/roadmap.scss
Due: yarn run lint:css, yarn run lint

chore(release): new Version v3.23.0 (ArcCorp) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: rubocop

fix(roadmap): use correct label for changes page
  app/javascript/frontend/pages/Roadmap/Changes/index.vue
Due: yarn run lint

chore(release): new Version v3.23.1 (ArcCorp) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: rubocop

chore(deps): update puma
  Gemfile
  Gemfile.lock
  vendor/cache/nio4r-2.4.0.gem
  vendor/cache/nio4r-2.5.1.gem
  vendor/cache/puma-4.0.1.gem
  vendor/cache/puma-4.1.1.gem
Due: none

feat(models): add last updated at date and direct link to compare from detail
  app/javascript/frontend/lib/I18n/index.js
  app/javascript/frontend/lib/Store/modules/session/actions.js
  app/javascript/frontend/pages/Models/Show/index.vue
  app/javascript/frontend/partials/Models/BaseMetrics/index.vue
  app/javascript/translations/en.js
  app/views/api/v1/models/_base.jbuilder
  package.json
  yarn.lock
Due: yarn run lint:js, yarn run lint, rubocop

feat(models): add last updated at date and direct link to compare from detail
  app/controllers/api/base_controller.rb
  app/views/api/shared/_dates.jbuilder
  app/views/api/v1/models/_base.jbuilder
  app/views/api/v1/roadmap/_minimal.jbuilder
  config/initializers/rack_attack.rb
  test/controllers/api/v1/celestial_objects_controller_test.rb
  test/controllers/api/v1/fleets_controller_test.rb
  test/controllers/api/v1/models_controller_test.rb
  test/controllers/api/v1/roadmap_controller_test.rb
  test/controllers/api/v1/shop_commodities_controller_test.rb
  test/controllers/api/v1/shops_controller_test.rb
  test/controllers/api/v1/starsystems_controller_test.rb
  test/controllers/api/v1/stations_controller_test.rb
  test/controllers/api/v1/trade_routes_controller_test.rb
  test/controllers/api/v1/vehicles_controller_test.rb
Due: rubocop

fix(dateFormat): update key
  app/javascript/frontend/lib/Store/modules/session/actions.js
Due: yarn run lint:js

chore(release): new Version v3.24.0 (ArcCorp) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: rubocop

chore(date-fns): display correct time zones
  app/javascript/frontend/lib/I18n/index.js
  app/javascript/translations/de.js
  app/views/api/shared/_dates.jbuilder
  app/views/api/v1/models/_base.jbuilder
  package.json
  yarn.lock
Due: yarn run lint:js, rubocop

fix(test): update times
  test/controllers/api/v1/celestial_objects_controller_test.rb
  test/controllers/api/v1/fleets_controller_test.rb
  test/controllers/api/v1/models_controller_test.rb
  test/controllers/api/v1/roadmap_controller_test.rb
  test/controllers/api/v1/shop_commodities_controller_test.rb
  test/controllers/api/v1/shops_controller_test.rb
  test/controllers/api/v1/starsystems_controller_test.rb
  test/controllers/api/v1/stations_controller_test.rb
  test/controllers/api/v1/trade_routes_controller_test.rb
  test/controllers/api/v1/vehicles_controller_test.rb
  test/unit/rsi_models_loader_test.rb
Due: rubocop

chore(release): new Version v3.24.1 (ArcCorp) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: rubocop

feat(hangar): show addons on public hangar
  app/javascript/frontend/components/Models/Panel/index.vue
  app/javascript/frontend/pages/Hangar/Public/index.vue
  app/javascript/frontend/pages/Hangar/index.vue
  app/javascript/frontend/partials/Vehicles/AddonsModal/Addons/index.scss
  app/javascript/frontend/partials/Vehicles/AddonsModal/Addons/index.vue
  app/javascript/frontend/partials/Vehicles/AddonsModal/index.vue
Due: yarn run lint:css, yarn run lint

chore(release): new Version v3.25.0 (ArcCorp) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: rubocop

fix(roadmap): use correct format for dates
  app/javascript/frontend/pages/Hangar/index.vue
  app/javascript/frontend/pages/Roadmap/Changes/index.vue
Due: yarn run lint

chore(release): new Version v3.25.1 (ArcCorp) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: rubocop

fix(roadmap): update date format
  app/javascript/translations/en.js
Due: yarn run lint:js

chore(release): new Version v3.25.2 (ArcCorp) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: rubocop

chore(roadmap): released should no longer be tracked
  app/models/roadmap_item.rb
Due: rubocop

chore(release): new Version v3.25.3 (ArcCorp) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: rubocop

feat(shop): add quick filter for sub categories
  app/controllers/api/v1/shop_commodities_controller.rb
  app/javascript/frontend/mixins/Filters/index.js
  app/javascript/frontend/pages/Stations/Shop/index.vue
Due: yarn run lint:js, yarn run lint, rubocop

chore(release): new Version v3.26.0 (ArcCorp) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: rubocop

chore(optimize): reduce bootstrap size
  app/javascript/frontend/lib/Bootstrap/index.js
  app/javascript/packs/admin.js
  app/javascript/packs/frontend.js
  package.json
  yarn.lock
Due: yarn run lint:js

chore(optimize): reduce bootstrap size (#887)
  app/javascript/frontend/lib/Bootstrap/index.js
  app/javascript/packs/admin.js
  app/javascript/packs/frontend.js
  package.json
  yarn.lock
Due: yarn run lint:js

chore(deps): fix security issue with handlebars
  package.json
  yarn.lock
Due: none

feat(rentals): add rental information to ship detail page
  .ruby-version
  Gemfile
  Gemfile.lock
  app/javascript/frontend/partials/Models/BaseMetrics/index.vue
  app/javascript/translations/en.js
  app/models/model.rb
  app/views/api/v1/models/_complete.jbuilder
Due: yarn run lint:js, yarn run lint, rubocop

chore(deps): update ruby images
  .circleci/config.yml
  config/deploy.rb
  docker/base/Dockerfile
  docker/ci/Dockerfile
  scripts/docker-push.sh
Due: rubocop

chore(ruby): upgrade to ruby 2.6.5
  .ruby-version
  Gemfile
  Gemfile.lock
Due: none

chore(ruby): update ci
  .circleci/config.yml
  scripts/docker-push.sh
Due: none

chore(ruby): update Dockerfile
  docker/base/Dockerfile
  docker/ci/Dockerfile
Due: none

feat(shops): add rental shops
  app/javascript/frontend/partials/Models/BaseMetrics/index.vue
  app/javascript/frontend/partials/Roadmap/RoadmapItem/index.vue
  app/views/api/v1/models/_base.jbuilder
  app/views/api/v1/roadmap/_minimal.jbuilder
  config/locales/default/en/en.yml
  db/seeds/01_stanton/02_hurston/01_hurston.rb
  db/seeds/01_stanton/03_arccorp/01_arccorp.rb
Due: yarn run lint, rubocop

fix(specs): add new date fields
  app/views/api/v1/models/_base.jbuilder
  test/controllers/api/v1/fleets_controller_test.rb
  test/controllers/api/v1/models_controller_test.rb
  test/controllers/api/v1/roadmap_controller_test.rb
  test/controllers/api/v1/shop_commodities_controller_test.rb
  test/controllers/api/v1/vehicles_controller_test.rb
Due: rubocop

chore(release): new Version v3.27.0 (ArcCorp) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: rubocop
