Repository fleetyards/fleetyards: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run lint:js, yarn run lint:css, yarn run lint, rubocop

feat: load equipment and components from spreadsheet
  app/models/component.rb
Due: rubocop

fix: flex-list col sizes should fix #1161
  app/javascript/stylesheets/partials/flex.scss
Due: yarn run lint:css

fix: remove label from search page form
  app/javascript/frontend/pages/Search/index.vue
Due: yarn run lint

feat: update manufacturers
  app/models/model.rb
  db/seeds/99_items/3.8/clothing.json
  db/seeds/99_items/3.8/components.json
  db/seeds/99_items/3.8/fps_armor.json
  db/seeds/99_items/3.8/weapons.json
  lib/spreadsheet/star_citizen_trading_loader.rb
Due: rubocop

chore(release): new Version v3.68.0 (ArcCorp) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: rubocop

fix: toggle button
  app/javascript/stylesheets/partials/buttons.scss
Due: yarn run lint:css

chore(release): new Version v3.68.1 (ArcCorp) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: rubocop

fix: toggle button width
  app/javascript/stylesheets/partials/buttons.scss
Due: yarn run lint:css

fix: hangar groups cache invalidation
  app/models/task_force.rb
Due: rubocop

chore: add images for microtech moons
  db/seeds/01_stanton/04_microtech/02_calliope.rb
  db/seeds/01_stanton/04_microtech/03_clio.rb
  db/seeds/01_stanton/04_microtech/04_euterpe.rb
  db/seeds/images/stanton/microtech/calliope/calliope.jpg
  db/seeds/images/stanton/microtech/clio/clio.jpg
  db/seeds/images/stanton/microtech/euterpe/euterpe.jpg
Due: rubocop

chore(release): new Version v3.68.2 (ArcCorp) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: rubocop

chore: update erkul slugs
  db/seeds/02_erkul.rb
  db/seeds/erkul.json
Due: rubocop

chore(release): new Version v3.68.3 (ArcCorp) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: rubocop

chore(release): new Version v3.68.4 (ArcCorp) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: rubocop

chore: update erkul url
  app/javascript/frontend/pages/Models/Show/index.vue
Due: yarn run lint

chore(release): new Version v3.68.5 (ArcCorp) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: rubocop

fix: loaner admin mail
  app/views/admin_mailer/missing_loaners.html.inky
Due: none

fix: loaner admin mail
  lib/rsi/loaner_loader.rb
Due: rubocop

chore(release): new Version v3.68.6 (ArcCorp) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: rubocop

fix: try to resolve forbidden error on sidekiq cron tab
  config/initializers/sidekiq.rb
Due: rubocop

chore(release): new Version v3.68.7 (ArcCorp) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: rubocop

fix: admin session
  app/controllers/admin/application_controller.rb
  app/controllers/concerns/api_authorization.rb
Due: rubocop

Revert "fix: admin session"
  app/controllers/admin/application_controller.rb
  app/controllers/concerns/api_authorization.rb
Due: rubocop

chore: remove turbolinks
  Gemfile
  Gemfile.lock
  app/assets/javascripts/application.js
  config/application.rb
  config/initializers/devise.rb
  vendor/cache/turbolinks-5.2.1.gem
  vendor/cache/turbolinks-source-5.2.0.gem
Due: yarn run lint:js, rubocop

chore(release): new Version v3.68.8 (ArcCorp) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: rubocop

chore: update turbolinks load events
  app/assets/javascripts/app.coffee
  app/assets/javascripts/app/dashboard.coffee
  app/assets/javascripts/app/models.coffee
  app/assets/javascripts/application.js
  app/assets/javascripts/tabs.js
Due: yarn run lint:js

chore(release): new Version v3.68.9 (ArcCorp) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: rubocop

chore: update cache
  config/environments/production.rb
Due: rubocop

chore(release): new Version v3.68.10 (ArcCorp) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: rubocop

fix: hangar group caches
  app/models/hangar_group.rb
  app/models/vehicle.rb
Due: rubocop

chore(release): new Version v3.68.11 (ArcCorp) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: rubocop

fix: hangar groups
  app/controllers/api/v1/vehicles_controller.rb
Due: rubocop

chore(release): new Version v3.68.12 (ArcCorp) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: rubocop

fix: roadmap release parsing
  lib/rsi/roadmap_loader.rb
Due: rubocop

chore(release): new Version v3.68.13 (ArcCorp) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: rubocop

fix: roadmap item caching
  app/views/api/v1/roadmap/_minimal.jbuilder
Due: rubocop

chore(release): new Version v3.68.14 (ArcCorp) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: rubocop

fix: roadmap last change at
  app/models/roadmap_item.rb
Due: rubocop

Path conditions:
  yarn run lint:js: any of: *.js
  yarn run lint:css: any of: *.{css,scss}
  yarn run lint: any of: *.vue
  rubocop: any of: *.{rb,erb,haml,jbuilder}
