Repository fleetyards/fleetyards: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run lint:js, yarn run lint:css, yarn run lint, rubocop

.lintstagedrc:

{
  "*.js": [
    "yarn run lint:js",
    "git add"
  ],
  "*.{css,scss}": [
    "yarn run lint:css",
    "git add"
  ],
  "*.vue": [
    "yarn run lint",
    "git add"
  ],
  "*.{rb,erb,haml,jbuilder}": [
    "rubocop",
    "git add"
  ]
}

chore(release): new Version v3.15.1 (ArcCorp) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: rubocop

feat(fleets): update logo
  app/javascript/frontend/pages/Fleets/Show/index.scss
  app/javascript/frontend/pages/Fleets/Show/index.vue
Due: yarn run lint:css, yarn run lint

feat(fleets): update rsi loader
  app/models/fleet.rb
  config/locales/en/validation_error.yml
  db/migrate/20190407233556_cleanup_fleets.rb
  lib/rsi_orgs_loader.rb
Due: rubocop

feat(fleets): add member page #WIP
  app/controllers/api/v1/fleets_controller.rb
  app/javascript/frontend/mixins/Fleet/index.js
  app/javascript/frontend/pages/Fleets/Members/index.vue
  app/javascript/frontend/pages/Fleets/Show/index.scss
  app/javascript/frontend/pages/Fleets/Show/index.vue
  app/javascript/frontend/pages/Fleets/routes.js
  app/javascript/frontend/routes.js
  app/models/fleet_membership.rb
  app/models/user.rb
  app/views/api/v1/users/_base.jbuilder
  app/workers/citizen_worker.rb
  config/routes/frontend_routes.rb
  config/sidekiq.yml
  db/migrate/20190408153412_create_fleet_memberships.rb
  lib/rsi_orgs_loader.rb
  test/fixtures/fleet_memberships.yml
Due: yarn run lint:js, yarn run lint:css, yarn run lint, rubocop

refactor(toggle): reuse structure from btn component
  app/javascript/frontend/components/Toggle/index.vue
  app/javascript/stylesheets/partials/buttons.scss
Due: yarn run lint:css, yarn run lint

chore(release): new Version v3.15.2 (ArcCorp) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: rubocop

fix(models): update admin form
  app/views/admin/models/_form.haml
Due: rubocop

chore(release): new Version v3.15.3 (ArcCorp) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: rubocop

fix(model): dont lazy load fleetchart images
  app/javascript/frontend/partials/Models/FleetchartItem/Image/index.vue
Due: yarn run lint

chore(release): new Version v3.15.4 (ArcCorp) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: rubocop

chore(seeds): update hurston image
  app/javascript/frontend/partials/Roadmap/RoadmapItem/index.vue
  db/seeds/01_stanton/02_hurston/01_hurston.rb
  db/seeds/images/stanton/hurston/hurston-a.jpg
Due: yarn run lint, rubocop

chore(release): new Version v3.15.5 (ArcCorp) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: rubocop

fix(toggle): update mobile styles
  app/javascript/stylesheets/partials/buttons.scss
Due: yarn run lint:css

chore(release): new Version v3.15.6 (ArcCorp) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: rubocop

feat(trade-routes): add filter for origin and destination
  app/controllers/api/v1/trade_routes_controller.rb
  app/javascript/frontend/partials/TradeRoutes/FilterForm/index.vue
  app/javascript/translations/en/labels.js
  app/models/trade_route.rb
Due: yarn run lint:js, yarn run lint, rubocop

chore(release): new Version v3.16.0 (ArcCorp) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: rubocop

fix(trade-routes): update pagination
  app/javascript/frontend/pages/TradeRoutes/index.vue
Due: yarn run lint

chore(release): new Version v3.16.1 (ArcCorp) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: rubocop

fix(trade-routes): allow search of cargo ships
  app/controllers/api/v1/models_controller.rb
Due: rubocop

chore(release): new Version v3.16.2 (ArcCorp) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: rubocop

feat(trade-routes): update filters
  app/javascript/frontend/components/Form/FilterGroup/index.scss
  app/javascript/frontend/components/Form/FilterGroup/index.vue
  app/javascript/frontend/pages/TradeRoutes/index.vue
  app/javascript/frontend/partials/Navigation/QuickSearch/index.vue
  app/javascript/frontend/partials/TradeRoutes/FilterForm/index.vue
  app/javascript/frontend/partials/TradeRoutes/QuickFilter/index.vue
  app/javascript/translations/en/labels.js
Due: yarn run lint:js, yarn run lint:css, yarn run lint

chore(release): new Version v3.17.0 (ArcCorp) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: rubocop

refactor(click-handler): update global document click
  app/javascript/frontend/App.vue
  app/javascript/frontend/components/Form/FilterGroup/index.vue
  app/javascript/frontend/partials/Navigation/index.vue
Due: yarn run lint

chore(release): new Version v3.17.1 (ArcCorp) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: rubocop

chore(filter-group): update styles
  app/controllers/api/v1/trade_routes_controller.rb
  app/javascript/frontend/components/Form/FilterGroup/index.scss
  app/javascript/frontend/components/Modal/index.scss
  app/javascript/frontend/components/Modal/index.vue
  app/javascript/frontend/pages/Compare/Models/index.vue
  app/javascript/stylesheets/frontend.scss
Due: yarn run lint:css, yarn run lint, rubocop

fix(addons): update modal and use filterGroup
  app/javascript/frontend/partials/Vehicles/AddonsModal/Addons/index.scss
  app/javascript/frontend/partials/Vehicles/AddonsModal/Addons/index.vue
  app/javascript/frontend/partials/Vehicles/AddonsModal/index.scss
  app/javascript/frontend/partials/Vehicles/AddonsModal/index.vue
  app/javascript/translations/en/actions.js
Due: yarn run lint:js, yarn run lint:css, yarn run lint

chore(release): new Version v3.17.2 (ArcCorp) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: rubocop

fix(filter-group): update selection styles
  app/javascript/frontend/components/Form/FilterGroup/index.scss
Due: yarn run lint:css

chore(release): new Version v3.17.3 (ArcCorp) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: rubocop

fix(addons): remove unused component
  app/javascript/frontend/partials/Vehicles/AddonsModal/Addons/index.vue
Due: yarn run lint

chore(release): new Version v3.17.4 (ArcCorp) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: rubocop

fix(modals): update scrolling
  app/javascript/frontend/components/Form/FilterGroup/index.vue
  app/javascript/frontend/components/Modal/index.scss
  app/javascript/frontend/components/TeaserPanel/index.vue
  app/javascript/frontend/partials/Vehicles/AddonsModal/Addons/index.scss
  app/javascript/frontend/partials/Vehicles/AddonsModal/Addons/index.vue
  app/javascript/frontend/partials/Vehicles/AddonsModal/index.vue
  app/javascript/frontend/partials/Vehicles/Modal/index.scss
  app/javascript/frontend/partials/Vehicles/Modal/index.vue
  app/javascript/frontend/partials/Vehicles/NewVehiclesModal/index.vue
  app/javascript/translations/en/actions.js
Due: yarn run lint:js, yarn run lint:css, yarn run lint

chore(release): new Version v3.17.5 (ArcCorp) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: rubocop

fix(filter-group): update find missing
  app/controllers/api/v1/celestial_objects_controller.rb
  app/controllers/api/v1/commodities_controller.rb
  app/controllers/api/v1/components_controller.rb
  app/controllers/api/v1/equipment_controller.rb
  app/controllers/api/v1/models_controller.rb
  app/controllers/api/v1/shop_commodities_controller.rb
  app/controllers/api/v1/shops_controller.rb
  app/controllers/api/v1/starsystems_controller.rb
  app/controllers/api/v1/stations_controller.rb
  app/javascript/frontend/components/Form/FilterGroup/index.vue
  app/javascript/frontend/partials/TradeRoutes/QuickFilter/index.vue
  app/models/auth_token.rb
  app/models/celestial_object.rb
  app/models/commodity.rb
  app/models/component.rb
  app/models/equipment.rb
  app/models/starsystem.rb
  app/models/station.rb
Due: yarn run lint, rubocop

chore(release): new Version v3.17.6 (ArcCorp) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: rubocop

fix(filter-group): linting
  app/javascript/frontend/components/Form/FilterGroup/index.vue
  app/models/commodity.rb
Due: yarn run lint, rubocop

chore(release): new Version v3.17.7 (ArcCorp) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: rubocop

chore(contact): update contact methods
  app/javascript/frontend/pages/Impressum/index.vue
  app/javascript/frontend/pages/PrivacyPolicy/index.vue
  app/javascript/frontend/partials/AppFooter/index.scss
  app/javascript/frontend/partials/AppFooter/index.vue
  app/javascript/translations/en/texts.js
  app/views/layouts/admin/_footer.haml
Due: yarn run lint:js, yarn run lint:css, yarn run lint, rubocop

fix(specs): update footer specs
  app/javascript/frontend/partials/AppFooter/__tests__/spec.js
Due: yarn run lint:js

chore(release): new Version v3.17.8 (ArcCorp) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: rubocop
