Repository fleetyards/fleetyards: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run lint:js, yarn run lint:css, yarn run lint, rubocop

.lintstagedrc:

{
  "*.js": [
    "yarn run lint:js",
    "git add"
  ],
  "*.{css,scss}": [
    "yarn run lint:css",
    "git add"
  ],
  "*.vue": [
    "yarn run lint",
    "git add"
  ],
  "*.{rb,erb,haml,jbuilder}": [
    "rubocop",
    "git add"
  ]
}

chore(release): new Version v3.69.0 (ArcCorp) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: rubocop

chore: reenable home updates
  app/javascript/frontend/pages/Home/index.vue
  package.json
  yarn.lock
Due: yarn run lint

chore: make coverage optional
  .circleci/config.yml
  lib/tasks/test.rake
  package.json
  test/test_helper.rb
Due: rubocop

chore: add jetbrains settings
  .generators
  .idea/.generators
  .idea/.gitignore
  .idea/.rakeTasks
  .idea/codeStyles/Project.xml
  .idea/codeStyles/codeStyleConfig.xml
  .idea/dictionaries/mortik.xml
  .idea/fleetyards.iml
  .idea/inspectionProfiles/Project_Default.xml
  .idea/misc.xml
  .idea/modules.xml
  .idea/vcs.xml
  .rakeTasks
Due: none

chore: rubocoptering - add missing unique indexes
  .idea/fleetyards.iml
  .rubocop.yml
  db/migrate/20200504133432_add_missing_unique_indexes.rb
  db/schema.rb
Due: rubocop

chore: update yarn.lock
  yarn.lock
Due: none

chore: upgrade vue swatches to 2.x
  app/javascript/frontend/partials/Vehicles/GroupModal/index.scss
  app/javascript/frontend/partials/Vehicles/GroupModal/index.vue
  app/javascript/stylesheets/partials/labels.scss
Due: yarn run lint:css, yarn run lint

chore: exclude additional folders in idea
  .idea/fleetyards.iml
Due: none

chore: update idea config
  .idea/.generators
  .idea/fleetyards.iml
Due: none

chore(release): new Version v3.69.1 (ArcCorp) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: rubocop

fix: tests for new test-utils
  .idea/fleetyards.iml
  app/javascript/frontend/components/Loader/__tests__/spec.js
  app/javascript/frontend/components/Loader/index.vue
  app/javascript/frontend/components/Models/Panel/__tests__/spec.js
  app/javascript/frontend/components/SmallLoader/__tests__/spec.js
  test/javascript/unit/helpers/sanityTest.js
Due: yarn run lint:js, yarn run lint

Setup Github Actions - first example
  .github/workflows/main.yml
Due: none

Update main.yml
  .github/workflows/main.yml
Due: none

chore: disable github actions
  .github/workflows/main.yml
Due: none

feat: add model skins #WIP
  app/models/model_skin.rb
  db/migrate/20191230155655_create_fleets.rb
  db/migrate/20200304192035_create_model_skins.rb
  db/schema.rb
  lib/rsi/models_loader.rb
  public/models.json
  test/fixtures/model_skins.yml
  test/models/model_skin_test.rb
Due: rubocop

chore: update ci config
  .circleci/config.yml
Due: none

fix: loaners should no longer be marked is in hangar
  .idea/dictionaries/mortik.xml
  app/javascript/frontend/components/Models/Panel/index.vue
  app/javascript/frontend/components/TeaserPanel/index.vue
  app/javascript/frontend/lib/Store/modules/hangar/actions.js
  app/javascript/frontend/pages/Models/Show/index.vue
  app/javascript/frontend/partials/Fleetchart/List/Item/ContextMenu/index.vue
  app/javascript/frontend/partials/Models/AddToHangar/index.vue
  app/javascript/stylesheets/partials/teaser-panel.scss
  app/javascript/translations/en/labels.js
  app/models/vehicle.rb
  app/workers/vehicles_worker.rb
Due: yarn run lint:js, yarn run lint:css, yarn run lint, rubocop

fix: linting
  .idea/misc.xml
  app/javascript/frontend/lib/Store/modules/hangar/actions.js
Due: yarn run lint:js

chore: update circle ci config
  .circleci/config.yml
Due: none

chore: use fontaweome directly without kit
  app/javascript/stylesheets/frontend.scss
  app/javascript/stylesheets/vendor/fontawesome.css
  app/javascript/vendor/fontawesome/webfonts/fa-brands-400.eot
  app/javascript/vendor/fontawesome/webfonts/fa-brands-400.svg
  app/javascript/vendor/fontawesome/webfonts/fa-brands-400.ttf
  app/javascript/vendor/fontawesome/webfonts/fa-brands-400.woff
  app/javascript/vendor/fontawesome/webfonts/fa-brands-400.woff2
  app/javascript/vendor/fontawesome/webfonts/fa-duotone-900.eot
  app/javascript/vendor/fontawesome/webfonts/fa-duotone-900.svg
  app/javascript/vendor/fontawesome/webfonts/fa-duotone-900.ttf
  app/javascript/vendor/fontawesome/webfonts/fa-duotone-900.woff
  app/javascript/vendor/fontawesome/webfonts/fa-duotone-900.woff2
  app/javascript/vendor/fontawesome/webfonts/fa-light-300.eot
  app/javascript/vendor/fontawesome/webfonts/fa-light-300.svg
  app/javascript/vendor/fontawesome/webfonts/fa-light-300.ttf
  app/javascript/vendor/fontawesome/webfonts/fa-light-300.woff
  app/javascript/vendor/fontawesome/webfonts/fa-light-300.woff2
  app/javascript/vendor/fontawesome/webfonts/fa-regular-400.eot
  app/javascript/vendor/fontawesome/webfonts/fa-regular-400.svg
  app/javascript/vendor/fontawesome/webfonts/fa-regular-400.ttf
  app/javascript/vendor/fontawesome/webfonts/fa-regular-400.woff
  app/javascript/vendor/fontawesome/webfonts/fa-regular-400.woff2
  app/javascript/vendor/fontawesome/webfonts/fa-solid-900.eot
  app/javascript/vendor/fontawesome/webfonts/fa-solid-900.svg
  app/javascript/vendor/fontawesome/webfonts/fa-solid-900.ttf
  app/javascript/vendor/fontawesome/webfonts/fa-solid-900.woff
  app/javascript/vendor/fontawesome/webfonts/fa-solid-900.woff2
  app/views/layouts/application.html.erb
Due: yarn run lint:css, rubocop

feat: cleanup hangar header
  .idea/.generators
  .idea/fleetyards.iml
  app/controllers/api/v1/vehicles_controller.rb
  app/javascript/frontend/components/BtnDropdown/index.vue
  app/javascript/frontend/components/DownloadScreenshotBtn/index.vue
  app/javascript/frontend/components/FilteredList/index.vue
  app/javascript/frontend/pages/Hangar/Public/index.vue
  app/javascript/frontend/pages/Hangar/index.scss
  app/javascript/frontend/pages/Hangar/index.vue
  app/javascript/frontend/pages/Models/index.vue
  app/javascript/frontend/partials/Models/ClassLabels/index.vue
  app/javascript/frontend/partials/Vehicles/GroupLabels/index.vue
  app/javascript/frontend/partials/Vehicles/Modal/index.vue
  app/javascript/stylesheets/partials.scss
  app/javascript/stylesheets/partials/buttons.scss
  app/javascript/stylesheets/partials/filtered-list.scss
  app/javascript/stylesheets/partials/labels.scss
  app/javascript/stylesheets/partials/panel-btn-dropdown.scss
  app/javascript/translations/en/labels.js
  app/models/model.rb
  app/views/api/v1/vehicles/_group_quick_stats.jbuilder
  app/views/api/v1/vehicles/quick_stats.jbuilder
Due: yarn run lint:js, yarn run lint:css, yarn run lint, rubocop

chore: ci config
  .circleci/config.yml
Due: none

chore: update fontawesome
  app/javascript/stylesheets/frontend.scss
  app/javascript/stylesheets/vendor/fontawesome.css
  app/javascript/vendor/fontawesome/webfonts/fa-brands-400.eot
  app/javascript/vendor/fontawesome/webfonts/fa-brands-400.svg
  app/javascript/vendor/fontawesome/webfonts/fa-brands-400.ttf
  app/javascript/vendor/fontawesome/webfonts/fa-brands-400.woff
  app/javascript/vendor/fontawesome/webfonts/fa-brands-400.woff2
  app/javascript/vendor/fontawesome/webfonts/fa-duotone-900.eot
  app/javascript/vendor/fontawesome/webfonts/fa-duotone-900.svg
  app/javascript/vendor/fontawesome/webfonts/fa-duotone-900.ttf
  app/javascript/vendor/fontawesome/webfonts/fa-duotone-900.woff
  app/javascript/vendor/fontawesome/webfonts/fa-duotone-900.woff2
  app/javascript/vendor/fontawesome/webfonts/fa-light-300.eot
  app/javascript/vendor/fontawesome/webfonts/fa-light-300.svg
  app/javascript/vendor/fontawesome/webfonts/fa-light-300.ttf
  app/javascript/vendor/fontawesome/webfonts/fa-light-300.woff
  app/javascript/vendor/fontawesome/webfonts/fa-light-300.woff2
  app/javascript/vendor/fontawesome/webfonts/fa-regular-400.eot
  app/javascript/vendor/fontawesome/webfonts/fa-regular-400.svg
  app/javascript/vendor/fontawesome/webfonts/fa-regular-400.ttf
  app/javascript/vendor/fontawesome/webfonts/fa-regular-400.woff
  app/javascript/vendor/fontawesome/webfonts/fa-regular-400.woff2
  app/javascript/vendor/fontawesome/webfonts/fa-solid-900.eot
  app/javascript/vendor/fontawesome/webfonts/fa-solid-900.svg
  app/javascript/vendor/fontawesome/webfonts/fa-solid-900.ttf
  app/javascript/vendor/fontawesome/webfonts/fa-solid-900.woff
  app/javascript/vendor/fontawesome/webfonts/fa-solid-900.woff2
  app/views/layouts/application.html.erb
Due: yarn run lint:css, rubocop

chore: ci
  .circleci/config.yml
Due: none

Create js-check.yml
  .github/workflows/js-check.yml
Due: none

Create ruby-check.yml
  .github/workflows/ruby-check.yml
Due: none

Update ruby-check.yml
  .github/workflows/ruby-check.yml
Due: none

fix: update github actions for ruby
  .github/workflows/ruby-check.yml
Due: none
