Repository fleetyards/fleetyards: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run lint:js, yarn run lint:css, yarn run lint, rubocop

.lintstagedrc:

{
  "*.js": [
    "yarn run lint:js",
    "git add"
  ],
  "*.{css,scss}": [
    "yarn run lint:css",
    "git add"
  ],
  "*.vue": [
    "yarn run lint",
    "git add"
  ],
  "*.{rb,erb,haml,jbuilder}": [
    "rubocop",
    "git add"
  ]
}

refactor(mailer): update templates
  app/mailers/roadmap_mailer.rb
  app/views/roadmap_mailer/notify_admin.html.inky
  app/views/roadmap_mailer/notify_admin.text.erb
Due: rubocop

chore(release): new Version v3.2.15 (ArcCorp) [ci skip]
  config/version.rb
Due: rubocop

fix(roadmap): calculate progress correctly
  app/javascript/frontend/pages/Roadmap/Releases/index.vue
Due: yarn run lint

chore(release): new Version v3.2.16 (ArcCorp) [ci skip]
  config/version.rb
Due: rubocop

feat(roadmap): add description to release page
  app/javascript/frontend/pages/Roadmap/Changes/index.vue
  app/javascript/frontend/pages/Roadmap/Releases/index.vue
  app/javascript/frontend/partials/Roadmap/RoadmapItem/index.vue
  app/javascript/stylesheets/partials/roadmap.scss
Due: yarn run lint:css, yarn run lint

chore(release): new Version v3.2.17 (ArcCorp) [ci skip]
  config/version.rb
Due: rubocop

feat(roadmap): show more on changes page
  app/javascript/frontend/pages/Roadmap/Changes/index.vue
Due: yarn run lint

chore(release): new Version v3.2.18 (ArcCorp) [ci skip]
  config/version.rb
Due: rubocop

chore(cookies): add cookie banner
  app/javascript/frontend/App.vue
  app/javascript/frontend/components/Modal/styles/index.scss
  app/javascript/frontend/lib/Noty/index.js
  app/javascript/frontend/lib/Store/modules/session/actions.js
  app/javascript/frontend/lib/Store/modules/session/index.js
  app/javascript/frontend/lib/Store/modules/session/state.js
  app/javascript/frontend/lib/Store/plugins.js
  app/javascript/frontend/pages/Commodities/index.vue
  app/javascript/frontend/pages/CookiePolicy/index.vue
  app/javascript/frontend/pages/Home/index.vue
  app/javascript/frontend/pages/Settings/Account/index.vue
  app/javascript/frontend/partials/AppFooter/index.vue
  app/javascript/frontend/partials/BackToTop/index.vue
  app/javascript/frontend/partials/BackToTop/styles/index.scss
  app/javascript/frontend/partials/CookiesBanner/index.vue
  app/javascript/frontend/partials/CookiesBanner/styles/index.scss
  app/javascript/frontend/partials/Navigation/index.vue
  app/javascript/frontend/partials/Navigation/styles/index.scss
  app/javascript/frontend/partials/Support/index.vue
  app/javascript/frontend/partials/Support/styles/index.scss
  app/javascript/frontend/partials/Vehicles/GroupModal/index.vue
  app/javascript/frontend/partials/Vehicles/Modal/index.vue
  app/javascript/frontend/routes.js
  app/javascript/stylesheets/partials/noty.scss
  app/javascript/translations/en.json
  config/locales/en/en.yml
  config/routes/frontend_routes.rb
Due: yarn run lint:js, yarn run lint:css, yarn run lint, rubocop

fix(background): add check for background image
  app/javascript/frontend/App.vue
Due: yarn run lint

fix: specs
  app/javascript/frontend/partials/AppFooter/__tests__/spec.js
Due: yarn run lint:js

feat(models): allow general search form to search for manufacturer
  app/models/model.rb
Due: rubocop

chore(release): new Version v3.2.19 (ArcCorp) [ci skip]
  config/version.rb
Due: rubocop

chore(cookie-banner): update format
  app/javascript/frontend/partials/CookiesBanner/styles/index.scss
  app/javascript/translations/en.json
Due: yarn run lint:css

chore(release): new Version v3.2.20 (ArcCorp) [ci skip]
  config/version.rb
Due: rubocop

chore(noty): add link for add to hangar noty
  app/javascript/stylesheets/partials/noty.scss
  app/javascript/translations/en.json
Due: yarn run lint:css

feat(roadmap): update information
  app/javascript/frontend/pages/Roadmap/Releases/index.vue
  app/javascript/frontend/pages/Roadmap/index.vue
  app/javascript/frontend/partials/CookiesBanner/styles/index.scss
  app/javascript/frontend/partials/Roadmap/RoadmapItem/index.vue
  app/javascript/translations/en.json
Due: yarn run lint:css, yarn run lint

chore(release): new Version v3.2.21 (ArcCorp) [ci skip]
  config/version.rb
Due: rubocop

feat(notifications): update noty styles
  app/javascript/admin/components/ImageUploader/index.vue
  app/javascript/admin/lib/ApiClient/index.js
  app/javascript/frontend/lib/ApiClient/index.js
  app/javascript/frontend/lib/Noty/index.js
  app/javascript/frontend/mixins/Updates/index.js
  app/javascript/frontend/pages/ChangePassword/index.vue
  app/javascript/frontend/pages/Commodities/index.vue
  app/javascript/frontend/pages/Confirm/index.vue
  app/javascript/frontend/pages/Login/index.vue
  app/javascript/frontend/pages/RequestPassword/index.vue
  app/javascript/frontend/pages/Settings/Account/index.vue
  app/javascript/frontend/pages/Settings/ChangePassword/index.vue
  app/javascript/frontend/pages/Settings/Profile/index.vue
  app/javascript/frontend/pages/Settings/Verify/index.vue
  app/javascript/frontend/pages/Signup/index.vue
  app/javascript/frontend/partials/AppFooter/index.vue
  app/javascript/frontend/partials/Fleets/Modal/index.vue
  app/javascript/frontend/partials/Models/AddToHangar/index.vue
  app/javascript/frontend/partials/Navigation/index.vue
  app/javascript/frontend/partials/Shops/ShopItemRow/index.vue
  app/javascript/frontend/partials/Vehicles/GroupModal/index.vue
  app/javascript/frontend/partials/Vehicles/Modal/index.vue
  app/javascript/packs/admin.js
  app/javascript/packs/embed.js
  app/javascript/packs/frontend.js
  app/javascript/stylesheets/partials/noty.scss
  app/views/api/v1/celestial_objects/_base.jbuilder
  app/views/api/v1/components/_base.jbuilder
  app/views/api/v1/equipment/_base.jbuilder
  app/views/api/v1/model_modules/_base.jbuilder
  app/views/api/v1/model_upgrades/_base.jbuilder
  app/views/api/v1/models/_base.jbuilder
  app/views/api/v1/shop_commodities/_base.jbuilder
  app/views/api/v1/shops/_base.jbuilder
  app/views/api/v1/starsystems/_base.jbuilder
  app/views/api/v1/stations/_base.jbuilder
Due: yarn run lint:js, yarn run lint:css, yarn run lint, rubocop

feat(notifications): update noty styles
  docs/v1/models/modules.apib
  public/docs/v1.html
  test/controllers/api/v1/celestial_objects_controller_test.rb
  test/controllers/api/v1/fleets_controller_test.rb
  test/controllers/api/v1/models_controller_test.rb
  test/controllers/api/v1/shop_commodities_controller_test.rb
  test/controllers/api/v1/shops_controller_test.rb
  test/controllers/api/v1/starsystems_controller_test.rb
  test/controllers/api/v1/stations_controller_test.rb
  test/controllers/api/v1/vehicles_controller_test.rb
Due: rubocop

chore(release): new Version v3.2.22 (ArcCorp) [ci skip]
  config/version.rb
Due: rubocop

fix(vehicle-modal): update checkbox margin
  app/javascript/frontend/components/Form/Checkbox/styles/index.scss
Due: yarn run lint:css

chore(release): new Version v3.2.23 (ArcCorp) [ci skip]
  config/version.rb
Due: rubocop

chore(notifications): rework noty lib
  app/javascript/admin/components/ImageUploader/index.vue
  app/javascript/admin/lib/ApiClient/index.js
  app/javascript/frontend/lib/ApiClient/index.js
  app/javascript/frontend/lib/Noty/index.js
  app/javascript/frontend/mixins/Updates/index.js
  app/javascript/frontend/pages/ChangePassword/index.vue
  app/javascript/frontend/pages/Confirm/index.vue
  app/javascript/frontend/pages/Login/index.vue
  app/javascript/frontend/pages/RequestPassword/index.vue
  app/javascript/frontend/pages/Settings/Account/index.vue
  app/javascript/frontend/pages/Settings/ChangePassword/index.vue
  app/javascript/frontend/pages/Settings/Profile/index.vue
  app/javascript/frontend/pages/Settings/Verify/index.vue
  app/javascript/frontend/pages/Signup/index.vue
  app/javascript/frontend/partials/AppFooter/index.vue
  app/javascript/frontend/partials/Fleets/Modal/index.vue
  app/javascript/frontend/partials/Models/AddToHangar/index.vue
  app/javascript/frontend/partials/Navigation/index.vue
  app/javascript/frontend/partials/Vehicles/GroupModal/index.vue
Due: yarn run lint:js, yarn run lint

chore(release): new Version v3.2.24 (ArcCorp) [ci skip]
  config/version.rb
Due: rubocop

fix(notifications): reenable timeout
  app/javascript/frontend/lib/Noty/index.js
Due: yarn run lint:js

chore(release): new Version v3.2.25 (ArcCorp) [ci skip]
  config/version.rb
Due: rubocop

feat(hangar): broadcast hangar update on group change
  app/javascript/frontend/mixins/Updates/index.js
  app/models/hangar_group.rb
Due: yarn run lint:js, rubocop

chore(sentry): update dsn settings
  app/views/frontend/index.html.erb
  config/secrets.yml
Due: rubocop

chore(release): new Version v3.2.26 (ArcCorp) [ci skip]
  config/version.rb
Due: rubocop

feat(hangar): sort groups via drag and drop
  app/controllers/api/v1/hangar_groups_controller.rb
  app/javascript/frontend/partials/Vehicles/GroupLabels/index.vue
  app/javascript/frontend/partials/Vehicles/GroupLabels/styles/index.scss
  app/javascript/frontend/partials/Vehicles/GroupModal/index.vue
  app/models/ability.rb
  config/routes/api_v1_routes.rb
  package.json
  yarn.lock
Due: yarn run lint:css, yarn run lint, rubocop

feat(hangar): sort groups via drag and drop (#636)
  app/controllers/api/v1/hangar_groups_controller.rb
  app/javascript/frontend/partials/Vehicles/GroupLabels/index.vue
  app/javascript/frontend/partials/Vehicles/GroupLabels/styles/index.scss
  app/javascript/frontend/partials/Vehicles/GroupModal/index.vue
  app/models/ability.rb
  config/routes/api_v1_routes.rb
  package.json
  yarn.lock
Due: yarn run lint:css, yarn run lint, rubocop

chore(release): new Version v3.2.27 (ArcCorp) [ci skip]
  config/version.rb
Due: rubocop

feat(roadmap): update format
  app/javascript/frontend/pages/Roadmap/Releases/index.vue
  app/javascript/frontend/partials/Roadmap/RoadmapItem/index.vue
Due: yarn run lint

chore(release): new Version v3.2.28 (ArcCorp) [ci skip]
  config/version.rb
Due: rubocop

feat(roadmap): update last update label
  app/javascript/frontend/partials/Roadmap/RoadmapItem/index.vue
  app/javascript/stylesheets/partials/roadmap.scss
  app/javascript/translations/en.json
Due: yarn run lint:css, yarn run lint

chore(release): new Version v3.2.29 (ArcCorp) [ci skip]
  config/version.rb
Due: rubocop

fix(addons): update styles
  app/javascript/frontend/partials/Vehicles/AddonsModal/Addons/styles/index.scss
Due: yarn run lint:css

chore(release): new Version v3.2.30 (ArcCorp) [ci skip]
  config/version.rb
Due: rubocop

fix(roadmap-worker): update release_name
  app/javascript/frontend/lib/Router/index.js
  lib/rsi_roadmap_loader.rb
Due: yarn run lint:js, rubocop
