Repository fleetyards/fleetyards: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run lint:js, yarn run lint:css, yarn run lint, rubocop

chore(release): new Version v3.44.0 (ArcCorp) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: rubocop

fix: missing import ans breadcrumb
  app/javascript/frontend/pages/Roadmap/Ships/index.vue
  app/javascript/frontend/pages/Stations/CelestialObject/index.vue
  app/javascript/frontend/pages/Stations/Shop/index.vue
  app/javascript/frontend/pages/Stations/Show/Images/index.vue
  app/javascript/frontend/pages/Stations/Show/index.vue
Due: yarn run lint

chore(release): new Version v3.44.1 (ArcCorp) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: rubocop

refactor(breadcrumbs): update crumbs
  app/javascript/frontend/pages/Models/Show/Images/index.vue
  app/javascript/frontend/pages/Models/Show/Videos/index.vue
  app/javascript/frontend/pages/Models/Show/index.vue
  app/javascript/frontend/pages/Stations/Starsystem/index.vue
Due: yarn run lint

chore(release): new Version v3.44.2 (ArcCorp) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: rubocop

chore(loader): move rsi loader into namespace
  app/controllers/api/v1/rsi/citizens_controller.rb
  app/controllers/api/v1/rsi/orgs_controller.rb
  app/workers/locations_worker.rb
  app/workers/model_worker.rb
  app/workers/models_worker.rb
  app/workers/roadmap_worker.rb
  db/seeds.rb
  lib/rsi/base_loader.rb
  lib/rsi/location_loader.rb
  lib/rsi/models_loader.rb
  lib/rsi/orgs_loader.rb
  lib/rsi/roadmap_loader.rb
  lib/rsi_base_loader.rb
  lib/rsi_location_loader.rb
  lib/rsi_models_loader.rb
  lib/rsi_orgs_loader.rb
  lib/rsi_roadmap_loader.rb
  test/unit/rsi_models_loader_test.rb
Due: rubocop

feat(3dview): add new holoviewer from starship42
  app/javascript/frontend/pages/Models/Show/index.scss
  app/javascript/frontend/pages/Models/Show/index.vue
  app/javascript/translations/en/labels.js
Due: yarn run lint:js, yarn run lint:css, yarn run lint

feat(3dview): update starship42 link
  app/javascript/frontend/pages/Models/Show/index.scss
Due: yarn run lint:css

chore: linting
  app/javascript/frontend/pages/Models/Show/index.vue
Due: yarn run lint

feat(holoviewer): update z-index
  app/javascript/frontend/lib/Store/modules/models/actions.js
  app/javascript/frontend/lib/Store/modules/models/index.js
  app/javascript/frontend/lib/Store/modules/models/state.js
  app/javascript/frontend/lib/Store/plugins.js
  app/javascript/frontend/pages/Models/Show/index.scss
  app/javascript/frontend/pages/Models/Show/index.vue
Due: yarn run lint:js, yarn run lint:css, yarn run lint

chore: rubocoptering
  lib/rsi/base_loader.rb
  lib/rsi/location_loader.rb
Due: rubocop

feat(holoviewer): update size
  app/javascript/frontend/pages/Models/Show/index.scss
Due: yarn run lint:css

feat(holoviewer): update mobile size
  app/javascript/frontend/pages/Models/Show/index.scss
  app/javascript/frontend/pages/Models/Show/index.vue
Due: yarn run lint:css, yarn run lint

feat(breadcrumbs): add crumbs to compare page
  app/javascript/frontend/pages/Compare/Models/index.vue
  app/javascript/frontend/partials/Navigation/index.vue
Due: yarn run lint

chore(compare): use store_image for compare with one ship
  app/controllers/frontend/base_controller.rb
Due: rubocop

chore(release): new Version v3.45.0 (ArcCorp) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: rubocop

feat(holoviewer): update size on mobile
  app/javascript/frontend/pages/Models/Show/index.scss
  app/javascript/frontend/pages/Models/Show/index.vue
Due: yarn run lint:css, yarn run lint

chore(release): new Version v3.46.0 (ArcCorp) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: rubocop

fix(holoviewer): update iframe url
  app/javascript/frontend/pages/Models/Show/index.vue
Due: yarn run lint

chore(release): new Version v3.46.1 (ArcCorp) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: rubocop

chore(starship42): add separate field for slug
  app/controllers/admin/models_controller.rb
  app/views/admin/models/_form.haml
  db/migrate/20191224213125_add_starship42_slug_to_models.rb
  db/migrate/20191224213207_prefill_starship42_slug.rb
  db/schema.rb
  lib/rsi/models_loader.rb
Due: rubocop

chore(release): new Version v3.46.2 (ArcCorp) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: rubocop

chore(images): add global flag
  app/controllers/admin/api/v1/images_controller.rb
  app/controllers/api/v1/images_controller.rb
  app/javascript/admin/components/ImageUploader/ImageRow/index.scss
  app/javascript/admin/components/ImageUploader/ImageRow/index.vue
  app/javascript/admin/components/ImageUploader/ImageRow/styles/index.scss
  app/javascript/translations/en/labels.js
  app/models/image.rb
  app/views/admin/api/v1/images/_base.jbuilder
  app/views/layouts/admin/_head.slim
  app/views/layouts/application.html.erb
  db/migrate/20191224220538_add_global_flag_to_images.rb
  db/schema.rb
Due: yarn run lint:js, yarn run lint:css, yarn run lint, rubocop

chore(release): new Version v3.46.3 (ArcCorp) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: rubocop

fix(no-scroll): update css for mobile
  app/javascript/stylesheets/frontend.scss
Due: yarn run lint:css

fix(no-scroll): update mobile
  app/javascript/frontend/components/Modal/index.vue
  app/javascript/stylesheets/frontend.scss
Due: yarn run lint:css, yarn run lint

chore(release): new Version v3.46.4 (ArcCorp) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: rubocop

Update frontend.scss
  app/javascript/stylesheets/frontend.scss
Due: yarn run lint:css

Update index.scss
  app/javascript/frontend/components/Modal/index.scss
Due: yarn run lint:css

fix(no-scroll): update metrics
  app/javascript/frontend/components/Modal/index.scss
  app/javascript/frontend/partials/Navigation/index.vue
  app/javascript/stylesheets/frontend.scss
Due: yarn run lint:css, yarn run lint

fix(no-scroll): update height
  app/javascript/frontend/components/Modal/index.scss
  app/javascript/stylesheets/frontend.scss
Due: yarn run lint:css

chore(no-scroll): update height
  app/javascript/stylesheets/frontend.scss
Due: yarn run lint:css

chore(no-scroll): update view height
  app/javascript/stylesheets/frontend.scss
Due: yarn run lint:css

chore(no-scroll): linting
  app/javascript/stylesheets/frontend.scss
Due: yarn run lint:css

chore(no-scroll): update position
  app/javascript/stylesheets/frontend.scss
Due: yarn run lint:css

Path conditions:
  yarn run lint:js: any of: *.js
  yarn run lint:css: any of: *.{css,scss}
  yarn run lint: any of: *.vue
  rubocop: any of: *.{rb,erb,haml,jbuilder}
