Repository fleetyards/fleetyards: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run lint:js, yarn run lint:css, yarn run lint, rubocop

.lintstagedrc:

{
  "*.js": [
    "yarn run lint:js",
    "git add"
  ],
  "*.{css,scss}": [
    "yarn run lint:css",
    "git add"
  ],
  "*.vue": [
    "yarn run lint",
    "git add"
  ],
  "*.{rb,erb,haml,jbuilder}": [
    "rubocop",
    "git add"
  ]
}

fix(trade-routes): show correct prices
  app/javascript/frontend/pages/TradeRoutes/index.vue
Due: yarn run lint

chore(release): new Version v3.8.1 (ArcCorp) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: rubocop

feat(trade-routes): update cargoship selection
  app/javascript/frontend/components/FilteredList/index.vue
  app/javascript/frontend/components/Form/FilterGroup/index.vue
  app/javascript/frontend/lib/I18n/index.js
  app/javascript/frontend/pages/Hangar/index.vue
  app/javascript/frontend/pages/TradeRoutes/index.vue
  app/javascript/frontend/partials/TradeRoutes/FilterForm/index.vue
  app/javascript/translations/en/headlines.js
  app/javascript/translations/en/labels.js
  app/views/api/v1/models/_cargo_option.jbuilder
Due: yarn run lint:js, yarn run lint, rubocop

chore(release): new Version v3.9.0 (ArcCorp) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: rubocop

fix(filters): update components and equipment
  app/assets/javascripts/app.coffee
  app/controllers/api/v1/components_controller.rb
  app/controllers/api/v1/equipment_controller.rb
  app/javascript/frontend/pages/TradeRoutes/index.vue
  app/models/component.rb
  app/models/equipment.rb
  app/views/api/v1/trade_routes/_base.jbuilder
  test/controllers/api/v1/trade_routes_controller_test.rb
Due: yarn run lint, rubocop

feat(trade-routes): add links to stations
  app/javascript/frontend/pages/TradeRoutes/index.vue
Due: yarn run lint

fix(admin): update components form
  app/views/admin/components/_form.haml
  app/views/admin/components/_show.haml
  config/locales/en/filter.yml
Due: rubocop

chore(release): new Version v3.10.0 (ArcCorp) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: rubocop

fix(admin): update select
  app/assets/javascripts/app.coffee
  app/views/admin/celestial_objects/_show.haml
  app/views/admin/celestial_objects/index.haml
  app/views/admin/commodities/_show.haml
  app/views/admin/commodities/index.haml
  app/views/admin/components/_show.haml
  app/views/admin/components/index.haml
  app/views/admin/equipment/_show.haml
  app/views/admin/equipment/index.haml
  app/views/admin/manufacturers/_show.haml
  app/views/admin/manufacturers/index.haml
  app/views/admin/model_modules/_show.haml
  app/views/admin/model_modules/index.haml
  app/views/admin/model_upgrades/_show.haml
  app/views/admin/model_upgrades/index.haml
  app/views/admin/models/_show.haml
  app/views/admin/models/index.haml
  app/views/admin/shops/_show.haml
  app/views/admin/shops/index.haml
  app/views/admin/starsystems/_show.haml
  app/views/admin/starsystems/index.haml
  app/views/admin/stations/_show.haml
  app/views/admin/stations/index.haml
Due: rubocop

chore(release): new Version v3.10.1 (ArcCorp) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: rubocop

fix(shop): resolve server error on invalid form submit
  app/assets/stylesheets/partials/_form.scss
  app/controllers/admin/shops_controller.rb
  app/views/shops/_shop_commodity_fields.haml
Due: yarn run lint:css, rubocop

fix(trade-routes): only calculate routes for visible shops
  app/models/shop_commodity.rb
  app/workers/trade_routes_worker.rb
Due: rubocop

chore(release): new Version v3.10.2 (ArcCorp) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: rubocop

fix(pagination): remove check for page where it didn't belong
  app/javascript/frontend/mixins/Filters/index.js
Due: yarn run lint:js

feat(erkul-dps-calculator): add buttons and prefill db
  app/controllers/admin/models_controller.rb
  app/javascript/frontend/pages/Compare/Models/index.vue
  app/javascript/frontend/pages/Models/Show/index.vue
  app/javascript/frontend/pages/Models/index.vue
  app/javascript/frontend/partials/Models/Hardpoints/index.vue
  app/javascript/images/sc_dps_calculator.png
  app/javascript/images/sc_dps_calculator_black.png
  app/javascript/stylesheets/partials.scss
  app/javascript/stylesheets/partials/erkul.scss
  app/javascript/translations/en/labels.js
  app/models/component.rb
  app/views/admin/models/_form.haml
  app/views/api/v1/models/_complete.jbuilder
  config/locales/en/activerecord.yml
  db/migrate/20190807112836_add_erkuls_slug_to_models.rb
  db/migrate/20190807120124_prefill_erkul_slugs.rb
  db/schema.rb
  public/sc_dps_calculator.json
Due: yarn run lint:js, yarn run lint:css, yarn run lint, rubocop

feat(erkul): add link to ship detail
  app/javascript/frontend/partials/Models/Hardpoints/index.vue
Due: yarn run lint

feat(erkul): add links to Erkuls DPS Calculator (#745)
  app/controllers/admin/models_controller.rb
  app/javascript/frontend/pages/Compare/Models/index.vue
  app/javascript/frontend/pages/Models/Show/index.vue
  app/javascript/frontend/pages/Models/index.vue
  app/javascript/frontend/partials/Models/Hardpoints/index.vue
  app/javascript/images/sc_dps_calculator.png
  app/javascript/images/sc_dps_calculator_black.png
  app/javascript/stylesheets/partials.scss
  app/javascript/stylesheets/partials/erkul.scss
  app/javascript/translations/en/labels.js
  app/models/component.rb
  app/views/admin/models/_form.haml
  app/views/api/v1/models/_complete.jbuilder
  config/locales/en/activerecord.yml
  db/migrate/20190807112836_add_erkuls_slug_to_models.rb
  db/migrate/20190807120124_prefill_erkul_slugs.rb
  db/schema.rb
  public/sc_dps_calculator.json
Due: yarn run lint:js, yarn run lint:css, yarn run lint, rubocop

feat(import): readd route
  app/javascript/frontend/routes.js
Due: yarn run lint:js

chore(release): new Version v3.11.0 (ArcCorp) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: rubocop

feat(components): add item class to shop list
  app/javascript/frontend/partials/Shops/ShopItemRow/index.vue
  app/javascript/translations/en.js
Due: yarn run lint:js, yarn run lint

chore(release): new Version v3.12.0 (ArcCorp) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: rubocop

chore(seeds): fix landingpads on outposts
  db/seeds/01_stanton/01_crusader/02_yela.rb
  db/seeds/01_stanton/01_crusader/03_daymar.rb
  db/seeds/01_stanton/01_crusader/04_cellin.rb
  db/seeds/01_stanton/02_hurston/02_magda.rb
  db/seeds/01_stanton/02_hurston/03_ita.rb
  db/seeds/01_stanton/02_hurston/04_arial.rb
  db/seeds/01_stanton/02_hurston/05_aberdeen.rb
  db/seeds/01_stanton/03_arccorp/02_lyria.rb
  db/seeds/01_stanton/03_arccorp/03_wala.rb
Due: rubocop

chore(release): new Version v3.12.1 (ArcCorp) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: rubocop

chore(locales): update number format
  app/javascript/translations/en.js
Due: yarn run lint:js

fix(trade-routes): update worker
  app/models/shop_commodity.rb
Due: rubocop

chore(seeds): update pads
  app/javascript/frontend/partials/Stations/Docks/index.vue
  app/javascript/stylesheets/partials/metrics.scss
  db/seeds/01_stanton/01_crusader/06_cru_l2.rb
  db/seeds/01_stanton/01_crusader/07_cru_l3.rb
  db/seeds/01_stanton/03_arccorp/04_arc_l1.rb
  db/seeds/01_stanton/03_arccorp/05_arc_l2.rb
  db/seeds/01_stanton/03_arccorp/06_arc_l3.rb
  db/seeds/01_stanton/03_arccorp/07_arc_l4.rb
Due: yarn run lint:css, yarn run lint, rubocop

chore(release): new Version v3.12.2 (ArcCorp) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: rubocop

feat(stations): update docks
  app/javascript/frontend/partials/Stations/Docks/Item/index.vue
Due: yarn run lint

chore(release): new Version v3.13.0 (ArcCorp) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: rubocop

chore(seeds): move l19 habs to l19
  db/seeds/01_stanton/02_hurston/01_hurston.rb
Due: rubocop

chore(release): new Version v3.13.1 (ArcCorp) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: rubocop

fix(trade-routes): auto delete when shop commodity is deleted
  app/controllers/admin/trade_hubs_controller.rb
  app/models/ability.rb
  app/models/commodity.rb
  app/models/shop_commodity.rb
  config/locales/en/actions.yml
  config/locales/en/en.yml
  config/locales/en/headlines.yml
  config/locales/en/helpers.yml
  config/locales/en/labels.yml
  config/locales/en/resources.yml
Due: rubocop

chore(release): new Version v3.13.2 (ArcCorp) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: rubocop

feat(trade-routes): add button for sorting
  app/controllers/api/v1/trade_routes_controller.rb
  app/javascript/frontend/components/Toggle/index.vue
  app/javascript/frontend/pages/Models/Show/index.vue
  app/javascript/frontend/pages/TradeRoutes/index.vue
  app/javascript/stylesheets/partials/buttons.scss
  config/locales/en/activerecord.yml
Due: yarn run lint:css, yarn run lint, rubocop

chore(release): new Version v3.14.0 (ArcCorp) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: rubocop

fix(trade-routes): add missing labels
  app/controllers/api/v1/trade_routes_controller.rb
  app/javascript/frontend/lib/Router/index.js
  app/javascript/frontend/pages/TradeRoutes/index.vue
  app/javascript/frontend/partials/TradeRoutes/FilterForm/index.vue
  app/javascript/translations/en/labels.js
Due: yarn run lint:js, yarn run lint, rubocop

chore(release): new Version v3.14.1 (ArcCorp) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: rubocop

feat(trade-routes): paginate cargo ship filter
  app/controllers/api/v1/models_controller.rb
  app/javascript/frontend/partials/TradeRoutes/FilterForm/index.vue
Due: yarn run lint, rubocop

chore(release): new Version v3.15.0 (ArcCorp) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: rubocop

fix(fleets): search for lowercase fleet sids
  app/controllers/api/v1/fleets_controller.rb
  app/models/ability.rb
Due: rubocop
