Repository fleetyards/fleetyards: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run lint:js, yarn run lint:css, yarn run lint, rubocop

.lintstagedrc:

{
  "*.js": [
    "yarn run lint:js",
    "git add"
  ],
  "*.{css,scss}": [
    "yarn run lint:css",
    "git add"
  ],
  "*.vue": [
    "yarn run lint",
    "git add"
  ],
  "*.{rb,erb,haml,jbuilder}": [
    "rubocop",
    "git add"
  ]
}

chore(precompile): try to debug startup error
  .circleci/config.yml
Due: none

chore(precompile): update packages
  .circleci/config.yml
  config/deploy.rb
  package.json
  yarn.lock
Due: rubocop

chore(packages): update deps
  .circleci/config.yml
  config/deploy.rb
  package.json
  yarn.lock
Due: rubocop

chore(deps): update ci config
  .circleci/config.yml
Due: none

chore(precompile): add missing prod deps
  .circleci/config.yml
  config/deploy.rb
  lib/tasks/assets.thor
  package.json
Due: rubocop

chore(packages): update deps (#609)
  .circleci/config.yml
  config/deploy.rb
  lib/tasks/assets.thor
  package.json
  yarn.lock
Due: rubocop

chore(asset-host): cleanup configurations
  app/javascript/frontend/lib/Noty/index.js
  app/models/image.rb
  app/uploaders/store_image_uploader.rb
  config/initializers/carrierwave.rb
Due: yarn run lint:js, rubocop

chore(asset-hosts): fix store_image url
  app/uploaders/store_image_uploader.rb
Due: rubocop

chore(upgrade-ruby): new version 2.6.3
  .ruby-version
  Gemfile
  Gemfile.lock
  docker/base/Dockerfile
  docker/ci/Dockerfile
  scripts/docker-push.sh
Due: none

chore(upgrade-ruby): update ci config
  .circleci/config.yml
Due: none

chore(upgrade-ruby): new version 2.6.3 (#611)
  .circleci/config.yml
  .ruby-version
  Gemfile
  Gemfile.lock
  docker/base/Dockerfile
  docker/ci/Dockerfile
  scripts/docker-push.sh
Due: none

chore(upgrade-bundler): use 2.0.1
  Gemfile.lock
  config/deploy.rb
Due: rubocop

chore(upgrade-bundler): use 2.0.1 (#610)
  Gemfile.lock
  config/deploy.rb
Due: rubocop

chore(yarn-audit): add audit check for yarn deps
  .browserslistrc
  .circleci/config.yml
  .eslintrc
  app/javascript/frontend/partials/Roadmap/RoadmapItem/index.vue
  package.json
  yarn.lock
Due: yarn run lint

chore(yarn-audit): add audit check for yarn deps (#524)
  .browserslistrc
  .circleci/config.yml
  .eslintrc
  app/javascript/frontend/partials/Roadmap/RoadmapItem/index.vue
  package.json
  yarn.lock
Due: yarn run lint

fix(ships): downgrade html2canvas again and fix toNumber
  app/javascript/frontend/partials/Models/SpeedMetrics/index.vue
  package.json
  yarn.lock
Due: yarn run lint

chore(routes): update routing
  .circleci/config.yml
  config/routes/admin_routes.rb
  config/routes/api_routes.rb
  config/routes/frontend_routes.rb
Due: rubocop

feat(footer): add discord link
  app/javascript/frontend/partials/AppFooter/index.vue
Due: yarn run lint

chore(capify): move from mina to capistrano
  .circleci/config.yml
  Capfile
  Gemfile
  Gemfile.lock
  app/javascript/frontend/partials/AppFooter/__tests__/spec.js
  config/deploy.rb
  config/deploy/live.rb
  config/deploy/local.rb
  config/deploy/stage.rb
  config/environments/staging.rb
  config/secrets.yml
  config/webpacker.yml
  vendor/cache/airbrussh-1.3.1.gem
  vendor/cache/bcrypt_pbkdf-1.0.1.gem
  vendor/cache/capistrano-3.11.0.gem
  vendor/cache/capistrano-bundler-1.5.0.gem
  vendor/cache/capistrano-rails-1.4.0.gem
  vendor/cache/capistrano-rails-console-2.3.0.gem
  vendor/cache/capistrano-rbenv-2.1.4.gem
  vendor/cache/ed25519-1.2.4.gem
  vendor/cache/net-scp-2.0.0.gem
  vendor/cache/net-ssh-5.2.0.gem
  vendor/cache/sshkit-1.18.2.gem
  vendor/cache/sshkit-interactive-0.3.0.gem
Due: yarn run lint:js, rubocop

chore(capify): move from mina to capistrano (#615)
  .circleci/config.yml
  Capfile
  Gemfile
  Gemfile.lock
  app/javascript/frontend/partials/AppFooter/__tests__/spec.js
  config/deploy.rb
  config/deploy/live.rb
  config/deploy/local.rb
  config/deploy/stage.rb
  config/environments/staging.rb
  config/secrets.yml
  config/webpacker.yml
  vendor/cache/airbrussh-1.3.1.gem
  vendor/cache/bcrypt_pbkdf-1.0.1.gem
  vendor/cache/capistrano-3.11.0.gem
  vendor/cache/capistrano-bundler-1.5.0.gem
  vendor/cache/capistrano-rails-1.4.0.gem
  vendor/cache/capistrano-rails-console-2.3.0.gem
  vendor/cache/capistrano-rbenv-2.1.4.gem
  vendor/cache/ed25519-1.2.4.gem
  vendor/cache/net-scp-2.0.0.gem
  vendor/cache/net-ssh-5.2.0.gem
  vendor/cache/sshkit-1.18.2.gem
  vendor/cache/sshkit-interactive-0.3.0.gem
Due: yarn run lint:js, rubocop

chore(stage): add label to stage env
  .gitignore
  app/assets/stylesheets/application.scss
  app/javascript/frontend/partials/Navigation/index.vue
  app/javascript/frontend/partials/Navigation/styles/index.scss
  app/views/frontend/index.html.erb
  app/views/layouts/admin/_header.slim
  config/initializers/git_revision.rb
Due: yarn run lint:css, yarn run lint, rubocop

chore(background-calls): hide background api calls
  app/javascript/frontend/lib/ApiClient/index.js
  app/javascript/frontend/lib/Store/modules/app/actions.js
  app/javascript/frontend/lib/Store/modules/hangar/actions.js
Due: yarn run lint:js

chore(stage): add labels for non live envs (#617)
  .gitignore
  app/assets/stylesheets/application.scss
  app/javascript/frontend/lib/ApiClient/index.js
  app/javascript/frontend/lib/Store/modules/app/actions.js
  app/javascript/frontend/lib/Store/modules/hangar/actions.js
  app/javascript/frontend/partials/Navigation/index.vue
  app/javascript/frontend/partials/Navigation/styles/index.scss
  app/views/frontend/index.html.erb
  app/views/layouts/admin/_header.slim
  config/initializers/git_revision.rb
Due: yarn run lint:js, yarn run lint:css, yarn run lint, rubocop

chore(deploy): only deploy tags to live
  .circleci/config.yml
  config/deploy/live.rb
  config/deploy/stage.rb
Due: rubocop

chore(release): new Version v3.2.2 (ArcCorp)
  config/version.rb
Due: rubocop

chore(deploy): update circle to run on tags
  .circleci/config.yml
Due: none

chore(release): new Version v3.2.3 (ArcCorp)
  config/version.rb
Due: rubocop

chore(env): update env labels
  app/assets/stylesheets/application.scss
  app/javascript/frontend/partials/Navigation/index.vue
  app/javascript/frontend/partials/Navigation/styles/index.scss
  app/views/layouts/admin/_head.slim
  app/views/layouts/admin/_header.slim
  app/views/layouts/application.html.erb
Due: yarn run lint:css, yarn run lint, rubocop

refactor(style): add pills to replace labels
  app/javascript/admin/components/ImageUploader/ImageRow/index.vue
  app/javascript/frontend/App.vue
  app/javascript/frontend/components/Gallery/index.vue
  app/javascript/frontend/lib/Store/index.js
  app/javascript/frontend/lib/Store/modules/app/index.js
  app/javascript/frontend/lib/Store/modules/app/state.js
  app/javascript/frontend/lib/Store/state.js
  app/javascript/frontend/pages/Fleets/Show/index.vue
  app/javascript/frontend/pages/Models/Show/index.vue
  app/javascript/frontend/partials/Navigation/index.vue
  app/javascript/frontend/partials/Navigation/styles/index.scss
  app/javascript/stylesheets/main.scss
  app/javascript/stylesheets/partials/pill.scss
  app/javascript/stylesheets/variables.scss
  app/javascript/translations/en.json
  app/views/layouts/admin/_header.slim
Due: yarn run lint:js, yarn run lint:css, yarn run lint

chore(store): update version
  config/secrets.yml
Due: none

chore(release): new Version v3.2.4 (ArcCorp)
  config/version.rb
Due: rubocop

chore(env): update env labels
  app/javascript/frontend/partials/Navigation/index.vue
  lib/tasks/release.thor
Due: yarn run lint

chore(vuex): enable strict mode
  app/javascript/frontend/lib/Store/actions.js
  app/javascript/frontend/lib/Store/index.js
  app/javascript/frontend/lib/Store/modules/app/actions.js
  app/javascript/frontend/lib/Store/modules/app/index.js
  app/javascript/frontend/lib/Store/modules/compare/actions.js
  app/javascript/frontend/lib/Store/modules/compare/index.js
  app/javascript/frontend/lib/Store/modules/hangar/actions.js
  app/javascript/frontend/lib/Store/modules/hangar/index.js
  app/javascript/frontend/lib/Store/modules/models/actions.js
  app/javascript/frontend/lib/Store/modules/models/index.js
  app/javascript/frontend/lib/Store/modules/sentry/actions.js
  app/javascript/frontend/lib/Store/modules/sentry/index.js
  app/javascript/frontend/lib/Store/modules/session/actions.js
  app/javascript/frontend/lib/Store/modules/session/index.js
  app/javascript/frontend/lib/Store/modules/shop/actions.js
  app/javascript/frontend/lib/Store/modules/shop/index.js
  app/javascript/frontend/lib/Store/modules/shops/actions.js
  app/javascript/frontend/lib/Store/modules/shops/index.js
  app/javascript/frontend/lib/Store/modules/stations/actions.js
  app/javascript/frontend/lib/Store/modules/stations/index.js
  app/javascript/frontend/lib/Store/modules/tradehubs/actions.js
  app/javascript/frontend/lib/Store/modules/tradehubs/index.js
Due: yarn run lint:js

chore(git-revision): update state
  app/javascript/frontend/lib/Store/modules/app/index.js
  app/javascript/frontend/lib/Store/modules/app/state.js
  app/javascript/frontend/partials/AppFooter/index.vue
  app/javascript/frontend/partials/AppFooter/styles/index.scss
  app/javascript/frontend/partials/Navigation/index.vue
  app/javascript/frontend/partials/Navigation/styles/index.scss
  app/javascript/stylesheets/main.scss
  app/javascript/translations/en.json
Due: yarn run lint:js, yarn run lint:css, yarn run lint

chore(vuex): enable strict mode (#618)
  app/javascript/frontend/lib/Store/actions.js
  app/javascript/frontend/lib/Store/index.js
  app/javascript/frontend/lib/Store/modules/app/actions.js
  app/javascript/frontend/lib/Store/modules/app/index.js
  app/javascript/frontend/lib/Store/modules/compare/actions.js
  app/javascript/frontend/lib/Store/modules/compare/index.js
  app/javascript/frontend/lib/Store/modules/hangar/actions.js
  app/javascript/frontend/lib/Store/modules/hangar/index.js
  app/javascript/frontend/lib/Store/modules/models/actions.js
  app/javascript/frontend/lib/Store/modules/models/index.js
  app/javascript/frontend/lib/Store/modules/sentry/actions.js
  app/javascript/frontend/lib/Store/modules/sentry/index.js
  app/javascript/frontend/lib/Store/modules/session/actions.js
  app/javascript/frontend/lib/Store/modules/session/index.js
  app/javascript/frontend/lib/Store/modules/shop/actions.js
  app/javascript/frontend/lib/Store/modules/shop/index.js
  app/javascript/frontend/lib/Store/modules/shops/actions.js
  app/javascript/frontend/lib/Store/modules/shops/index.js
  app/javascript/frontend/lib/Store/modules/stations/actions.js
  app/javascript/frontend/lib/Store/modules/stations/index.js
  app/javascript/frontend/lib/Store/modules/tradehubs/actions.js
  app/javascript/frontend/lib/Store/modules/tradehubs/index.js
Due: yarn run lint:js

chore(release): new Version v3.2.5 (ArcCorp) [ci skip]
  config/version.rb
Due: rubocop

chore(service-worker): add workbox
  app/javascript/packs/frontend.js
  public/service-worker.js
Due: yarn run lint:js

chore(deploy): link public/compare images
  config/deploy.rb
Due: rubocop

chore(service-worker): add precache-manifest
  app/controllers/frontend/base_controller.rb
  app/javascript/frontend/pages/Settings/routes.js
  app/javascript/frontend/pages/Stations/routes.js
  app/javascript/frontend/routes.js
  app/views/frontend/precache_manifest.js.erb
  app/views/frontend/service_worker.js.erb
  config/routes/frontend_routes.rb
  public/service-worker.js
Due: yarn run lint:js, rubocop

feat(uploader): update dropzone
  app/assets/stylesheets/_partials.scss
  app/assets/stylesheets/partials/_uploader.scss
  app/javascript/admin/components/ImageUploader/index.vue
  app/javascript/admin/components/ImageUploader/styles/index.scss
Due: yarn run lint:css, yarn run lint
