Repository fleetyards/fleetyards: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run lint:js, yarn run lint:css, yarn run lint, rubocop

chore: update ci config
  .circleci/config.yml
Due: none

chore: remove github actions
  .github/workflows/js-check.yml
  .github/workflows/ruby-check.yml
Due: none

chore: tryout gitlab ci
  .gitlab-ci.yml
  scripts/wait-for-db.sh
Due: none

chore: update gitlab config
  .gitlab-ci.yml
Due: none

chore: gitlab ci config
  .gitlab-ci.yml
  scripts/wait-for-db.sh
Due: none

fix: context menu for model list
  app/javascript/embed/partials/Models/FleetchartItem/index.vue
  app/javascript/frontend/partials/Fleetchart/List/ContextMenu/index.vue
  app/javascript/frontend/partials/Fleetchart/List/Item/Label/index.vue
  app/javascript/frontend/partials/Fleetchart/List/Item/index.vue
  app/javascript/frontend/partials/Fleetchart/List/index.vue
  app/javascript/stylesheets/partials/fleetchart.scss
Due: yarn run lint:css, yarn run lint

chore(release): new Version v3.70.0 (ArcCorp) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: rubocop

fix: rake test task
  lib/tasks/test.rake
Due: none

fix: specs
  test/controllers/api/v1/vehicles_controller_test.rb
  test/unit/rsi_models_loader_test.rb
Due: rubocop

chore: update ci configs
  .circleci/config.yml
  .gitlab-ci.yml
Due: none

fix: ruby specs
  test/controllers/api/v1/vehicles_controller_test.rb
Due: rubocop

chore: fix specs
  app/controllers/api/v1/vehicles_controller.rb
  test/controllers/api/v1/vehicles_controller_test.rb
Due: rubocop

chore: try to fix memory/cpu overuse on circleci
  .circleci/config.yml
Due: none

chore: update circleci config
  .circleci/config.yml
Due: none

fix: specs
  app/controllers/api/v1/hangar_groups_controller.rb
  app/controllers/api/v1/vehicles_controller.rb
Due: rubocop

fix: specs
  app/controllers/api/v1/hangar_groups_controller.rb
  app/controllers/api/v1/vehicles_controller.rb
  app/models/model.rb
Due: rubocop

chore: disable e2e on circle
  .circleci/config.yml
Due: none

chore: move e2e to seperate stage
  .circleci/config.yml
Due: none

fix: ci config
  .circleci/config.yml
Due: none

chore: reduce jobs on circle
  .circleci/config.yml
Due: none

chore: update circle config
  .circleci/config.yml
Due: none

chore: update ci assets tasks
  .circleci/config.yml
Due: none

chore: add seeds and assets to gitlab
  .gitlab-ci.yml
Due: none

chore: move e2e for cirlce after stage deployment
  .circleci/config.yml
Due: none

chore: update yarn cache
  .circleci/config.yml
Due: none

chore: update circleci
  .circleci/config.yml
Due: none

chore: update gitlab ci
  .gitlab-ci.yml
Due: none

chore: update linked dirs
  config/deploy.rb
Due: rubocop

chore: update gitlab config
  .circleci/config.yml
  .gitlab-ci.yml
Due: none

fix: pry
  config/initializers/pry.rb
  cypress.json
Due: rubocop

chore: allow e2e user to be skip confirmation
  app/controllers/api/v1/users_controller.rb
Due: rubocop

chore: fix e2e specs
  .circleci/config.yml
  .gitlab-ci.yml
  test/javascript/e2e/specs/Images.spec.js
  test/javascript/e2e/specs/Roadmap.spec.js
  test/javascript/e2e/specs/Stations.spec.js
Due: yarn run lint:js

Path conditions:
  yarn run lint:js: any of: *.js
  yarn run lint:css: any of: *.{css,scss}
  yarn run lint: any of: *.vue
  rubocop: any of: *.{rb,erb,haml,jbuilder}
