Repository fleetyards/fleetyards: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run lint:js, yarn run lint:css, yarn run lint, rubocop

chore(release): new Version v3.57.0 (ArcCorp) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: rubocop

fix(csp): update manifest_src
  config/initializers/content_security_policy.rb
Due: rubocop

chore(release): new Version v3.57.1 (ArcCorp) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: rubocop

feat(fleets): dont cache model counts
  app/views/api/v1/fleets/_model.jbuilder
Due: rubocop

fix(fleets): fetch fleetchart
  app/javascript/frontend/pages/Fleets/Show/index.vue
Due: yarn run lint

chore(release): new Version v3.58.0 (ArcCorp) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: rubocop

fix(vehicles): update parent on upgrade/module change
  app/models/vehicle_module.rb
  app/models/vehicle_upgrade.rb
Due: rubocop

chore(release): new Version v3.58.1 (ArcCorp) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: rubocop

fix(hangar): update addons/modules update
  app/controllers/api/v1/vehicles_controller.rb
  app/controllers/application_controller.rb
Due: rubocop

chore(release): new Version v3.58.2 (ArcCorp) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: rubocop

fix(fleets): update template
  app/javascript/frontend/pages/Fleets/Show/index.vue
Due: yarn run lint

chore(release): new Version v3.58.3 (ArcCorp) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: rubocop

fix(signup): add uniqness validation for email
  app/models/user.rb
Due: rubocop

chore(release): new Version v3.58.4 (ArcCorp) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: rubocop

chore(ci): use yarn --frozen-lockfile
  .circleci/config.yml
Due: none

fix(avatar): update width
  app/javascript/frontend/components/Avatar/index.scss
  app/javascript/frontend/pages/Hangar/Public/index.vue
Due: yarn run lint:css, yarn run lint

chore(release): new Version v3.58.5 (ArcCorp) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: rubocop

feat(fleets): add fid and update validations
  app/controllers/api/v1/fleets_controller.rb
  app/javascript/frontend/pages/Fleets/Add/index.vue
  app/javascript/frontend/pages/Fleets/Settings/index.vue
  app/javascript/frontend/pages/Fleets/Show/index.vue
  app/javascript/translations/en/labels.js
  app/models/fleet.rb
  app/views/api/v1/fleets/_base.jbuilder
  app/views/api/v1/users/_fleet.jbuilder
  db/migrate/20200114200456_change_fields_in_fleets.rb
  db/migrate/20200114200650_add_name_to_fleets.rb
  db/migrate/20200114200848_prefill_fleet_names.rb
  db/schema.rb
Due: yarn run lint:js, yarn run lint, rubocop

chore(release): new Version v3.59.0 (ArcCorp) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: rubocop

fix(specs): update e2e test for fleets
  test/javascript/e2e/specs/Fleet.spec.js
Due: yarn run lint:js

feat(fleets): generate slugs from fid
  app/models/fleet.rb
Due: rubocop

fix(fleets): update regex
  app/javascript/frontend/pages/Fleets/Add/index.vue
Due: yarn run lint

chore(ts): add banner
  public/banner.jpg
Due: none

chore(release): new Version v3.60.0 (ArcCorp) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: rubocop

feat(fleet): update settings page
  app/javascript/frontend/pages/Fleets/Settings/Fleet/index.vue
  app/javascript/frontend/pages/Fleets/Settings/Membership/index.vue
  app/javascript/frontend/pages/Fleets/Settings/index.vue
  app/javascript/frontend/pages/Fleets/Settings/routes.js
  app/javascript/frontend/pages/Fleets/routes.js
  app/javascript/frontend/partials/Navigation/FleetNav/index.vue
  app/javascript/frontend/partials/Navigation/index.vue
  app/javascript/stylesheets/partials/tabs.scss
  app/javascript/translations/en/headlines.js
  app/javascript/translations/en/nav.js
  config/routes/frontend_routes.rb
Due: yarn run lint:js, yarn run lint:css, yarn run lint, rubocop

feat(fleet): allow dots in fleet name
  app/javascript/frontend/pages/Fleets/Add/index.vue
  app/javascript/frontend/pages/Fleets/Settings/Fleet/index.vue
  app/models/fleet.rb
  test/javascript/e2e/specs/Fleet.spec.js
Due: yarn run lint:js, yarn run lint, rubocop

chore(release): new Version v3.61.0 (ArcCorp) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: rubocop

chore(deps): min version for node-sass 4.13.1
  package.json
  yarn.lock
Due: none

chore(deps): update lock
  yarn.lock
Due: none

fix(fleet): update label
  app/javascript/frontend/pages/Fleets/Settings/Fleet/index.vue
Due: yarn run lint

feat(fleets): add additional info fields
  app/controllers/api/v1/fleet_memberships_controller.rb
  app/controllers/api/v1/fleets_controller.rb
  app/controllers/api/v1/users_controller.rb
  app/javascript/admin/components/ImageUploader/ImageRow/index.vue
  app/javascript/frontend/lib/Validations/index.js
  app/javascript/frontend/lib/Validations/rules/index.js
  app/javascript/frontend/lib/Validations/rules/url/index.js
  app/javascript/frontend/pages/Fleets/Add/index.vue
  app/javascript/frontend/pages/Fleets/Members/index.vue
  app/javascript/frontend/pages/Fleets/Settings/Fleet/index.vue
  app/javascript/frontend/pages/Fleets/Settings/Membership/index.vue
  app/javascript/frontend/pages/Fleets/Settings/index.vue
  app/javascript/frontend/pages/Fleets/Show/index.scss
  app/javascript/frontend/pages/Fleets/Show/index.vue
  app/javascript/frontend/pages/Fleets/routes.js
  app/javascript/frontend/pages/Settings/Profile/index.vue
  app/javascript/frontend/partials/Navigation/FleetNav/index.vue
  app/javascript/frontend/partials/Navigation/NavItem/index.vue
  app/javascript/frontend/partials/Navigation/UserNav/index.vue
  app/javascript/images/rsi_logo.png
  app/javascript/stylesheets/partials/flex.scss
  app/javascript/translations/en/labels.js
  app/javascript/translations/en/messages.js
  app/javascript/translations/en/placeholders.js
  app/models/fleet.rb
  app/models/fleet_membership.rb
  app/models/user.rb
  app/views/api/v1/fleet_memberships/_base.jbuilder
  app/views/api/v1/fleet_memberships/update.jbuilder
  app/views/api/v1/fleets/_base.jbuilder
  app/views/api/v1/fleets/_member.jbuilder
  app/views/api/v1/users/_base.jbuilder
  app/views/api/v1/users/_fleet.jbuilder
  config/routes/api_v1_routes.rb
  db/migrate/20200114200650_add_name_to_fleets.rb
  db/migrate/20200117194951_add_fields_to_fleets.rb
  db/schema.rb
Due: yarn run lint:js, yarn run lint:css, yarn run lint, rubocop

chore: rubocoptering
  app/views/api/v1/fleets/_base.jbuilder
  app/views/api/v1/users/_fleet.jbuilder
Due: rubocop

chore(cookies): add new banner
  app/javascript/frontend/App.vue
  app/javascript/frontend/components/Form/Checkbox/index.scss
  app/javascript/frontend/components/Form/Checkbox/index.vue
  app/javascript/frontend/lib/Ahoy/index.js
  app/javascript/frontend/lib/Store/modules/session/actions.js
  app/javascript/frontend/lib/Store/modules/session/index.js
  app/javascript/frontend/lib/Store/modules/session/state.js
  app/javascript/frontend/lib/Store/plugins.js
  app/javascript/frontend/pages/CookiePolicy/index.vue
  app/javascript/frontend/partials/AppFooter/index.scss
  app/javascript/frontend/partials/AppFooter/index.vue
  app/javascript/frontend/partials/BackToTop/index.scss
  app/javascript/frontend/partials/BackToTop/index.vue
  app/javascript/frontend/partials/CookiesBanner/index.scss
  app/javascript/frontend/partials/CookiesBanner/index.vue
  app/javascript/frontend/routes.js
  app/javascript/packs/frontend.js
  app/javascript/translations/en/labels.js
  app/javascript/translations/en/nav.js
  app/models/video.rb
  config/routes/frontend_routes.rb
  config/secrets.yml
Due: yarn run lint:js, yarn run lint:css, yarn run lint, rubocop

chore(release): new Version v3.62.0 (ArcCorp) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: rubocop

feat(cookies): update e2e specs
  app/javascript/frontend/pages/Fleets/Settings/Fleet/index.vue
  app/javascript/frontend/partials/CookiesBanner/index.vue
  test/javascript/e2e/specs/Fleet.spec.js
  test/javascript/e2e/specs/Footer.spec.js
  test/javascript/e2e/specs/Hangar.spec.js
  test/javascript/e2e/specs/Home.spec.js
  test/javascript/e2e/specs/Images.spec.js
  test/javascript/e2e/specs/Login.spec.js
  test/javascript/e2e/specs/Roadmap.spec.js
  test/javascript/e2e/specs/Ship.spec.js
  test/javascript/e2e/specs/Ships.spec.js
  test/javascript/e2e/specs/Signup.spec.js
  test/javascript/e2e/specs/Stations.spec.js
  test/javascript/e2e/specs/Stats.spec.js
  test/javascript/e2e/support/commands.js
Due: yarn run lint:js, yarn run lint

chore(cookies): update e2e specs
  test/javascript/e2e/support/commands.js
Due: yarn run lint:js

chore(cookies): update banner
  app/javascript/frontend/App.vue
  app/javascript/frontend/components/Btn/index.vue
  app/javascript/frontend/lib/Store/modules/session/actions.js
  app/javascript/frontend/lib/Store/modules/session/index.js
  app/javascript/frontend/lib/Store/modules/session/state.js
  app/javascript/frontend/lib/Store/plugins.js
  app/javascript/frontend/pages/Models/Show/Videos/index.vue
  app/javascript/frontend/pages/Models/Show/index.vue
  app/javascript/frontend/pages/PrivacyPolicy/index.scss
  app/javascript/frontend/pages/PrivacyPolicy/index.vue
  app/javascript/frontend/partials/AppFooter/index.vue
  app/javascript/frontend/partials/CookiesBanner/index.scss
  app/javascript/frontend/partials/CookiesBanner/index.vue
  app/javascript/frontend/partials/PrivacySettings/index.scss
  app/javascript/frontend/partials/PrivacySettings/index.vue
  app/javascript/packs/frontend.js
  app/javascript/stylesheets/partials/buttons.scss
  app/javascript/stylesheets/partials/media.scss
  app/javascript/translations/en.js
  app/javascript/translations/en/cookies.js
  app/javascript/translations/en/labels.js
  app/javascript/translations/en/messages.js
  app/javascript/translations/en/privacySettings.js
  app/javascript/translations/en/texts.js
  config/initializers/content_security_policy.rb
  test/javascript/e2e/specs/Fleet.spec.js
  test/javascript/e2e/specs/Footer.spec.js
  test/javascript/e2e/specs/Hangar.spec.js
  test/javascript/e2e/specs/Home.spec.js
  test/javascript/e2e/specs/Images.spec.js
  test/javascript/e2e/specs/Login.spec.js
  test/javascript/e2e/specs/Roadmap.spec.js
  test/javascript/e2e/specs/Ship.spec.js
  test/javascript/e2e/specs/Ships.spec.js
  test/javascript/e2e/specs/Signup.spec.js
  test/javascript/e2e/specs/Stations.spec.js
  test/javascript/e2e/specs/Stats.spec.js
Due: yarn run lint:js, yarn run lint:css, yarn run lint, rubocop

fix(specs): update test labels
  app/javascript/frontend/pages/Login/index.vue
  app/javascript/frontend/partials/AppFooter/__tests__/spec.js
  test/javascript/e2e/specs/Login.spec.js
  test/javascript/e2e/support/commands.js
Due: yarn run lint:js, yarn run lint

fix(specs): update ships spec
  test/javascript/e2e/specs/Ships.spec.js
Due: yarn run lint:js

Path conditions:
  yarn run lint:js: any of: *.js
  yarn run lint:css: any of: *.{css,scss}
  yarn run lint: any of: *.vue
  rubocop: any of: *.{rb,erb,haml,jbuilder}
