Repository fleetyards/fleetyards: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run lint:js, yarn run lint:css, yarn run lint, rubocop

.lintstagedrc:

{
  "*.js": [
    "yarn run lint:js",
    "git add"
  ],
  "*.{css,scss}": [
    "yarn run lint:css",
    "git add"
  ],
  "*.vue": [
    "yarn run lint",
    "git add"
  ],
  "*.{rb,erb,haml,jbuilder}": [
    "rubocop",
    "git add"
  ]
}

refactor(images): use background-images again
  app/controllers/api/v1/images_controller.rb
  app/javascript/frontend/components/LazyImage/index.scss
  app/javascript/frontend/components/LazyImage/index.vue
  app/javascript/frontend/components/TeaserPanel/index.scss
  app/javascript/frontend/pages/Home/index.vue
  test/javascript/e2e/specs/Home.spec.js
Due: yarn run lint:js, yarn run lint:css, yarn run lint, rubocop

chore(release): new Version v3.2.56 (ArcCorp) [ci skip]
  config/version.rb
Due: rubocop

feat(roadmap): fix negative inprogress count
  app/javascript/frontend/partials/Roadmap/RoadmapItem/index.vue
Due: yarn run lint

chore(ci): disable audit for now
  .circleci/config.yml
Due: none

chore(release): new Version v3.2.57 (ArcCorp) [ci skip]
  config/version.rb
Due: rubocop

feat(model): update panel
  app/javascript/frontend/components/Models/Panel/index.scss
  app/javascript/frontend/components/Models/Panel/index.vue
Due: yarn run lint:css, yarn run lint

feat(model): update panel image
  app/javascript/frontend/components/LazyImage/index.vue
  app/javascript/frontend/components/Models/Panel/index.scss
  app/javascript/frontend/components/Models/Panel/index.vue
Due: yarn run lint:css, yarn run lint

chore(release): new Version v3.2.58 (ArcCorp) [ci skip]
  config/version.rb
Due: rubocop

feat(noty): update notification styling
  app/javascript/stylesheets/partials/noty.scss
Due: yarn run lint:css

chore(changelog): add standard version for changelog generation
  lib/tasks/release.thor
  package.json
  yarn.lock
Due: none

chore(release): new Version v3.3.0 (ArcCorp) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: rubocop

chore(ci): run check only every week
  .circleci/config.yml
  config/schedule.yml
Due: none

chore(deps): upgrade to corejs 3
  app/javascript/packs/admin.js
  app/javascript/packs/embed.js
  app/javascript/packs/embed_v2.js
  app/javascript/packs/frontend.js
  babel.config.js
  package.json
  yarn.lock
Due: yarn run lint:js

chore(deps): upgrade to corejs 3 (#692)
  app/javascript/packs/admin.js
  app/javascript/packs/embed.js
  app/javascript/packs/embed_v2.js
  app/javascript/packs/frontend.js
  babel.config.js
  package.json
  yarn.lock
Due: yarn run lint:js

chore(ci): reenable daily ci checks
  .circleci/config.yml
Due: none

chore(ci): remove unused dependency and add npm
  docker/base/Dockerfile
Due: none

chore(rubocop): cleanup rules
  .rubocop.yml
  config/routes/admin_routes.rb
  config/routes/api_routes.rb
  config/routes/frontend_routes.rb
Due: rubocop

chore(release): new Version v3.3.1 (ArcCorp) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: rubocop

refactor(settings): seperate hangar settings from profile
  app/javascript/frontend/lib/Store/modules/hangar/index.js
  app/javascript/frontend/pages/Settings/Account/index.vue
  app/javascript/frontend/pages/Settings/Hangar/index.vue
  app/javascript/frontend/pages/Settings/Profile/index.vue
  app/javascript/frontend/pages/Settings/Verify/index.vue
  app/javascript/frontend/pages/Settings/index.vue
  app/javascript/frontend/pages/Settings/routes.js
  app/javascript/frontend/pages/Stations/routes.js
  app/javascript/frontend/partials/HangarGuide/index.vue
  app/javascript/frontend/partials/Navigation/index.vue
  app/javascript/frontend/routes.js
  app/javascript/translations/en/headlines.js
  app/javascript/translations/en/nav.js
  app/javascript/translations/en/title.js
  config/locales/en/en.yml
  config/routes/frontend_routes.rb
Due: yarn run lint:js, yarn run lint, rubocop

chore(deps): update vee-validate
  package.json
  yarn.lock
Due: none

chore(release): update semanticversioning
  .versionrc
  lib/tasks/release.thor
Due: none

chore(frontend): cleanup controllers
  app/controllers/frontend/base_controller.rb
  app/controllers/frontend/embed_controller.rb
  app/controllers/frontend/service_worker.rb
  app/helpers/prefetch_helper.rb
  app/views/frontend/index.html.erb
  config/routes/frontend_routes.rb
Due: rubocop

feat(embed): reuse LazyImage component and add sales icon
  app/javascript/embed/partials/Models/Panel/index.scss
  app/javascript/embed/partials/Models/Panel/index.vue
Due: yarn run lint:css, yarn run lint

feat(hangar-export): add csv export for hangar data
  app/controllers/api/v1/vehicles_controller.rb
  app/controllers/frontend/base_controller.rb
  app/controllers/frontend/embed_controller.rb
  app/controllers/frontend/hangar_controller.rb
  app/controllers/frontend/service_worker.rb
  app/javascript/embed/partials/Models/Panel/index.vue
  app/javascript/frontend/components/LazyImage/index.scss
  app/javascript/frontend/lib/ApiClient/index.js
  app/javascript/frontend/pages/Hangar/index.vue
  app/javascript/translations/en/actions.js
  app/models/vehicle.rb
  config/routes/api_v1_routes.rb
  config/routes/frontend_routes.rb
Due: yarn run lint:js, yarn run lint:css, yarn run lint, rubocop

feat(hangar-export): add csv export for hangar data (#699)
  app/controllers/api/v1/vehicles_controller.rb
  app/controllers/frontend/base_controller.rb
  app/controllers/frontend/embed_controller.rb
  app/controllers/frontend/hangar_controller.rb
  app/controllers/frontend/service_worker.rb
  app/javascript/embed/partials/Models/Panel/index.vue
  app/javascript/frontend/components/LazyImage/index.scss
  app/javascript/frontend/lib/ApiClient/index.js
  app/javascript/frontend/pages/Hangar/index.vue
  app/javascript/translations/en/actions.js
  app/models/vehicle.rb
  config/routes/api_v1_routes.rb
  config/routes/frontend_routes.rb
Due: yarn run lint:js, yarn run lint:css, yarn run lint, rubocop

chore(lint): rubocoptering
  app/controllers/api/v1/vehicles_controller.rb
Due: rubocop

fix(model-import): allow override of multiple fields
  app/controllers/api/v1/models_controller.rb
  app/controllers/api/v1/vehicles_controller.rb
  app/controllers/frontend/base_controller.rb
  app/controllers/frontend/hangar_controller.rb
  app/javascript/frontend/pages/Hangar/Import/index.vue
  app/javascript/frontend/pages/Hangar/Public/index.vue
  app/javascript/frontend/pages/Hangar/index.vue
  app/javascript/frontend/routes.js
  app/javascript/stylesheets/partials/flex.scss
  app/javascript/translations/en/headlines.js
  app/javascript/translations/en/messages.js
  app/javascript/translations/en/title.js
  app/models/model.rb
  app/models/vehicle.rb
  app/views/api/v1/models/_base.jbuilder
  app/views/api/v1/vehicles/_minimal.jbuilder
  app/views/api/v1/vehicles/hangar.jbuilder
  config/locales/en/en.yml
  config/routes/api_v1_routes.rb
  config/routes/frontend_routes.rb
  db/migrate/20190720211229_add_rsi_fields_to_models.rb
  db/schema.rb
  lib/rsi_models_loader.rb
  package.json
  test/fixtures/models.yml
  yarn.lock
Due: yarn run lint:js, yarn run lint:css, yarn run lint, rubocop

chore(linting): update files for js linter
  app/javascript/frontend/routes.js
Due: yarn run lint:js

chore(release): new Version v3.4.0 (ArcCorp) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: rubocop

refactor(models): remove fallback fields and update admin form
  app/controllers/admin/models_controller.rb
  app/controllers/api/v1/models_controller.rb
  app/controllers/api/v1/vehicles_controller.rb
  app/views/admin/models/_form.haml
  app/views/api/v1/models/_base.jbuilder
  db/migrate/20190721070133_remove_fallback_fields_from_model.rb
  db/schema.rb
  test/fixtures/models.yml
Due: rubocop

chore(release): new Version v3.4.1 (ArcCorp) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: rubocop

chore(models): update vat percent
  lib/rsi_models_loader.rb
Due: rubocop

chore(release): new Version v3.4.2 (ArcCorp) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: rubocop

feat(hangar): add stats page
  app/controllers/api/v1/stats_controller.rb
  app/controllers/api/v1/vehicles_controller.rb
  app/helpers/chart_helper.rb
  app/javascript/frontend/components/Panel/index.vue
  app/javascript/frontend/pages/Hangar/Public/index.vue
  app/javascript/frontend/pages/Hangar/Stats/index.vue
  app/javascript/frontend/pages/Hangar/index.vue
  app/javascript/frontend/routes.js
  app/javascript/stylesheets/partials/panel.scss
  app/javascript/translations/en/headlines.js
  app/javascript/translations/en/labels.js
  app/javascript/translations/en/title.js
  app/models/user.rb
  app/views/api/v1/fleets/count.jbuilder
  app/views/api/v1/stats/quick_stats.jbuilder
  app/views/api/v1/vehicles/_classification_count.jbuilder
  app/views/api/v1/vehicles/_classification_quick_stats.jbuilder
  app/views/api/v1/vehicles/count.jbuilder
  app/views/api/v1/vehicles/public_count.jbuilder
  app/views/api/v1/vehicles/public_quick_stats.jbuilder
  app/views/api/v1/vehicles/quick_stats.jbuilder
  config/locales/en/en.yml
  config/routes/api_v1_routes.rb
  config/routes/frontend_routes.rb
  test/controllers/api/v1/vehicles_controller_test.rb
Due: yarn run lint:js, yarn run lint:css, yarn run lint, rubocop

feat(hangar): add stats page (#718)
  app/controllers/api/v1/stats_controller.rb
  app/controllers/api/v1/vehicles_controller.rb
  app/helpers/chart_helper.rb
  app/javascript/frontend/components/Panel/index.vue
  app/javascript/frontend/pages/Hangar/Public/index.vue
  app/javascript/frontend/pages/Hangar/Stats/index.vue
  app/javascript/frontend/pages/Hangar/index.vue
  app/javascript/frontend/routes.js
  app/javascript/stylesheets/partials/panel.scss
  app/javascript/translations/en/headlines.js
  app/javascript/translations/en/labels.js
  app/javascript/translations/en/title.js
  app/models/user.rb
  app/views/api/v1/fleets/count.jbuilder
  app/views/api/v1/stats/quick_stats.jbuilder
  app/views/api/v1/vehicles/_classification_count.jbuilder
  app/views/api/v1/vehicles/_classification_quick_stats.jbuilder
  app/views/api/v1/vehicles/count.jbuilder
  app/views/api/v1/vehicles/public_count.jbuilder
  app/views/api/v1/vehicles/public_quick_stats.jbuilder
  app/views/api/v1/vehicles/quick_stats.jbuilder
  config/locales/en/en.yml
  config/routes/api_v1_routes.rb
  config/routes/frontend_routes.rb
  test/controllers/api/v1/vehicles_controller_test.rb
Due: yarn run lint:js, yarn run lint:css, yarn run lint, rubocop

chore(release): new Version v3.5.0 (ArcCorp) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: rubocop

fix(hangar): use correct counts for manufacture pie chart
  app/controllers/api/v1/vehicles_controller.rb
Due: rubocop

chore(release): new Version v3.5.1 (ArcCorp) [ci skip]
  CHANGELOG.md
  config/version.rb
  package.json
Due: rubocop
