Repository fleetyards/fleetyards: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn run lint:js, yarn run lint:css, yarn run lint, rubocop

.lintstagedrc:

{
  "*.js": [
    "yarn run lint:js",
    "git add"
  ],
  "*.{css,scss}": [
    "yarn run lint:css",
    "git add"
  ],
  "*.vue": [
    "yarn run lint",
    "git add"
  ],
  "*.{rb,erb,haml,jbuilder}": [
    "rubocop",
    "git add"
  ]
}

chore(release): new Version v3.2.31 (ArcCorp) [ci skip]
  config/version.rb
Due: rubocop

feat(filters): add price and length filters to models and vehicles
  app/controllers/api/v1/models_controller.rb
  app/controllers/api/v1/vehicles_controller.rb
  app/javascript/frontend/partials/Models/FilterForm/index.vue
  app/javascript/frontend/partials/Vehicles/FilterForm/index.vue
  app/javascript/translations/en.json
  app/models/vehicle.rb
Due: yarn run lint, rubocop

chore(release): new Version v3.2.32 (ArcCorp) [ci skip]
  config/version.rb
Due: rubocop

feat(will-it-fit): add filter to models
  .lintstagedrc
  .rubocop.yml
  app/controllers/admin/models_controller.rb
  app/controllers/admin/stations_controller.rb
  app/controllers/api/v1/manufacturers_controller.rb
  app/controllers/api/v1/models_controller.rb
  app/javascript/frontend/mixins/Filters/index.js
  app/javascript/frontend/partials/Models/FilterForm/index.vue
  app/javascript/translations/en.json
  app/models/dock.rb
  app/models/model.rb
  app/views/admin/models/_form.haml
  app/views/api/v1/models/_complete.jbuilder
  app/views/api/v1/models/_dock.jbuilder
  app/views/api/v1/models/with_docks.jbuilder
  app/views/models/_dock_fields.haml
  config/locales/en/helpers.yml
  config/routes/api_v1_routes.rb
  db/migrate/20190616125843_add_fields_to_models.rb
  db/migrate/20190616130120_add_hangar_fields_to_models.rb
  db/migrate/20190616142057_add_hangar_fields_to_docks.rb
  db/schema.rb
  lib/rsi_models_loader.rb
Due: yarn run lint:js, yarn run lint, rubocop

feat(will-it-fit): fix specs
  lib/rsi_models_loader.rb
Due: rubocop

feat(models): add dock size to ships
  app/controllers/admin/models_controller.rb
  app/models/model.rb
  app/views/admin/models/_form.haml
  config/locales/en/helpers.yml
  db/migrate/20190616184414_add_dock_size_to_models.rb
  db/schema.rb
Due: rubocop

fix(model-loader): update updated check
  lib/rsi_models_loader.rb
Due: rubocop

chore(release): new Version v3.2.33 (ArcCorp) [ci skip]
  config/version.rb
Due: rubocop

feat(models): add spacing to will it fit calculation
  app/controllers/api/v1/models_controller.rb
Due: rubocop

chore(release): new Version v3.2.34 (ArcCorp) [ci skip]
  config/version.rb
Due: rubocop

feat(embed): add v2 with option to reload ship list
  app/controllers/frontend/base_controller.rb
  app/javascript/embed/FleetyardsView.vue
  app/javascript/embed/lib/Store/state.js
  app/javascript/packs/embed_v2.js
  app/javascript/stylesheets/embed-v2.scss
  app/views/frontend/embed_v2.js.erb
  app/views/layouts/embed_v2_test.html.erb
  config/initializers/assets.rb
  config/routes/frontend_routes.rb
Due: yarn run lint:js, yarn run lint:css, yarn run lint, rubocop

chore(release): new Version v3.2.35 (ArcCorp) [ci skip]
  config/version.rb
Due: rubocop

fix(embed): update scale store mutation
  app/javascript/embed/FleetyardsView.vue
Due: yarn run lint

chore(release): new Version v3.2.36 (ArcCorp) [ci skip]
  config/version.rb
Due: rubocop

fix(hangar): update public page
  app/javascript/embed/FleetyardsView.vue
  app/javascript/frontend/components/Models/Panel/index.vue
  app/javascript/frontend/pages/Hangar/Public/index.vue
  app/javascript/frontend/pages/Hangar/index.vue
  app/views/layouts/embed_v2_test.html.erb
Due: yarn run lint, rubocop

chore(release): new Version v3.2.37 (ArcCorp) [ci skip]
  config/version.rb
Due: rubocop

fix(stations): update panel border radius
  app/javascript/frontend/partials/Stations/Panel/styles/index.scss
  app/javascript/packs/admin.js
  app/javascript/packs/frontend.js
  app/javascript/stylesheets/admin.scss
  app/javascript/stylesheets/frontend.scss
  app/views/layouts/admin/_head.slim
Due: yarn run lint:js, yarn run lint:css

chore(release): new Version v3.2.38 (ArcCorp) [ci skip]
  config/version.rb
Due: rubocop

fix(slider): use v-model
  app/javascript/frontend/partials/FleetchartSlider/index.vue
Due: yarn run lint

chore(release): new Version v3.2.39 (ArcCorp) [ci skip]
  config/version.rb
Due: rubocop

feat(roadmap): update images
  app/javascript/frontend/partials/Roadmap/RoadmapItem/index.vue
  app/views/api/v1/roadmap/_base.jbuilder
Due: yarn run lint, rubocop

chore(release): new Version v3.2.40 (ArcCorp) [ci skip]
  config/version.rb
Due: rubocop

fix(models): update dock fields and calculation
  app/controllers/api/v1/models_controller.rb
  app/views/models/_dock_fields.haml
Due: rubocop

chore(release): new Version v3.2.41 (ArcCorp) [ci skip]
  config/version.rb
Due: rubocop

fix(filter): update filter handling for quicksearch
  app/javascript/frontend/mixins/Filters/index.js
  app/javascript/frontend/partials/EmptyBox/index.vue
  app/javascript/frontend/partials/Models/FilterForm/index.vue
  app/javascript/frontend/partials/Navigation/QuickSearch/index.vue
  app/javascript/translations/en.json
Due: yarn run lint:js, yarn run lint

chore(release): new Version v3.2.42 (ArcCorp) [ci skip]
  config/version.rb
Due: rubocop

feat(gallery): add copy url action
  app/javascript/frontend/components/Gallery/index.vue
  app/javascript/stylesheets/vendor/photoswipe/default-skin.css
  app/javascript/translations/en.json
Due: yarn run lint:css, yarn run lint

chore(release): new Version v3.2.43 (ArcCorp) [ci skip]
  config/version.rb
Due: rubocop

feat(will-it-fit): add ground vehicle flag to models
  app/controllers/admin/models_controller.rb
  app/views/admin/models/_form.haml
  config/locales/en/activerecord.yml
  db/migrate/20190701120918_add_field_to_models.rb
  db/schema.rb
  lib/rsi_models_loader.rb
Due: rubocop

chore(cleanup): remove unused plugin
  app/javascript/frontend/lib/DataPrefetch/index.js
  app/javascript/frontend/lib/DataPrefill/index.js
Due: yarn run lint:js

chore(release): new Version v3.2.44 (ArcCorp) [ci skip]
  config/version.rb
Due: rubocop

feat(will-it-fit): update calculations
  app/controllers/api/v1/models_controller.rb
Due: rubocop

feat(will-it-fit): update loader
  lib/rsi_models_loader.rb
Due: rubocop

chore(release): new Version v3.2.45 (ArcCorp) [ci skip]
  config/version.rb
Due: rubocop

fix(will-it-fit): update query
  app/controllers/api/v1/models_controller.rb
Due: rubocop

chore(release): new Version v3.2.46 (ArcCorp) [ci skip]
  config/version.rb
Due: rubocop

chore(release): new Version v3.2.47 (ArcCorp) [ci skip]
  config/version.rb
Due: rubocop

chore(release): new Version v3.2.48 (ArcCorp) [ci skip]
  config/version.rb
Due: rubocop
